{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}
{% block meta %}Calendar{% endblock %}

{% block body %}

<h1>Catégories </h1>
<div id="categories-past-events">
    <p id="showAllEvents">Events</p>
    <p id="showAllExpos" >Expositions</p>
    <p id="showAllWorkshops" >workshops</p>
    <p id="showAll" >All</p>
    <br>
    <br>
    <br>
</div>

<h1> 5 lastest events</h1>
<div id="all-previous">

    {% for latestEvent in latestEvents %}
        <p>{{latestEvent.name}}</p>
    {% endfor %}
</div>

<h1>all last events</h1>
<div id="eventContainer"></div>

<h1>all last workshops</h1>
<div id="workshopContainer"></div>

<h1>all last expositions</h1>
<div id="expoContainer"></div>

<h1>all</h1>
<div id="allContainer"></div>


<script>

    // ARCHIVED EVENTS
    $(document).ready(function() {
        // Variable to track the state of event display
        var eventsVisible = false;
    
        // Function to load or hide events
        function toggleEvents() {
            if (eventsVisible) {
                // If events are already displayed, hide them
                $('#eventContainer').empty();
                eventsVisible = false;
            } else {
                // Otherwise, load events and display them
                $.ajax({
                    url: '/all-past-events',
                    method: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        $('#eventContainer').empty();
                        response.forEach(function(event) {
                            $('#eventContainer').append('<p>' + event.name + ' ||' + event.date + '</p>');
                        });
                        eventsVisible = true;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error while retrieving past events :', error);
                    }
                });
            }
        }
        // Attach a click handler to the button to load or hide events
        $('#showAllEvents').click(toggleEvents);
    });



     // ARCHIVED EXPO
     $(document).ready(function() {
        var exposVisible = false;
    
        function toggleEvents() {
            if (exposVisible) {
                $('#expoContainer').empty();
                exposVisible = false;
            } else {
                $.ajax({
                    url: '/all-past-expositions',
                    method: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        $('#expoContainer').empty();
                        response.forEach(function(expo) {
                            $('#expoContainer').append('<p>' + expo.name + '</p>');
                        });
                        exposVisible = true;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error while retrieving past expositions :', error);
                    }
                });
            }
        }
        $('#showAllExpos').click(toggleEvents);
    });

    
    // ARCHIVED WORKSHOPS
    $(document).ready(function() {
        var workshopsVisible = false;
    
        function toggleEvents() {
            if (workshopsVisible) {
                $('#workshopContainer').empty();
                workshopsVisible = false;
            } else {
                $.ajax({
                    url: '/all-past-workshops',
                    method: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        $('#workshopContainer').empty();
                        response.forEach(function(workshop) {
                            $('#workshopContainer').append('<p>' + workshop.name + '</p>');
                        });
                        workshopsVisible = true;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error while retrieving past workshops :', error);
                    }
                });
            }
        }
        $('#showAllWorkshops').click(toggleEvents);
    });


    // ALL
    $(document).ready(function() {
        var allContentVisible = false;
    
        function toggleEvents() {
            if (allContentVisible) {
                $('#allContainer').empty();
                allContentVisible = false;
            } else {
                $.ajax({
                    url: '/all-past-content',
                    method: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        $('#allContainer').empty();
                        response.forEach(function(item) {
                            $('#allContainer').append('<p>' + item.name + '</p>');
                        });
                        allContentVisible = true;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error while retrieving past content :', error);
                    }
                });
            }
        }
        $('#showAll').click(toggleEvents);
    });


</script>

{% endblock %}
