{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block meta %}{% endblock %}

{% block body %}

<p>You have been successfully registered for this event. A confirmation e-mail has been sent to you. </p>
<p>You'll find all the details in this PDF file. Please present it when you come to the event. </p>
<button>DOWNLOAD PDF</button>

<button>Go back to home</button>


{% endblock %}
