{% extends 'base.html.twig' %}

{% block title %}Detail Event{% endblock %}

{% block body %}

    <h1>Event:</h1>
    
    <h2>Infos</h2> <br>
    <p>Name: {{area.name}}</p>
    <p>Description: {{area.description}}</p>


    <hr>
    
    <p>Want to participate ? <br>

    {% if area.nbReversationRemaining == 0 %}
    <p>No more rooms avalaible</p>
    {% else %}
        {# <a href="{{ path('new_event_participation', {'id': area.id }) }}">Participate</a></p> #}
    {% endif %}


{% endblock %}
