{% extends 'base.html.twig' %}

{% block title %}Detail Event{% endblock %}

{% block body %}

    <h1>Event:</h1>



    
    <p>✦{{event.name}}| {{event.status}} | {{event.nbPlace}} </p> 

    <p>see more</p>
    <hr>
    



{% endblock %}
