{% extends 'base.html.twig' %}

{% block title %}Home2{% endblock %}
{% block meta %}Test home!2{% endblock %}

{% block body %}
    {# ------------------- 
    //  ███████ ██      ██ ██████  ███████ ███████ 
    //  ██      ██      ██ ██   ██ ██      ██      
    //  ███████ ██      ██ ██   ██ █████   ███████ 
    //       ██ ██      ██ ██   ██ ██           ██ 
    //  ███████ ███████ ██ ██████  ███████ ███████
    ------------------- #}

    <section id="slides-container">
        
        <div id="slides">
            <div class="slides-arrow left" ></div>
            <div class="slide" id="slide1" >
                <picture class="slide-picture">
                    <img src="" alt="">
                </picture>
    
                <div class="slide-text" >
                    <h2>Unleash <br> the Art<span class="underscore-static" style="visibility:hidden;">_</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. In ex mauris, da.</p>
                    {# <div class="test">READ MORE</div> #}
                    <div class="button btn6">READ MORE</div>
                </div>
    
                {# <picture class="slide-picture">
                    <img src="" alt="">
                </picture> #}
            </div>
    
            <div class="slide" id="slide2" style="display:none" >
                <picture class="slide-picture">
                    <img src="" alt="">
                </picture>
    
                <div class="slide-text">
                    <h2>Unleash <br> the Art<span class="underscore-static" style="visibility:hidden;">_</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. In ex mauris, da.</p>
                    <div class="button btn6">DISCOVER</div>
                </div>
    
                {# <picture class="slide-picture">
                    <img src="" alt="">
                </picture> #}
            </div>
    
            <div class="slide" id="slide3" style="display:none">
                <picture class="slide-picture">
                    <img src="" alt="">
                </picture>
    
                <div class="slide-text">
                    <h2>Unleash <br> the Art<span class="underscore-static" style="visibility:hidden;">_</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. In ex mauris, da.</p>
                    <div class="button btn6">DISCOVER</div>
                </div>
    
                {# <picture class="slide-picture">
                    <img src="" alt="">
                </picture> #}
            </div>
            <div class="slides-arrow right"></div>
        </div>
        


    </section>


{# ------------------- 
//   ██████  ██    ██  ██████  ████████ ███████ 
//  ██    ██ ██    ██ ██    ██    ██    ██      
//  ██    ██ ██    ██ ██    ██    ██    █████   
//  ██ ▄▄ ██ ██    ██ ██    ██    ██    ██      
//   ██████   ██████   ██████     ██    ███████ 
//      ▀▀                                     
------------------- #}

    <section id="quote">
                <div></div>

                <div  id="wrapper">
                    <div><i class="ri-double-quotes-r"></i></div>
                    <div>
                        <p>There is  <span class="accent-text">  always </span> something new <br>
                        and  <span class="accent-text"> fascinating </span> to discover<span class="underscore">_</span></p>
                    </div>
                </div>
    </section>

    <section id="section-quote">

        <div>
            <p>Events</p>
            <p>Expositions</p>
            <p>Workshop</p>
        </div>
  

    <div id="carousel">
        <p>Our latest activities</p>
        <p>Come to join us the next time !</p>

    </div>

    </section>

    <section id="section-artist">

    </section>

    <section id="section-contact">

    </section>

    <section id="section-map">

    </section>

     {# Jquery #}
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
     <script src="{{ asset('js/main.js') }}"></script>
     <script src="{{ asset('js/gwl.js') }}"></script> 

     <script src= "{{ asset('js/gsap.min.js') }}"></script>
   

    <script>

            function isElementInViewport(el) {
                const rect = el.getBoundingClientRect();
                return rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight);
            }

            function changeColorsOnScroll() {
                var accentTexts = document.querySelectorAll('.accent-text');
            
                // Parcourir tous les éléments avec la classe 'accent-text'
                accentTexts.forEach(function(accentText, index) {
                    // Vérifier si l'élément est dans la vue de la fenêtre du navigateur
                    if (isElementInViewport(accentText)) {
                        // Changer la couleur du premier élément
                        if (index === 0) {
                            gsap.to(accentText, { color: '#eeaf42' }); // Couleur + durée de l'animation
                        } else {
                            // Changer la couleur du deuxième élément après un délai
                            gsap.to(accentText, { color: '#eeaf42', delay: 0.3 }); // couleur +  durée de l'animation et délai
                        }
                    } else {
                        // L'élément n'est pas dans la vue, rétablir sa couleur par défaut
                        accentText.style.color = ''; 
                    }
                });
            }
       
            window.addEventListener('scroll', changeColorsOnScroll);
           
    
    </script>
{% endblock %}
