{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - MOSAIC{% endblock %}
{% block meta %}Our privacy policy outlines how we handle your personal information, ensuring transparency and security. Understand your rights and our practices regarding data collection, usage, and protection.{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">privacy policy</h1>
        <div class="subtitle">
            <p class="banner-text">Be informed</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>


<section class="content dashboard create-event" id="privacy-policy">
      <h1>test</h1>
</section>


     
{% endblock %}
