{% extends 'base.html.twig' %}

{% block title %}Terms of Use - MOSAIC{% endblock %}
{% block meta %}Review our Terms: GTCU and GTCS. Understand policies on website usage, services, and purchases.{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">Terms of Use</h1>
        <div class="subtitle">
            <p class="banner-text">Be informed</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>


<section class="content dashboard create-event" id="privacy-policy">
      <h1>test</h1>
</section>


     
{% endblock %}
