{% extends 'base.html.twig' %}

{% block title %}Terms of Use - MOSAIC{% endblock %}
{% block meta %}Our Terms of Use encompass both the General Terms and Conditions of Use (GTCU) and the General Terms and Conditions of Sale (GTCS). Familiarize yourself with our policies regarding website usage, services, and purchases.{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">Terms of Use</h1>
        <div class="subtitle">
            <p class="banner-text">Be informed</p>
            <div class="underscore-blink"> </div>
        </div>
    </div>
</div>


<section class="content dashboard create-event" id="privacy-policy">
      <h1>test</h1>
</section>


     
{% endblock %}
