
{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

<h1>test style</h1>

<div class="component">
    <div class='btn2 btn-color btn-l-r'>button</div>
    <div class="space"></div>
    <div class='btn3'>button</div>
</div>

{% endblock %}
