@import 'settings';
@import 'component';

// ---------------------------------
//  ██ ███    ██ ██████  ███████ ██   ██ 
//  ██ ████   ██ ██   ██ ██       ██ ██  
//  ██ ██ ██  ██ ██   ██ █████     ███   
//  ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------

#artists-index {
    .categories {
        @include center-flexbox();
        padding-bottom: 2.5rem;
        column-gap: 3rem;
       
        .category {
            cursor: pointer;
            text-transform: uppercase;
            transition: ease-in-out 0.3s;
            &:hover {
                color: $secondary-color3;
                transform: translateY(-5px);
            }
        }
        #all {
            &:hover {
                color: $secondary-color;
            }
        }
        #more-filters-btn {
            cursor: pointer;
            text-transform: uppercase;
            @include center-flexbox();

            &:hover {
                color:  $secondary-color3;

                span {
                    color:  $secondary-color3;
                }
            }
        }
    }
    #artists-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: flex;
        gap: 5rem; 
       

        .hover2{
            width: 23.5rem;
            height: 23.5rem;
            background-color: black;

            img {
                object-fit: cover;
            }
        }

    }

    #reset-btn {
        text-transform: uppercase;
        border: 1px solid $secondary-color;
        font-weight: 500;
        padding: 0 0.6rem;
        transition: $transition-basic;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

img {
    object-fit: cover;
}

#cross-filters {
    background-color: $secondary-color;
    height: 15px;
    width: 2px;
    position: relative;
    margin-right: 0.7rem;
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: $secondary-color3;
    }
    &:before {
        content: "";
        position: absolute;
        background-color: inherit;
        height: inherit;
        width: inherit;
        transform: rotate(90deg);
    }
}

#more-filters {
    margin-bottom: 3rem;
    .form-search-username-discipline {
    
        form {
            @include center-flexbox();
        }
    }

    p {
        font-weight: $semi-bold;
        margin-right: 2rem;
    }

    input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $secondary-color;
        width: 16rem;
        margin-right: 4rem;
        outline: none;
    }

    button {
        background-color: transparent;
        text-transform: uppercase;
        padding: 0.3rem 1.7rem;
        border: 1px solid $secondary-color;
        color: $secondary-color;
        font-weight: $bold;
        transition: ease-in-out 0.6s;

        &:hover {
            background-color: $main-black-color; 
        }
    }
}



// ^ MEDIA QUERIES - ARTIST - INDEX
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:600px) { 
    #artists-index {
        #artists-container {
            justify-content: center;
            gap: 2rem;
            .hover2{
                height: 23rem;
                width: 23rem;
            }
        }
    }
    #artists-index .categories {
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 0.5rem;
        padding: 0rem 1.2rem 2.5rem 1.2rem;
    }
    #more-filters .form-search-username-discipline form {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.3rem;
    }
    #more-filters {
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
    }
}

// & SMALL SCREEN
@media screen and (min-width:600px) and (max-width:770px) { 
    #artists-index {
        #artists-container {
            justify-content: center;
            gap: 3rem;
            .hover2{
                height: 30rem;
                width: 30rem;
            }
        }
    }
    #artists-index .categories {
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 0.5rem;
        padding: 0rem 1.2rem 2.5rem 1.2rem;
    }
    #more-filters .form-search-username-discipline form {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.3rem;
    }
    #more-filters {
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:770px) and (max-width:1200px) { 
    #artists-index {
        #artists-container {
            gap: 2rem;
            padding: 0rem 1rem;
  
            .hover2{
                width: 18rem;
                height: 18rem;
            }
        }
    }
    #artists-index .categories {
        flex-wrap: wrap;
        padding-bottom: 2.5rem;
        column-gap: 3rem;
        row-gap: 0.5rem;
    }
    #more-filters .form-search-username-discipline form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
    }
}



//& ---------------------------------
//&  █████  ██████  ████████ ██ ███████ ████████     ██████   █████   ██████  ███████ 
//~ ██   ██ ██   ██    ██    ██ ██         ██        ██   ██ ██   ██ ██       ██      
//~ ███████ ██████     ██    ██ ███████    ██        ██████  ███████ ██   ███ █████   
//~ ██   ██ ██   ██    ██    ██      ██    ██        ██      ██   ██ ██    ██ ██      
//? ██   ██ ██   ██    ██    ██ ███████    ██        ██      ██   ██  ██████  ███████
//? ---------------------------------


#artist-show {
    header {
        position: relative;
        margin-bottom: 6rem;
        
        figure {
            width: 100%;
            height: 40rem;
            // background-color: grey;
            overflow: hidden;
            img {
                width: 70%;
                margin: auto;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        #quote {
            position: absolute;
            height: 2.5rem;
            background-color: $secondary-color4;
            right: 0;
            transform: translate(25rem, -20px);
            padding-right: 12rem;
            padding-left: 1rem;
            display: flex;
            align-items: center;
            color : $main-white-color;
            // width: 65% !important;
            opacity: 0;

            #quote-style {
                color: $secondary-color3;
                font-weight: $extra-bold;
                font-size: 2rem;
            }

            p {
                font-weight: $medium !important;
                margin: 0 1rem;
            }
        }
    }

    #artist-detail {
        width: $content-width;
        margin: auto;
        display: grid;
        grid-template-columns: 70% 30%;
        margin-bottom: 7rem;
        opacity: 0;

        #about {
            padding-right: 5rem;
            text-align: justify;
            h3 {
                margin-bottom: 1.5rem;
            }
            span {
                color : $secondary-color3;
            }
        }
        #info {
 
            .text-n2 {
                span {
                    color: $secondary-color;
                }
            }
            #list-info {
                span {
                    font-weight: $medium;
                }
            }
            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;

                #list-info {
   
                    p {
                        display: flex;
                        justify-content: space-between;
                    }

                    a {
                        transform:  $transition-basic;
                        &:hover {
                            color: $secondary-color3;
                        }
                    }

                    p:nth-child(1) {
                        text-transform: capitalize;
                    }
                }

            }
            #socials {
                margin-top: 2rem;
                color: $main-black-color;
                font-size: 2rem;
                display: flex;
                column-gap: 1rem;
                cursor: pointer;
                
                i {
                    transition: 0.3s ease-in-out;
                    font-size: 1.7rem;

                    &:hover {
                    color: $secondary-color3;
                    transform: translateY(-5px);  
                    }
                }
            }
        }
    }
    #gallery {
        width: $content-width;
        margin: auto;
        h3 {
            margin-bottom: 3rem;
            span {
                color: $secondary-color3;
            }
        }
        #images {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;

            picture {
                width: 23.5rem;
                height: 23.5rem;
                background-color: grey;
                overflow: hidden; 
                cursor: pointer;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 1s ease;
                }
            }
        }
    }

    
}

.artist-container {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 2s ease, transform 2s ease; 
}

.artist-container.visible {
    opacity: 1; 
    transform: translateY(0); 
}

#text-gallery {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 2s ease, transform 2s ease; 
}

#text-gallery.visible {
    opacity: 1; 
    transform: translateY(0); 
}



// ^ MEDIA QUERIES - ARTIST - SHOW
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    #artist-show {

        header {
            margin-bottom: 3rem;
            figure {
                height: 18rem;
            }
        }

    .text-n1 {
            text-align: left;
        }    
    }
    #artist-detail {
        display: flex !important;
        flex-direction: column;
    }

    #artist-show #artist-detail #about {
        padding-right: 0rem;
        text-align: justify;
        padding-bottom: 1.5rem;
    }

    #artist-show #artist-detail #info #list-infos #list-info p span {
        margin-right: 1rem;
    }

    #artist-show #gallery #images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    #artist-show header #quote {
        display: none;
    }

    #artist-show #artist-detail #info #list-infos #list-info p {
        display: block !important; 

    }
    
    #artist-show #gallery h3 {
        margin: 2rem 0rem;
    }

    #artist-show header figure img {
        width: 100%;
    }

    #artist-show #artist-detail {
        width: 85%;

    }
      
}


// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    #artist-show {

        header {
            margin-bottom: 3rem;
            figure {
                height: 26rem;
            }
        }

    .text-n1 {
            text-align: left;
        }    
    }
    #artist-detail {
        display: flex !important;
        flex-direction: column;
    }

    #artist-show #artist-detail #about {
        padding-right: 0rem;
        text-align: justify;
        padding-bottom: 1.5rem;
    }

    #artist-show #artist-detail #info #list-infos #list-info p span {
        margin-right: 1rem;
    }

    #artist-show #gallery #images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    #artist-show header #quote {
        display: none;
    }

    #artist-show header figure img {
        width: 100%;
    }

    #artist-show #artist-detail #info #list-infos #list-info p {
        display: block;
    }

    #artist-show #gallery h3 {
        margin: 2rem 0rem;
    }
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1200px) { 
    #artist-show header #quote {
        position: absolute;
        width: 100%;
        height: 3.5rem;
        transform: translate(0rem, -20px);
        padding : 0 1rem;
    }
    #artist-show #gallery #images {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #artist-show #artist-detail {
        margin-bottom: 6rem;
        grid-template-columns: 60% 40%;
    }

    #artist-show #artist-detail #about {
        padding-right: 3rem;
    }

    #artist-show #artist-detail #info #list-infos #list-info p {
        display: block; 

    }
}


// ---------------------------------
//   ██████  ███████ ████████     ██████   ██████  ██      ███████ 
//  ██       ██         ██        ██   ██ ██    ██ ██      ██      
//  ██   ███ █████      ██        ██████  ██    ██ ██      █████   
//  ██    ██ ██         ██        ██   ██ ██    ██ ██      ██      
//   ██████  ███████    ██        ██   ██  ██████  ███████ ███████
// ---------------------------------

#role-artist {
    letter-spacing: $letter-spacing-text;
   select {
    color: $main-white-color;

   }
   #l-role-artist {
        background-color: #1a1a1a;
        width:100%;
        height: 100%;
        min-height: 645px;

        img {
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
    #r-role-artist{
        background-image: url('../images/visuals/roleArtist02.webp'); 
        background-repeat: no-repeat;
        background-size: auto 100%;
        width:100%;
        height: 100%;
        padding: 5rem 5rem 3rem 5rem;
    }

    #artist-role-infos {
        padding-right: 6rem;
        cursor: pointer;
        margin-bottom: 2rem;
        
        p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            transition: ease-in-out .3s;
        }

        &:hover p {
            color: $secondary-color;
        }
    }

    #artist-role-text {
        font-size: $fs-text;
        text-align: justify;
        margin-bottom: 2rem;
        letter-spacing: $letter-spacing-text;
    }
    select {
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        outline: none;
        color: $main-white-color;
    }
    
    .custom-select {
        width: 100%;
        min-width: 15ch;
        max-width: 30ch;
        cursor: pointer;
        line-height: 1.1;
        background-color: grey;
        padding: 0.5rem 1rem;
        position: relative;
    }
    
    input:checked + label {
        order: 1;
        z-index:2;
        background:#666;
        border-top:none;
        position:relative;
    }
    
    input:checked + label:after {
        content:'';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgb(255, 2, 2);
        position:absolute;
        right:10px;
        top:calc(50% - 2.5px);
        pointer-events:none;
        z-index:3;
    }
    
    .option {
        padding:0 30px 0 10px;
        min-height:40px;
        display:flex;
        align-items:center;
        background:#333;
        border-top:#222 solid 1px;
        position:absolute;
        top:0;
        width: 100%;
        pointer-events:none;
        order:2;
        z-index:1;
        transition:background .4s ease-in-out;
        box-sizing:border-box;
        overflow:hidden;
        white-space:nowrap;
    }
      
    .option:hover {
        background:#666;
    }
    
    .custom-select:focus .option {
        position:relative;
        pointer-events:all;
    }

    #conditions {
        p {
            margin-bottom: 0.6rem;
        }

        span {
            color: $secondary-color;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 100%;
            }
        }
    }
}




//https://codepen.io/cssinate/pen/KVdYjz

// ---------------------------------
//  ███    ███  █████  ███    ██  █████   ██████  ███████ 
//  ████  ████ ██   ██ ████   ██ ██   ██ ██       ██      
//  ██ ████ ██ ███████ ██ ██  ██ ███████ ██   ███ █████   
//  ██  ██  ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██      
//  ██      ██ ██   ██ ██   ████ ██   ██  ██████  ███████
// ---------------------------------



#artist_profile {

    #see-page {
        background-color: $secondary-color3;
        border: 1px solid $secondary-color3;
        color: $main-white-color;
        padding: 0.6rem;
        font-weight: 500;
        transition: $transition-basic;

        &:hover {
            background-color: $main-white-color;
            border: 1px solid $secondary-color3;
            color: $secondary-color3;
        }
    }


    #artist-infos {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        position: relative;
        padding: 1rem 3rem 3rem 3rem;
        h2 {
            margin-bottom: 0.3rem;
            margin-top: 2rem;
            span {
                color: $secondary-color;
            }
        }
        .sections-artist {
            border-left: 4px solid $secondary-color3;
            padding: 1rem 0rem 1rem 1rem;
            p {
                margin-bottom: 0.3rem;
                span {
                    font-weight: 500;
                }
            }
            .text {
                font-weight: 300;
                // background-color: grey;
                box-shadow:rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                padding: 0.6rem;
                margin-bottom: 0.6rem;
            }
        }
        #gallery-artist {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .fa-pen-to-square {
        cursor: pointer;
        font-size: 1.4rem;
        margin-top: 0.6rem;
        transition: $transition-basic;
        color: $secondary-color3;
        &:hover {
            color: $secondary-color;
        }
    }
    #form-02 {
        div:nth-child(1), div:nth-child(2) {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
        }
        div {
            margin-top: 0.6rem;

            textarea {
                resize: vertical;
            }
        }
    }
    .forms-artist {
        display: flex;
        row-gap: 0.6rem;
        flex-direction: column;
        form {
            display: flex;
            row-gap: 0.6rem;
            flex-direction: column;
        }
    }
    .btn-artist-profil {
        width: 20rem;
        margin: 2rem 0 ;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        display: inline-block;
    }

    #gallery-artist {
        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.8rem 0.5rem;
            font-size: 1.1rem;

            .fa-xmark {
                @include center-flexbox();
                border: 1px solid $main-black-color;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                transition: $transition-basic;

                &:hover {
                    border: 1px solid $secondary-color;
                    background-color: $secondary-color;
                    color: $main-white-color;
                }
            }
        }

        #selectedImg {
            width: 23px;
            height: 23px;
           background-color: $secondary-color;
           color: $main-white-color;
            @include center-flexbox();
        }
        #NotSelectedImg {
            width: 23px;
            height: 23px;
            border: 1px solid grey;
            

            &:hover {
                border: 3px solid $secondary-color;
            }
        }
        #selectedImage {
            img {
                border: 3px solid $secondary-color;
            }
        }
    }

}

#publish{

    p {
        font-weight: 600;
        color: $secondary-color4;
        a {
            color: $main-black-color;
        }
    }
    
}

