@import 'settings';
@import 'component';

// ---------------------------------
//  ██ ███    ██ ██████  ███████ ██   ██ 
//  ██ ████   ██ ██   ██ ██       ██ ██  
//  ██ ██ ██  ██ ██   ██ █████     ███   
//  ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------

#artists-index {

    .categories {
        @include center-flexbox();
        padding-bottom: 2.5rem;
        column-gap: 3rem;
       
        .category {
            cursor: pointer;
            text-transform: uppercase;
            transition: ease-in-out 0.3s;
            &:hover {
                color: $secondary-color3;
                transform: translateY(-5px);
            }
        }
        #all {
            &:hover {
                color: $secondary-color;
            }
        }
        #more-filters-btn {
            cursor: pointer;
            text-transform: uppercase;
            @include center-flexbox();

            &:hover {
                color:  $secondary-color3;

                span {
                    color:  $secondary-color3;
                }
            }
        }
    }
    #artists-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem; 
        justify-items: center; 
        justify-content: space-between; 
        cursor: pointer;

        #hover2{
            width: 23.5rem;
            height: 23.5rem;
            background-color: black;

            img {
                object-fit: cover;
            }
        }
    }
}

img {
    object-fit: cover;
}

#cross-filters {
    background-color: $secondary-color;
    height: 15px;
    width: 2px;
    position: relative;
    margin-right: 0.7rem;
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: $secondary-color3;
    }
    &:before {
        content: "";
        position: absolute;
        background-color: inherit;
        height: inherit;
        width: inherit;
        transform: rotate(90deg);
    }
}

#more-filters {

    margin-bottom: 3rem;
    .form-search-username-discipline {
    
        form {
            @include center-flexbox();
        }
    }

    p {
        font-weight: $semi-bold;
        margin-right: 2rem;
    }

    input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $secondary-color;
        width: 16rem;
        margin-right: 4rem;
        outline: none;
    }

    button {
        background-color: transparent;
        text-transform: uppercase;
        padding: 0.3rem 1.7rem;
        border: 1px solid $secondary-color;
        color: $secondary-color;
        font-weight: $bold;
        transition: ease-in-out 0.6s;

        &:hover {
            background-color: $main-black-color;
            
        }
    }
}

$test2: 30rem; 
#popup-role-artist {
    position: fixed;
    right: 0;
    width: 14rem;
    height: 6rem;
    background-color: $secondary-color;
    color: $main-black-color;
    // display: block;
   
    
}

// ---------------------------------
//   █████  ██████  ████████ ██ ███████ ████████     ██████   █████   ██████  ███████ 
//  ██   ██ ██   ██    ██    ██ ██         ██        ██   ██ ██   ██ ██       ██      
//  ███████ ██████     ██    ██ ███████    ██        ██████  ███████ ██   ███ █████   
//  ██   ██ ██   ██    ██    ██      ██    ██        ██      ██   ██ ██    ██ ██      
//  ██   ██ ██   ██    ██    ██ ███████    ██        ██      ██   ██  ██████  ███████
// ---------------------------------

#artist-show {
    header {
        position: relative;
        margin-bottom: 6rem;
        figure {
            width: 100%;
            height: 40rem;
            background-color: grey;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        #quote {
            position: absolute;
            width: 100%;
            height: 2.5rem;
            background-color: $secondary-color;
            right: 0;
            transform: translate(25rem, -20px);
            padding-right: 12rem;
            padding-left: 1rem;
            display: flex;
            align-items: center;
            color : $main-white-color;

            span {
                color: $secondary-color3;
                font-weight: $extra-bold;
                font-size: 2rem;

            }

            p {
                font-weight: $medium !important;
                margin: 0 1rem;
            }
        }
    }

    #artist-detail {
        display: grid;
        grid-template-columns: 70% 30%;
        margin-bottom: 7rem;
        #about {
            // background-color: red;
            padding-right: 5rem;
            text-align: justify;
            h3 {
                margin-bottom: 1.5rem;
            }
            span {
                color : $secondary-color3;
            }
        }

        #info {
            // background-color: pink;

            .text-n2 {
                span {
                    color: $secondary-color;
                }
            }
            #list-info {
                span {
                    font-weight: $medium;
                }
            }
            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;

                #list-info {
                    p {
                        span {
                            margin-right: 3rem;
                        }
                    }
                }

            }
            #socials {
                margin-top: 2rem;
                color: $main-black-color;
                font-size: 2rem;
                display: flex;
                column-gap: 2rem;
                cursor: pointer;
                

                i {
                    transition: 0.3s ease-in-out;

                    &:hover {
                    color: $secondary-color3;
                    transform: translateY(-5px);  
                    }
                }
            }
        }
    }
    #gallery {
        h3 {
            margin-bottom: 3rem;
            span {
                color: $secondary-color3;
            }
        }
        #images {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            // background-color: red;

             
            picture {
                
                width: 23.5rem;
                height: 23.5rem;
                background-color: grey;
                overflow: hidden; 
                cursor: pointer;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 1s ease;
                }
            }
        }
    }
}



.artist-container {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 2s ease, transform 2s ease; 
}

.artist-container.visible {
    opacity: 1; 
    transform: translateY(0); 
    
}


// ANIMATION_________________________


// ---------------------------------
//   ██████  ███████ ████████     ██████   ██████  ██      ███████ 
//  ██       ██         ██        ██   ██ ██    ██ ██      ██      
//  ██   ███ █████      ██        ██████  ██    ██ ██      █████   
//  ██    ██ ██         ██        ██   ██ ██    ██ ██      ██      
//   ██████  ███████    ██        ██   ██  ██████  ███████ ███████
// ---------------------------------

#role-artist {
   select {
    color: $main-white-color;
   }
   #l-role-artist {
    background-image: url('../images/visuals/roleArtist01.webp'); 
    background-repeat: no-repeat;
    background-size: auto 100%;
    width:100%;
    height: 100%;
    }
    #r-role-artist{
        background-image: url('../images/visuals/roleArtist02.webp'); 
        background-repeat: no-repeat;
        background-size: auto 100%;
        width:100%;
        height: 100%;
        padding: 5rem 5rem 3rem 5rem;
    }
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: $main-white-color;
}

.custom-select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    cursor: pointer;
    line-height: 1.1;
    background-color: grey;
    padding: 0.5rem 1rem;
    position: relative;
}

input:checked + label {
    order: 1;
    z-index:2;
    background:#666;
    border-top:none;
    position:relative;
}

input:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(255, 2, 2);
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}

.option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:#333;
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
}
  
.option:hover {
    background:#666;
}

.custom-select:focus .option {
    position:relative;
    pointer-events:all;
}

//https://codepen.io/cssinate/pen/KVdYjz