@import 'settings';

$transition-bezier: 0.800, 1.000, 0.000, 1.000;
$transition-len: 0.35s;

/*  ---------------------------------- */
//  ██████  ██    ██ ████████ ████████  ██████  ███    ██ 
//  ██   ██ ██    ██    ██       ██    ██    ██ ████   ██ 
//  ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ 
//  ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██ 
//  ██████   ██████     ██       ██     ██████  ██   ████
/*  ---------------------------------- */

.button {
  padding: .2rem 1.3rem;
  height: 2.5rem;
  display: inline-block;
  line-height: 2.1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  letter-spacing: $letter-spacing-medium;
  // border-radius: 0.3rem;
  // transition: all $transition-len cubic-bezier($transition-bezier);

}

.btn4 {
  border:1px solid $secondary-color; 
  background-color: $main-black-color;
  color: $secondary-color;
  transition: all $transition-len cubic-bezier($transition-bezier);
  &:hover {
    border:1px solid $main-black-color;
    background-color: $secondary-color;
    color: $main-black-color;
  }
}

.btn6 {
  border:1px solid $secondary-color; 
  background-color: $secondary-color;
  color: $main-white-color;

  transition: all $transition-len cubic-bezier($transition-bezier);
  cursor: pointer;
  &:hover {
    border:1px solid $secondary-color;
    background-color: $main-black-color;
    color: $secondary-color;
  }
}

.btn-off {
  border:1px solid $secondary-color; 
  background-color: $grey-light;
  color: $main-black-color;
  transition: all $transition-len cubic-bezier($transition-bezier);
  cursor: default;
}

.btn-red {
  border:1px solid $secondary-color; 
  background-color: $secondary-color4;
  color: $main-white-color;
  transition: all $transition-len cubic-bezier($transition-bezier);
  &:hover {
    border:1px solid $main-black-color; 
    background-color: $main-black-color;
    
  }
}

.btn-blue {
  border:1px solid $secondary-color; 
  background-color: $secondary-color3;
  color: $main-white-color;
  transition: all $transition-len cubic-bezier($transition-bezier);
  &:hover {
    border:1px solid $main-black-color; 
    background-color: $main-black-color;
    
  }
}


/*  ---------------------------------- */
//   █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ 
//  ██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ 
//  ███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ 
//  ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██ 
//  ██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████
/*  ---------------------------------- */

.underscore {
  animation: blink 1s infinite;
  // font-weight: bold;
  color: $secondary-color; ;

  @keyframes blink {
    50% {
        opacity: 0;
    }
  }
}

.underscore-static {
  color: $secondary-color; ;
}


/*  ---------------------------------- */
//  ██   ██  ██████  ██    ██ ███████ ██████  
//  ██   ██ ██    ██ ██    ██ ██      ██   ██ 
//  ███████ ██    ██ ██    ██ █████   ██████  
//  ██   ██ ██    ██  ██  ██  ██      ██   ██ 
//  ██   ██  ██████    ████   ███████ ██   ██
/*  ---------------------------------- */

/* HOVER #2 --------------------------*/
#hover2 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  
  }
}

#hover2 img {
  transition: all ease-in-out 0.3s;
}

#hover2:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

#hover2 #text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

#hover2:hover #text2 {
  opacity: 1;
  top: 50%;
}

#hover2 #text2 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: $secondary-color3;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}




/*________________________ */

$color-yellow : rgb(240, 189, 47);
$color-blue: #207E93;
$color-red: #F44C4C;
$color-black: #242424;
$color-white: #F2F2F2;



//1rem = 16px - 
// 0.9rem = 14px
$font-size-small: 0.9rem;

.component {
    font-size: $font-size-small;
    .space {
        background-color: transparent;
        height: 15px;
        width: 100%;
    }
}


.btn2 {
    // border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: .2rem 1.3rem;
    border: 1px solid $color-yellow;
    z-index: 20;
    transition: all $transition-len cubic-bezier($transition-bezier); 
  }
  
  .btn2:hover {
    color: $color-yellow;
    border: 1px solid $color-black;
  }
  
  .btn-color {
    border-color: $color-yellow;
    color: $color-yellow;
    
    &::before,
    &::after {
      background: $color-black;
    }
  }
  
  .btn2::before,
  .btn2::after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all $transition-len cubic-bezier($transition-bezier); 
  }
  
  .btn-l-r::after {
    height: 100%;
    width: 0;
    top: 0;
  }
   
  .btn-l-r:hover::after { 
    width: 100%; 
  }
  .btn-l-r::after {
    left: 0;
  }
  

.btn3 {
    // background-color: red;
    border:1px solid $color-yellow; 
    display: inline-block;
    padding: .2rem 1.3rem;
    position: relative;
    cursor: pointer;
    color: $color-yellow;
    transition: all $transition-len cubic-bezier($transition-bezier); 


    &:hover {
        border:1px solid $color-black;
        background-color: $color-black;
        color: $color-yellow;
    }

}



.btn5 {
  border:1px solid $color-yellow; 
  background-color: black;
  display: inline-block;
  padding: .2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: $color-yellow;
  transition: all $transition-len cubic-bezier($transition-bezier);

  &:hover {
    border:1px solid black;
    background-color: yellow;
    color: black;
}

}


// ^ HOVER
#hover1 {
    background-color: rgb(0, 0, 0);
  }
.component-hover {
  display: flex;
  column-gap: 50px;
 

  
    div {

      height: 200px;
      width: 200px;
      cursor: pointer; 
      // aspect-ratio: 1;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: opacity ease-in-out 0.3s;

        &:hover {
          opacity: 0.3;
        }
      }

      p {
        font-size: 20px;
      }
      #text:after {
        content: " _";
        font-weight: bold;
        color: $color-red;
        visibility: hidden;
        animation: blink 1s infinite;
      }

      img:hover + #text::after {
        visibility: visible;
    }

      @keyframes blink {
        50% {
            opacity: 0;
        }
    }
  }
}



#hover3 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: opacity ease-in-out 0.8s;

  &:hover {
    border: 1px $color-red solid;
  }

  img {
    transition: opacity ease-in-out 0.3s;
    
    &:hover {
      opacity: 0.3;
    }
  }

    #text3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity ease-in-out 0.3s;
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin: 0;
      padding: 0;

      span {
        animation: blink 1s infinite;
        font-weight: bold;
        color: $color-red;
      }

      @keyframes blink {
        50% {
            opacity: 0;
        }
    }
    }

    &:hover #text3 {
      opacity: 100%;
      transition: opacity ease-in-out 1s;
    }

}

#hover4 {
  color: white;
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: border ease-in-out 0.8;

    &:hover {
      border: 1px $color-yellow  solid;
    }

  img {
    transition: opacity ease-in-out 0.5s;

    &:hover {
      opacity: 0;
    }
    
  }

    #text4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity ease-in-out 0.3s;
      font-size: 20px;
      font-weight: bold;
      color: black;
      margin: 0;
      padding: 0;

      span {
        animation: blink 1s infinite;
        font-weight: bold;
        color: $color-yellow ;
      }

      @keyframes blink {
        50% {
            opacity: 0;
        }
    }
    }

    &:hover #text4 {
      opacity: 100%;
      transition: opacity ease-in-out 1s;
    }

}


#hover5 {
  position: relative;
  cursor: pointer;
  border: 1px white solid;

    #text5 {
      position: absolute;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      width: 100%;
      height: 150px;
      transition: opacity ease-in-out 0.3s;
      font-size: 20px;
      font-weight: bold;
      color: black;
      margin: 0;
      padding: 0;

      span {
        animation: blink 1s infinite;
        font-weight: bold;
        color: $color-yellow ;
      }

      @keyframes blink {
        50% {
            opacity: 0;
        }
    }
    }

    &:hover #text5 {
      opacity: 100%;
      transition: opacity ease-in-out 1s;
    }

}