@import 'settings';
@import 'component';

// ---------------------------------
//  ███████ ██    ██ ███████ ███    ██ ████████       ██ ███    ██ ██████  ███████ ██   ██ 
//  ██      ██    ██ ██      ████   ██    ██          ██ ████   ██ ██   ██ ██       ██ ██  
//  █████   ██    ██ █████   ██ ██  ██    ██    █████ ██ ██ ██  ██ ██   ██ █████     ███   
//  ██       ██  ██  ██      ██  ██ ██    ██          ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ███████   ████   ███████ ██   ████    ██          ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------

#events-index {
    // background-color: red;
    

    .container-event {
        display: grid;
        grid-template-columns: 55% 45%;
        height: 26rem;
        position: relative;
        margin-bottom: 7rem;
        opacity: 0; 
        transition: opacity 0.6s ease; 
        
        #picture-event {
                padding-right: 3rem;
                width: 100%;
                height: 100%;
            figure {
                background-color: grey;
                width: 100%;
                height: 100%;
                
                div {
    
                }
            }
        }

        #infos-event {
            h2 {
                color: $secondary-color;
                text-transform: uppercase;
                padding-bottom: 2rem;

                span {
                    color: $secondary-color3;
                }
            }

            #resume-event {
                padding-bottom: 2rem;
            }

            #details-event {
                display: grid;
                row-gap: 1rem;
                span {
                    font-weight: $bold;
                }
            }

            #btn-event {
                bottom: 0;
                position: absolute;
            }
        }
    }

    
}


// ---------------------------------
//  ███████ ██    ██ ███████ ███    ██ ████████       ███████ ██   ██  ██████  ██     ██ 
//  ██      ██    ██ ██      ████   ██    ██          ██      ██   ██ ██    ██ ██     ██ 
//  █████   ██    ██ █████   ██ ██  ██    ██    █████ ███████ ███████ ██    ██ ██  █  ██ 
//  ██       ██  ██  ██      ██  ██ ██    ██               ██ ██   ██ ██    ██ ██ ███ ██ 
//  ███████   ████   ███████ ██   ████    ██          ███████ ██   ██  ██████   ███ ███
// ---------------------------------

#event-show {
    #header {
        background-color: $main-black-color;
        height: 40rem;
        opacity: 1;
        // transition: opacity ease-in-out 0.6s;
        // padding: 3rem 0rem 6rem 0rem;
    
        figure {
            // background-color: grey;
            // width: $content-width;
            height: 100%;
            margin: auto;
    
            img {
                width: 100%;
                height: 100%;
                background-color: grey;
            }
        }

        #quote {
            position: absolute;
            // width: 100%;
            height: 2.5rem;
            background-color: $secondary-color4;
            right: 0;
            transform: translate(25rem, -20px);
            padding-right: 12rem;
            padding-left: 1rem;
            display: flex;
            align-items: center;
            color : $main-white-color;
            opacity: 0;

            #quote-style{
                color: $secondary-color3;
                font-weight: $extra-bold;
                font-size: 2rem;

            }

            p {
                font-weight: $medium !important;
                margin: 0 1rem;
            }
        }
    }

    #details-event {
        // background-color: red;
        display: grid;
        grid-template-columns: 60% 40%;
        width: $content-width;
        margin: auto;
        margin-top: 5rem;
        opacity: 0;
        // transition: opacity ease-in-out 0.5s;

        #about-event {
            text-align: justify;

            h3 {
                margin-bottom: 2.5rem;
            }

            #subtitle {
                color: $secondary-color3;
            }
        }

        #info {
            margin-left: 6rem;
            p {
                #info-underscore {
                    color: $secondary-color;
                }
            }

            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;
                height: 100%;
               

                #list-info {

                    div {
                        display: grid;
                        grid-template-columns: 40% 10% 50%;
                        justify-content: space-between;
                        width: 70%;
                        align-items: center;
                        span {
                            // margin-right: 3rem;
                            
                        }

                    }

                    .status {
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 2rem;
                        
                    }
                }

                a p {
                    transition: all ease-in-out 0.3s;
                    &:hover {
                        color: $secondary-color3;
                        font-weight: $medium;
                    };
                }

            }
        }

        #btn-event{
            margin-top: 3rem;
            div {
                margin-right: 2rem;
                color: $main-white-color;
            }
        }

        #expo-participate {
            // background-color: red;
            display: flex;
            align-items: flex-end;

            p {
                color: $grey-medium;
            }

        }
    }
   
}


// ---------------------------------
//  ██     ██  ██████  ██████  ██   ██ ███████ ██   ██  ██████  ██████        ███████ ██   ██  ██████  ██     ██ 
//  ██     ██ ██    ██ ██   ██ ██  ██  ██      ██   ██ ██    ██ ██   ██       ██      ██   ██ ██    ██ ██     ██ 
//  ██  █  ██ ██    ██ ██████  █████   ███████ ███████ ██    ██ ██████  █████ ███████ ███████ ██    ██ ██  █  ██ 
//  ██ ███ ██ ██    ██ ██   ██ ██  ██       ██ ██   ██ ██    ██ ██                 ██ ██   ██ ██    ██ ██ ███ ██ 
//   ███ ███   ██████  ██   ██ ██   ██ ███████ ██   ██  ██████  ██            ███████ ██   ██  ██████   ███ ███ 
// ---------------------------------


#list-info-workshop {
    div {
        display: grid;
        grid-template-columns: 40% 10% 80%;
        justify-content: space-between;
        width: 70%;
        align-items: center;
    }

    .status {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
}

#modules-workshop {
    // background-color: red;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    font-size: 1.1rem;
    opacity: 0;

    p span {
        color: $secondary-color;
    }

    #modules-list {
        margin-top: 1rem;
        // background-color: red;
        // width: 100%;
        // height: 300px;

        .module-details {
            display: grid;
            grid-template-columns:18% minmax(auto, 1fr) 74%;
            // align-items: center;
            align-items: end;
            margin-bottom: 0.8rem;

            div  {
                // display: grid;
                // grid-template-columns: 7% 0% 93%;
                
                p:nth-child(1) {
                    color: $secondary-color;
                    font-weight: $medium;
                    font-size: 1.2rem;
                    
                }

                p:nth-child(3) {
                    color: $secondary-color3;
                    font-weight: $medium;
                    font-size: 1.2rem;
                    
                }
            }
        }
    }
}

#link-subscription {
    background: linear-gradient(to right, $secondary-color,#d78a3b, $secondary-color);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:$secondary-color;
    transition: color .6s ease-in-out;

}



#link-subscription:hover {
    color:rgba(0,0,0,0);
}
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }