@import 'settings';
@import 'component';

// ---------------------------------
//  ███████ ██    ██ ███████ ███    ██ ████████       ██ ███    ██ ██████  ███████ ██   ██ 
//  ██      ██    ██ ██      ████   ██    ██          ██ ████   ██ ██   ██ ██       ██ ██  
//  █████   ██    ██ █████   ██ ██  ██    ██    █████ ██ ██ ██  ██ ██   ██ █████     ███   
//  ██       ██  ██  ██      ██  ██ ██    ██          ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ███████   ████   ███████ ██   ████    ██          ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------

#events-index {
    // background-color: red;
    

    .container-event {
        display: grid;
        grid-template-columns: 55% 45%;
        height: 26rem;
        position: relative;
        margin-bottom: 7rem;
        opacity: 0; 
        transition: opacity 0.6s ease; 
        
        #picture-event {
                padding-right: 3rem;
                width: 100%;
                height: 100%;
            figure {
                background-color: grey;
                width: 100%;
                height: 100%;
                
                div {
    
                }
            }
        }

        #infos-event {
            h2 {
                color: $secondary-color;
                text-transform: uppercase;
                padding-bottom: 2rem;

                span {
                    color: $secondary-color3;
                }
            }

            #resume-event {
                padding-bottom: 2rem;
            }

            #details-event {
                display: grid;
                row-gap: 1rem;
                span {
                    font-weight: $bold;
                }
            }

            #btn-event {
                bottom: 0;
                position: absolute;
            }
        }
    }

    
}


// ---------------------------------
//  ███████ ██    ██ ███████ ███    ██ ████████       ███████ ██   ██  ██████  ██     ██ 
//  ██      ██    ██ ██      ████   ██    ██          ██      ██   ██ ██    ██ ██     ██ 
//  █████   ██    ██ █████   ██ ██  ██    ██    █████ ███████ ███████ ██    ██ ██  █  ██ 
//  ██       ██  ██  ██      ██  ██ ██    ██               ██ ██   ██ ██    ██ ██ ███ ██ 
//  ███████   ████   ███████ ██   ████    ██          ███████ ██   ██  ██████   ███ ███
// ---------------------------------

#event-show {
    #header {
        background-color: $main-black-color;
        height: 40rem;
        opacity: 0;
        transition: opacity ease-in-out 0.8s;
        // padding: 3rem 0rem 6rem 0rem;
    
        figure {
            // background-color: grey;
            // width: $content-width;
            height: 100%;
            margin: auto;
    
            img {
                width: 100%;
                height: 100%;
                background-color: grey;
            }
        }
    }

    #details-event {
        // background-color: red;
        display: grid;
        grid-template-columns: 60% 40%;
        width: $content-width;
        margin: auto;
        margin-top: 5rem;
        opacity: 0;
        transition: opacity ease-in-out 0.5s;

        #about-event {
            text-align: justify;

            h3 {
                margin-bottom: 2.5rem;
            }

            #subtitle {
                color: $secondary-color3;
            }
        }

        #info {
            margin-left: 6rem;
            p {
                #info-underscore {
                    color: $secondary-color;
                }
            }

            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;
                height: 100%;
               

                #list-info {

                    div {
                        display: grid;
                        grid-template-columns: 40% 10% 50%;
                        justify-content: space-between;
                        width: 70%;
                        align-items: center;
                        span {
                            // margin-right: 3rem;
                            
                        }

                    }

                    .status {
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 2rem;
                        
                    }
                }

                a p {
                    &:hover {
                        color: $secondary-color3;
                        font-weight: $bold
                    };
                }

            }
        }

        #btn-event{
            margin-top: 3rem;
            div {
                margin-right: 2rem;
                color: $main-white-color;
            }
        }

        #expo-participate {
            // background-color: red;
            display: flex;
            align-items: flex-end;

            p {
                color: $grey-medium;
            }

        }
    }
   
}


