@import 'settings';
@import 'component';


// ---------------------------------
//  ██     ██  ██████  ██████  ██   ██ ███████ ██   ██  ██████  ██████        ███████ ██   ██  ██████  ██     ██ 
//  ██     ██ ██    ██ ██   ██ ██  ██  ██      ██   ██ ██    ██ ██   ██       ██      ██   ██ ██    ██ ██     ██ 
//  ██  █  ██ ██    ██ ██████  █████   ███████ ███████ ██    ██ ██████  █████ ███████ ███████ ██    ██ ██  █  ██ 
//  ██ ███ ██ ██    ██ ██   ██ ██  ██       ██ ██   ██ ██    ██ ██                 ██ ██   ██ ██    ██ ██ ███ ██ 
//   ███ ███   ██████  ██   ██ ██   ██ ███████ ██   ██  ██████  ██            ███████ ██   ██  ██████   ███ ███ 
// ---------------------------------

#list-info-workshop {
    div {
        display: grid;
        grid-template-columns: 40% 10% 80%;
        justify-content: space-between;
        width: 70%;
        align-items: center;
    }
    .status {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
}

#modules-workshop {

    margin: auto;
    margin-top: 3rem;
    font-size: 1.1rem;
    opacity: 0;

    p span {
        color: $secondary-color;
    }

    #modules-list {
        margin-top: 1rem;
        .module-details {
            display: grid;
            grid-template-columns:18% minmax(auto, 1fr) 74%;
            align-items: end;
            margin-bottom: 0.8rem;

            div  {              
                p:nth-child(1) {
                    color: $secondary-color;
                    font-weight: $medium;
                    font-size: 1.2rem;
                    
                }

                p:nth-child(3) {
                    color: $secondary-color3;
                    font-weight: $medium;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#link-subscription {
    background: linear-gradient(to right, $secondary-color,rgb(238, 132, 34), $secondary-color);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:$secondary-color;
    transition: color .2s ease-in-out;
}

#link-subscription:hover {
    color:rgba(0,0,0,0);
}
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }


// ---------------------------------
//   █████   ██████  ███████ ███    ██ ██████   █████  
//  ██   ██ ██       ██      ████   ██ ██   ██ ██   ██ 
//  ███████ ██   ███ █████   ██ ██  ██ ██   ██ ███████ 
//  ██   ██ ██    ██ ██      ██  ██ ██ ██   ██ ██   ██ 
//  ██   ██  ██████  ███████ ██   ████ ██████  ██   ██
// ---------------------------------

#calendar-page {
    width: $content-width;
    height: 800px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    #calendar-container {
        display: grid;
        grid-template-columns: 70% 30%;
        width: 100%;
        height: 100%;

        #calendar-content {
            padding: 3rem 5rem;
            height: 100%;
        }

        #aside {
            background-color: green;
            height: 100%;
            display: grid;
            grid-template-rows: 40% 60%;

            #top-aside {
                background-color: $main-black-color;
            }

            #bottom-aside {
                background-color: $secondary-color;
            }
        }
    }
    
}

.fc .fc-button-primary:disabled {
    display: none;
}

.fc .fc-toolbar {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    text-transform: uppercase;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;

}

.fc .fc-button-group {
    display: inline-flex;
    vertical-align: middle;
    column-gap: 25rem;
    transform: translate(20px 20px );
}


.fc .fc-button-primary {
    background-color: $secondary-color;
    border: none;
    color: $main-white-color;

}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-transform: uppercase;
    font-weight: $semi-bold;
    color: $secondary-color3;
}

.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
    height: 1px;
    
}

.fc .fc-scrollgrid-section-footer > *, .fc .fc-scrollgrid-section-header > * {
    border-bottom-width: 0px;
    margin-top: 10rem;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: none;
   
}

.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
  
}

.fc .fc-daygrid-day-top {
    display: flex;
    justify-content: flex-end;
}