@import 'settings';
@import 'component';


// ---------------------------------
//  ██     ██  ██████  ██████  ██   ██ ███████ ██   ██  ██████  ██████        ███████ ██   ██  ██████  ██     ██ 
//  ██     ██ ██    ██ ██   ██ ██  ██  ██      ██   ██ ██    ██ ██   ██       ██      ██   ██ ██    ██ ██     ██ 
//  ██  █  ██ ██    ██ ██████  █████   ███████ ███████ ██    ██ ██████  █████ ███████ ███████ ██    ██ ██  █  ██ 
//  ██ ███ ██ ██    ██ ██   ██ ██  ██       ██ ██   ██ ██    ██ ██                 ██ ██   ██ ██    ██ ██ ███ ██ 
//   ███ ███   ██████  ██   ██ ██   ██ ███████ ██   ██  ██████  ██            ███████ ██   ██  ██████   ███ ███ 
// ---------------------------------

#list-info-workshop {
    div {
        display: grid;
        grid-template-columns: 40% 10% 80%;
        justify-content: space-between;
        width: 70%;
        align-items: center;
    }
    .status {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
}

#modules-workshop {

    margin: auto;
    margin-top: 3rem;
    font-size: 1.1rem;
    opacity: 0;
    width: 70%!important;

    p span {
        color: $secondary-color;
    }

    #modules-list {
        margin-top: 1rem;
        .module-details {
            display: grid;
            grid-template-columns:18% minmax(auto, 1fr) 74%;
            align-items: end;
            margin-bottom: 0.8rem;

            div  {              
                p:nth-child(1) {
                    color: $secondary-color;
                    font-weight: $medium;
                    font-size: 1.2rem;
                    
                }

                p:nth-child(3) {
                    color: $secondary-color3;
                    font-weight: $medium;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#link-subscription {
    background: linear-gradient(to right, $secondary-color,rgb(238, 132, 34), $secondary-color);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:$secondary-color;
    transition: color .2s ease-in-out;
}

#link-subscription:hover {
    color:rgba(0,0,0,0);
}
@keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }


// ---------------------------------
//   █████   ██████  ███████ ███    ██ ██████   █████  
//  ██   ██ ██       ██      ████   ██ ██   ██ ██   ██ 
//  ███████ ██   ███ █████   ██ ██  ██ ██   ██ ███████ 
//  ██   ██ ██    ██ ██      ██  ██ ██ ██   ██ ██   ██ 
//  ██   ██  ██████  ███████ ██   ████ ██████  ██   ██
// ---------------------------------

.results-search-calendar {
    h4 {
        margin: 1rem 0;
    }
    div {
        margin-top: 1rem;
        span {
            color: $secondary-color;
        }

        .name {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

#calendar-page {
    width: $content-width;
    box-shadow: $box-shadow;

    #calendar-container {
        display: grid;
        grid-template-columns: 65% 35%;
        width: 100%;
        height: 100%;

        #calendar-content {
            padding: 1rem 1rem;
            height: 100%;
        }

        #calendar {
            height: 100%;
            display: flex;
            background-color: #F9F9F9;
            padding: 0rem 2rem 0rem 2rem;
        }

        #aside {
            background-color: $main-black-color;
            color: $main-white-color;
            height: 100%;
            // display: grid;
            // grid-template-rows: 40% 60%;

            #top-aside {
                background-color: $main-black-color;
            }

            #bottom-aside {
                background-color: $secondary-color;
            }
        }
    }

    #research {
        padding: 2rem;
        h3 {
            margin-bottom: 1rem;
            span {
                color: $secondary-color;
                
            }
        }

        #wrapper {
            button {
                padding: 0.2rem;
                margin: 0 0 0.5rem 0.6rem;
            }

            select option {
                color: $main-black-color; 
            }

            select {
                color: $main-black-color!important; 
            }

            input[type="text"] {
                color: $main-black-color;
            }
        }
    }

    .event-class {
        background-color: $main-black-color;
        border: 1px solid $main-black-color;
        cursor: pointer;
    }
    
    .workshop-class {
        background-color: $secondary-color3;
        border: 1px solid $secondary-color3;
        cursor: pointer;
    }
    
    .expo-class {
        background-color: $secondary-color4;
        border: 1px solid $secondary-color4; 
        cursor: pointer;
    }
    
}


.fc .fc-button-primary:disabled {
    display: none;
}

.fc .fc-toolbar {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    text-transform: uppercase;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;

}

.fc .fc-button-group {
    display: inline-flex;
    vertical-align: middle;
    column-gap: 25rem;
    transform: translate(20px 20px );
}


.fc .fc-button-primary {
    background-color: $secondary-color;
    border: none;
    color: $main-white-color;

}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-transform: uppercase;
    font-weight: $semi-bold;
    color: $secondary-color3;
}

.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
    height: 1px;
    
}

.fc .fc-scrollgrid-section-footer > *, .fc .fc-scrollgrid-section-header > * {
    border-bottom-width: 0px;
    margin-top: 10rem;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: none;
   
}

.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
  
}

.fc .fc-daygrid-day-top {
    display: flex;
    justify-content: flex-end;
}

// ---------------------------------
//   █████  ██████   ██████ ██   ██ ██ ██    ██ ███████ ███████ 
//  ██   ██ ██   ██ ██      ██   ██ ██ ██    ██ ██      ██      
//  ███████ ██████  ██      ███████ ██ ██    ██ █████   ███████ 
//  ██   ██ ██   ██ ██      ██   ██ ██  ██  ██  ██           ██ 
//  ██   ██ ██   ██  ██████ ██   ██ ██   ████   ███████ ███████
// ---------------------------------

#archives {
    column-gap: 3rem;
    margin-bottom: 25rem;

    h2 {
        margin-bottom: 1rem;
        transition: $transition-basic;

        &:hover {
            color: $secondary-color3;
        }
    }

    .event-container-animation {
        opacity: 0; 
        transform: translateY(50px); 
        transition: opacity 2s ease, transform 2s ease; 
    }
    
    .event-container-animation.visible {
        opacity: 1; 
        transform: translateY(0); 
        
    }

    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5rem;
        padding-bottom: 2.5rem ;
        p {
            transition: ease-in-out 0.3s;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 400;
            &:hover {
                color: #207E93;
                transform: translateY(-5px);
            }
        }
    }
    #reset-btn {
        text-transform: uppercase;
        border: 1px solid $secondary-color;
        font-weight: 500;
        padding: 0 0.6rem;
        transition: $transition-basic;

        &:hover {
            background-color: $secondary-color;
        }
    }

}
#container-last-events, #results-archives {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
   
}
.event-container {
    box-shadow: $box-shadow;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    &:hover .type {
        right: 0;
        transition: right 0.4s ease-in-out; 
    }
    &:hover img {
        transform: translateX(5px);
        // opacity: 0.4;
    }
    figure {
        width: 105%;
        height: 14rem;
        background-color: red;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: ease-in-out 0.6s;

            
        }
    }
    .content {
        width: 18rem;
        height: 6rem;
        padding: 0.6rem;

        span {
            color: $secondary-color;
            font-weight: 600;
        }
    }
    .type {
        background-color: $secondary-color;
        display: inline-block;
        width: 8rem;
        padding-right: 0.6rem;
        text-align: right;
        position: absolute;
        top: 14px;
        right: -130px;
        transition: right 0.6s ease-in-out; 
        text-transform: uppercase;
        font-weight: 500;

    }
}