@import 'settings';
@import 'component';

// ---------------------------------
//  ██████  ███████  ██████  ██ ███████ ████████ ███████ ██████  
//  ██   ██ ██      ██       ██ ██         ██    ██      ██   ██ 
//  ██████  █████   ██   ███ ██ ███████    ██    █████   ██████  
//  ██   ██ ██      ██    ██ ██      ██    ██    ██      ██   ██ 
//  ██   ██ ███████  ██████  ██ ███████    ██    ███████ ██   ██
// ---------------------------------



.register-user {
    background-color: $grey-dark;

    #register-container {
        display: grid;
        grid-template-columns: 50% 50%;
        color: $main-white-color;
        position: relative;

        #separator {
            background-color: $secondary-color;
            width: 80%;
            height: 5px;
            position: absolute;
            left: 50%; 
            top: 1px; 
            transform: translate(-50%, -50%);
            z-index: 1 !important;
        }

        .left-register {
            background-color: black;
            width:100%;
            height: 100%;

            img {
                width:100%;
                height: 100%;
            }
        }

        #l-register-user {
            width:100%;
            height: 100%;
        }
    
        .right-register {
            background-color: $grey-dark;
            width:100%;
            height: 100%;
            padding: 5rem 5rem 3rem 5rem;

            #title-register {
                p {
                    color: $secondary-color;
                    padding-top: 0.2rem;
                    padding-bottom: 3rem;
                }
            }
        }

        #r-register-user {
            background-image: url('../images/visuals/register02.webp') !important; 
            background-repeat: no-repeat;
            background-size: auto 100%;
            width:100%;
            height: 100%;
        }

        #form-register {
            padding-right: 6rem;
            div {
                display: flex;
                flex-direction: column;
                padding-bottom: 1.8rem;
                
            }
            label {
                text-transform: uppercase;
                padding-bottom: 1rem;
                transition: ease-in-out 0.6s;
            }
            input {
                background-color: transparent;
                border-bottom: 1px solid #939393;
                border-top: none;
                border-left: none;
                border-right: none;
                outline: none;
                transition: ease-in-out 0.6s;
            }

            #terms-register {
                display: flex;
                p {
                    display: flex;
                    align-items: center;
                    a {
                        transition: ease-in-out 0.6s;
                    }

                    span {
                        margin: 0rem 0.4rem;
                        color: $secondary-color;
                    }
                }
            }

          
        }

        #login {
            margin-top: 1rem;
            a {
                color: $secondary-color;
                position: relative;
                text-decoration: none; 
        
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -3px; 
                    left: 0;
                    width: 0; 
                    height: 1px; 
                    background-color: $secondary-color; 
                    transition: width 0.3s ease; 
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
    }

    #form-register form {
        div {
            position: relative;
        }
    }
    
    .fa-eye, .fa-eye-slash {
        color: #939393;
        display: block;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        transform: translateY(30px);
    }

    

}

#btn-register {
    width: 61% !important;
    // margin-right: 12rem;

    &:hover {
        // background-color: $grey-dark;
    }
}

#terms-register a:hover {
    color: $secondary-color !important;
}

#register-user-page {
    .valid {
        text-decoration: line-through;
        text-decoration-color: $secondary-color;
        color: grey;
    }
    
    .invalid {
        text-decoration: none;
    }

    #passwordCriteria {
        padding-left: 0.3rem;
        background-color: #404040;
        padding: 0.4rem 0.4rem !important;
        margin-bottom: 1rem;
        // box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px inset;
        

        div {
            padding-bottom: 0.4rem !important;
            font-size: 0.9rem;
            font-weight: 200;
            
        }
    }

    .checkMessages {
        color: $secondary-color;
        font-weight: $bold;
        margin-bottom: 0.8rem;
    }

}


// ---------------------------------
//  ██       ██████   ██████  ██ ███    ██ 
//  ██      ██    ██ ██       ██ ████   ██ 
//  ██      ██    ██ ██   ███ ██ ██ ██  ██ 
//  ██      ██    ██ ██    ██ ██ ██  ██ ██ 
//  ███████  ██████   ██████  ██ ██   ████
// ---------------------------------


#login-page {

    .left-register {
        #l-login img{
            width:100%;
            height: 100%;
        }
    }

    #register-container {
        display: grid;
        grid-template-columns: 50% 50%;
        color: #F9F9F9;
        position: relative;
    }

    #new-password {
        text-align: right;
        margin-bottom: 2rem;
        color: $grey-light;
        transition: ease-in-out 0.3s;

        &:hover {
            color: $secondary-color; 
        }
    }

    #create-account {
        a {
            color: $grey-light;
            transition: ease-in-out 0.3s;
            position: relative;

            &:hover {
                color: $secondary-color;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 100%;
            }
        }
    }

    button {
        width: 100%;
        margin-bottom: 3rem;
    }

    #r-login {
        background-image: url('../images/login2.png'); 
        background-repeat: no-repeat;
        background-size: auto 100%;
        width:100%;
        height: 100%;
        padding: 5rem 5rem 3rem 5rem;
    } 
}


// ---------------------------------
//  ███████ ██    ██ ██████  ███████  ██████ ██████  ██ ██████  ████████ ██  ██████  ███    ██ ███████ 
//  ██      ██    ██ ██   ██ ██      ██      ██   ██ ██ ██   ██    ██    ██ ██    ██ ████   ██ ██      
//  ███████ ██    ██ ██████  ███████ ██      ██████  ██ ██████     ██    ██ ██    ██ ██ ██  ██ ███████ 
//       ██ ██    ██ ██   ██      ██ ██      ██   ██ ██ ██         ██    ██ ██    ██ ██  ██ ██      ██ 
//  ███████  ██████  ██████  ███████  ██████ ██   ██ ██ ██         ██    ██  ██████  ██   ████ ███████
// ---------------------------------

$transition: ease-in-out 0.3s;
$grey-color: #272727; 

#subscription-page {
    // background-color: red;
    width: $content-width;
    margin: auto;
    margin-top: 4rem;
    
    
    p {
        color: $main-white-color;
        font-weight: $semi-bold;
        margin-bottom: 2rem;
        text-align: center;
        flex-wrap: wrap
    }
    
    .subscription-cards {
        display: flex;
        justify-content: space-evenly;
    }

    .ongoing-subscription {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $main-black-color;
            opacity: 0.8;
        }
    }
    
    .subscription-card {
        background-color: $grey-color;
        width: 21rem;
        border-left: 1px solid $grey-color;
        border-right: 1px solid $grey-color;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 2rem;
        cursor: pointer;
        transition: scale ease-in-out 0.3;
        opacity: 0;

        &:hover {
            background-color: $secondary-color;

            border-color: $secondary-color;

            h2,p {
                color: $main-black-color;
            }

            .btn {
                background-color: $grey-color;
                color: $secondary-color;
                border-color: $grey-color;
            }
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 1.8rem;
            margin-bottom: 2rem;
            color: $main-white-color;
            letter-spacing: 0.2rem;
            transition: $transition;
        }

        .image {
            // border: 1px solid grey;
            width: 50%;
            height: 14rem;
            margin: auto;
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        p {
            color: $secondary-color;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        p:nth-child(3) {
            font-weight: $extra-bold;
            font-size: 1.2rem;
        }

        p:nth-child(4) {
            font-size: 1rem;
        }

        .subscription-btn {
            margin-top: 1.3rem;
            display: flex;
            justify-content: center;
            

            div {
                text-align: center;
                background-color: $grey-color;
                color: $grey-color;
                border-color: $grey-color;
                transition: $transition;
                width: 11rem;
                
                &:hover {
                    transform: scale((1.1));
                }
            }
        }
    }
}

// ^ MEDIA QUERIES 
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    #subscription-page .subscription-cards {
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
    }
}


// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    #subscription-page .subscription-cards {
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
    }
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1050px) { 
    #subscription-page .subscription-cards {
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width:1050px) and (max-width:1560px) { 
    #subscription-page .subscription-cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 1rem;
    }
}




// ---------------------------------
//  ██████   █████  ██████  ████████ ██  ██████ ██ ██████   █████  ████████ ███████ 
//  ██   ██ ██   ██ ██   ██    ██    ██ ██      ██ ██   ██ ██   ██    ██    ██      
//  ██████  ███████ ██████     ██    ██ ██      ██ ██████  ███████    ██    █████   
//  ██      ██   ██ ██   ██    ██    ██ ██      ██ ██      ██   ██    ██    ██      
//  ██      ██   ██ ██   ██    ██    ██  ██████ ██ ██      ██   ██    ██    ███████
// ---------------------------------

#participation-page {

    #r-participation {
        #title-register {
            p {
                #name {
                    font-size: 1.4rem;
                }
                #pipe-separator{
                    color: $main-white-color !important;
                    font-size: 1.4rem;
                    padding: 0 0.3rem;
                }
            }
        }
    }

    #r-participation {
        background-image: url('../images/visuals/participations02.webp'); 
        background-repeat: no-repeat;
        background-size: auto 100%;
        width:100%;
        height: 100%;
        padding: 5rem 5rem 3rem 5rem;
    } 
}


//&  ---------------------------------
//&   ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
//~  ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
//~  ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
//~  ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
//?   ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
//?     ▀▀                                                
//?  ---------------------------------

// ^ MEDIA QUERIES - FORM
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    .content {
        width: 100% ;
    }

    .register-user #register-container {
        display: flex !important;
        flex-direction: column;
    }

    .register-user .left-register {
        width: 100%;
        height: 100%;
        min-height: auto;
    }

    .register-user .right-register {
        padding: 3rem 3rem 3rem 3rem !important;
    }

    .register-user #register-container #form-register {
        padding-right: 0rem;
    }
    
    .register-user #artist-role-infos {
        padding-right: 0rem;
    }

    #role-artist .custom-select {
    max-width: 100%;
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:900px) { 
    .content .register-user{
        width: 85% !important;
        margin: auto; 
    }

    .register-user #register-container {
        display: flex !important;
        flex-direction: column;
    }

    .register-user .left-register {
        width: 100%;
        height: 100%;
        min-height: auto;
    }

    .register-user .right-register {
        padding: 3rem 3rem 3rem 3rem !important;
    }

    .register-user #register-container #form-register {
        padding-right: 0rem;
    }

    .register-user .left-register img {
        width: 100% !important;
        height:100% !important;
    }

    #role-artist #artist-role-infos {
        padding-right: 0rem;
    }

    #role-artist .custom-select {
    max-width: 100%;
    }
}

// & LARGE SCREEN
@media screen and (min-width:900px) and (max-width:1400px) { 
    .content #register-user {
        width: 80% !important;
        margin: auto; 
    }

    .register-user .right-register {
        padding: 4rem 2rem 3rem 2rem !important;
    }

    .register-user #register-container #form-register {
        padding-right: 2rem;
    }

    .register-user .left-register img {
        width: 100% ;
        height:100% ;
    }

    #role-artist #artist-role-infos {
        padding-right: 2rem;
    }
    
    #role-artist .custom-select {
        max-width: 100%;
    }
}