// ./dart-sass/sass --watch public/sass:public/css
// ./dart-sass/sass public/sass/general.scss public/css/general.css

// body {
//     color:red;
//     margin-top: 3rem;
// }


* {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 3rem;
    width: 100%;
    background-color: rgb(32, 32, 32);
    // margin-top: 6rem;
    a {
        color:white;

        &:hover {
            color: rgb(37, 149, 177);
        }
    }
}

/**
 * Smooth scrolling on the whole document
 */
 html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

// NAV ---------------------------------------------------------
// -------------------------------------------------------------

nav {

    position: absolute;
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 2rem;
    align-items: center;
    padding: 0 6rem ;

    .home {
        i {
            font-size: 1.7rem;
        }
    }

    .active a {
        // color: rgb(37, 149, 177) !important;
        -webkit-text-fill-color:   rgb(37, 149, 177) !important;
        
    }

    .links {
        display: flex;
        a {
            position: relative; // Assure que les positions absolues dans les enfants sont relatives à cet élément
            margin-left: 2rem;
            background-image: linear-gradient(
                to right,
                rgb(37, 149, 177),
                rgb(37, 149, 177) 50%,
                #ffffff 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            // clips the background gradient to the text so it appears the text is actually the color of the background.
            // strips the color out of the text to make it transparent. 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            font-weight: 500;
    
            &:before {
                content: '';
                background:  rgb(37, 149, 177);
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                transition: width 0.3s ease-in-out;
            }
    
            &:hover {
                background-position: 0;
            }
    
            &:hover::before {
                width: 100%;
            }
        }
    }

    .roles{
        display: flex;
        column-gap: 1.2rem;
        a {
            position: relative; // Assure que les positions absolues dans les enfants sont relatives à cet élément
            background-image: linear-gradient(
                to right,
                rgb(37, 149, 177),
                rgb(37, 149, 177) 50%,
                #ffffff 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            // clips the background gradient to the text so it appears the text is actually the color of the background.
            // strips the color out of the text to make it transparent. 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            font-weight: 600;
    
            &:hover {
                background-position: 0;
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
    
    a {
        color:white;
        &:hover {
            color: rgb(37, 149, 177);
        }
    }

    i {
        font-size: 1.3rem;
    }
}



body {
    // margin-top: 5rem;
    // background-color: red;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'Acme', serif;
     
}

.content {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
    width: 70%;
    // background-color: red;
    
}

#avatar-profil {
    width: 150px;
    height: 150px;

    img {
        width: 100%;
    }
}

// ARTIST PAGES ------------------------------------------------
// -------------------------------------------------------------


.artists-container {
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;

    .artist-container {
        // background-color: grey;
        width: 12rem;
        height: 16rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            background-color: grey;
            width: 100%;
            height: 100%;

        }
    
    }
}

.artist-works {
    // background-color: red;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.ri-eye-close-fill {
    transition: ease-in-out 0.2s;
}

.ri-eye-close-fill:hover {
    color: rgb(105, 180, 230);
}

.btn {
    margin: 0.8rem 0 0.8rem 0;
    background-color: rgb(240, 189, 47);
    display: inline-block;
    padding: 0.5rem;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: ease-in-out .3s;

    &:hover {
        color: rgb(240, 189, 47);
        background-color: rgb(25, 24, 27);
    }
}

#edit_artist_submit button {
    background-color: rgb(240, 189, 47);
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    transition: ease-in-out .3s;
    margin: 0.6rem 0 0.6rem 0 ;

    &:hover {
        color: rgb(240, 189, 47);
        background-color: rgb(25, 24, 27);
    }
}

.edit-infos {
    label {
        line-height: 1.8rem;
    }

    input {
        border: none;
        border-bottom: 1px solid rgb(25, 24, 27);
    }
}

.alert-success {
    background-color: #8abe8c;
    margin-top: 5rem;
    padding: 1rem;

}

// ^ Carousel


.carousel {
    position: relative;
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
    // background-color: brown;
    margin-bottom: 5rem;

    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;

        i {
          font-size: 50px;  
          cursor: pointer;
          transition: ease-in-out 0.3s;

            &:hover {
                color :  rgb(240, 189, 47);
            }
        }
    }

    .nav {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

            .indicator {
                border: 0;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background: rgba(0,0,0, .3);
                margin: 0 6px;
                cursor: pointer;
                transition: ease-in-out 0.3s;

                &:hover {
                    background-color:  rgba(0,0,0, .6);
                }
            }

            .current-slide {
                background:  rgb(240, 189, 47);
            }
    }

    .button--left {
        left: -50px;
    }

    .button--right {
        right: -50px;
    }

    .track-container {
       background-color: green;
    //    margin: 10px;
    //    padding: 10px;
       height: 100%;
       
       position: relative;
       overflow: hidden;

       .track {
        padding: 0;
        margin: 0;
        position: relative;
        height: 100%;
        width: 100%;
        transition: transform 250ms ease-in-out;
        // overflow: hidden;

            .slide {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%; 
                
                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
            }
        }
    }

   
}

.is-hidden {
    display: none;
}

$color : rgb(240, 189, 47);
.cross-full {
    width: 12px;
    height: 12px;
    div {
        background-color: $color;
        width: 14px;
        height: 3px;
        transform: rotate(45deg);
        position: relative;
        border: 1px solid $color;

        &::before{
            content: "";
            position: absolute;
            transform: rotate(90deg);
            background-color: $color;
            width: 14px;
            height: 3px;
            border: 1px solid $color;
            translate: -1px -1px;

        }
    }
}

.cross-line {
    width: 12px;
    height: 12px;
    div {
        background-color: white;
        width: 14px;
        height: 4px;
        transform: rotate(45deg);
        position: relative;
        border: 1px solid black;

        &::before{
            content: "";
            position: absolute;
            transform: rotate(90deg);
            background-color: white;
            width: 14px;
            height: 4px;
            border: 1px solid black;
            translate: -1px -1px;
        }

        &::after{
            content: "";
            position: absolute;
            transform: rotate(90deg);
            background-color:white;
            width: 4px;
            height: 6.9px;
            translate: 5.4px -1.5px;
        }
    }
}


$sizeCross: 100%;
$boxShadowOffset: 10px;

.cross2 {
    width: 15px;
    height: 15px;
    transform-origin: center center; 
    transform: rotate(45deg);

    div {
        background-color: black;
        width: $sizeCross;
        height: $sizeCross;
        display: flex;


        div {
            background-color: white;
            // width: $sizeCross / 2.7 ;
            // height: $sizeCross / 2.7 ;
            $boxShadow: $boxShadowOffset $boxShadowOffset white,
                         0px $boxShadowOffset white,
                         $boxShadowOffset 0px white;

            box-shadow: $boxShadow;
            backdrop-filter: blur(1px);
        }
    }
}

$colorborder: rgba(0,0,0, 0.8);
.arrow {
    background-color:white;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.arrow-right { 
    border-top:  4px solid $colorborder;
    border-right: 4px solid $colorborder;
        &:hover {
            box-shadow: 3px -3px $color;         
        }
    
}

.arrow-left { 
    border-bottom:  4px solid $colorborder;
    border-left: 4px solid $colorborder;
        &:hover {
            box-shadow: -3px 3px $color;           
        }    
}



// EVENT PAGES -------------------------------------------------
// -------------------------------------------------------------
.past-event-title h2 {
    transition: color 0.3s ease-in-out; 
}

.past-event-btn {
    margin: 0.8rem 0 0.8rem 0;
    background-color: rgb(240, 189, 47);
    display: inline-block;
    padding: 0.4rem;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: ease-in-out .3s;

    &:hover {
        background-color: rgb(25, 24, 27);
        // + .past-event-title h2 {
        //     color: red;
        // }
    }

    .ri-eye-fill {
        color: white;
    }

   
}


.ongoing-events, .past-events {

    div {
        // background-color: red;
        margin-bottom: 1.5rem;
        padding: 0.3rem;
        border-left: 2px solid rgb(240, 189, 47);
    }
    line-height: 1.4;
    .name {
        font-size: 1.2rem;
    }

    
    
}

.status {
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.open {
    background-color: #71b7c0;
}

.closed {
    background-color: orange;
}

.pending {
    background-color: #8181a2;
}

.archived {
    background-color: gray;
}

.default {
    /* Styles par défaut si le statut n'est aucun des cas ci-dessus */
    background-color: black;
}

.past-event-title {
    display: flex;
    margin-top: 0.6rem;
    align-items: center;
    column-gap: 0.3rem;
}


// DAHSBOARD ---------------------------------------------------
// -------------------------------------------------------------
.dahsboard-container-events,
.dashboard-container-expos,
.dashboard-container-workshop,
.dashboard-container-studio {

    div:nth-child(1) {
       display: flex;
       align-items: center;
       column-gap: 0.6rem;
    }
    .ongoing{
        line-height: 1.4;
        .element {
            border-left: 2px solid rgb(240, 189, 47);
            padding: 0.3rem;
            margin-bottom: 1.5rem;
    
        }
    }
}

.delete-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 2px 2px -2px;
    border-radius: 0 0 0.6rem 0.6rem;
    padding: 0.3rem;

    div {
        display: flex;
        column-gap: 0.6rem;

        p {
            cursor: pointer;
            &:hover {
                color: rgb(240, 189, 47);
            }
        }

    }
}

// LEAFLET API -------------------------------------------------
// -------------------------------------------------------------

#map {
    height: 30rem;
    width: 30rem;
}