@import 'settings';
@import 'component';

/*  ---------------------------------- */
//  ███████ ██      ██ ██████  ███████ ███████ 
//  ██      ██      ██ ██   ██ ██      ██      
//  ███████ ██      ██ ██   ██ █████   ███████ 
//       ██ ██      ██ ██   ██ ██           ██ 
//  ███████ ███████ ██ ██████  ███████ ███████  
/* ---------------------------------- */
#slides-container {
    background-color: $main-black-color;
    position: relative;
}
#slides {
    width: 100%;
    height: calc(100vh - (6rem));
    @include center-flexbox();
    padding-bottom: 2rem;
    padding-top: 1rem;
    overflow: hidden;
    position: relative;

    .slide {
        background-color: $main-black-color;
        width: 75%;
        height: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 20% 40% 40%;
        color: $main-white-color;
        // opacity: 0;
        position: absolute;
        // display: none;
        
        .slide-picture {
            width: 300px;
            height: 100%;
            img {
               height: 100%


            }
        }

        .slide-text {
            @include center-flexbox();
            flex-direction: column;
            margin: 2rem 2rem;

            h2 {
                font-size: 6.25rem;
                font-weight: $extra-bold;
                line-height: 6.25rem;
                
                span {
                    font-weight: $medium;
                    font-size: 140px;
                }
            }

            p {
                font-size: 20px;
                font-style: italic;
                text-align: center;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }
        }
    }
}   

.slides-arrow {
    color: red;
    position: absolute;
    cursor: pointer;
}


.left {
    left:3rem;
}

.right {
    right: 3rem;
}



#quote {
    background-color: $main-black-color;
    width: 100%;
    position: relative;
   
    > div:nth-child(1) {
        height: 10px;
        width: 100%;
        background-color: $secondary-color;
    }

    #wrapper {
        display: flex;
        color: $main-white-color;
        width: 70%;
        margin: auto;
        padding: 6rem 0 3rem 0;
        font-size: 2.8rem;
        
        > div:nth-child(1) {
            width: 6%;
            z-index: 2;
            i {
                font-weight: 400;
            }
        }

        > div:nth-child(2) {
            width: 94%;
            font-size: 2.8rem;
            z-index: 2;
            p {
                font-weight: 700;
            }
        }

        .accent-text  {
        }
    
    }

    #pattern {
        background-color: $main-black-color;
        height: 7rem;
        width: 100%;
        background-image: url("../images/visuals/01.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1;

    }

}

#carousel {
    padding-top: 3rem ;
    height: 100vh;
    #top {
        width: 70%;
        margin: auto;
        h2 {
            font-size: 2.8rem;
            font-weight: 700;
        }
       
    }

    .accent-color {
        color: $secondary-color3;
    }

    #quote-text {
        visibility: hidden;
        // color: $secondary-color3;
        font-size:  2.5rem;
            font-weight: 600;

    }

    #content {
        width: 100%;
        // height: 500px;
        padding: 2rem 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .image {
            width: 28rem;
            figure {
                width: 28rem;
                height: 28rem;
                background-color: grey;
                cursor: pointer;
                overflow: hidden;
                
                img {
                    max-width: 120%;
                    min-height: 120%;
                    transition: ease-in-out 0.6s;
                    &:hover {
                        transform: translateX(-5px);

                    }
                }
            }
        }
      

        .infos {
            margin-top: 1.4rem;
            font-weight: 600;
            letter-spacing: $letter-spacing-medium ;
            div {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                p {
                   font-weight: 500; 
                }
                
                
            }

            h4 {
                font-size: 1.8rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-top: 0.3rem;
                margin-bottom: 1.3rem;
                span {
                    color: $secondary-color;
                }
            }

            button {
                border: 1px solid $secondary-color;
                font-weight: 600;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 1rem;
                color: $secondary-color;
                transition: ease-in-out 0.3s;
                
                &:hover {
                    background-color: $main-black-color;
                    border: 1px solid $secondary-color;
                }

            }
        }
    }
}

#quote-artist {
    background-color: $main-black-color;
    width: 100%;
    position: relative;
   
    > div:nth-child(1) {
        height: 10px;
        width: 100%;
        background-color: $secondary-color;
    }

    #wrapper {

        div {
        display: flex;
        color: $main-white-color;
        width: 70%;
        margin: 0 auto;
        padding: 3rem 0 2rem 0;
        font-size: 2.8rem;
        
        > div:nth-child(1) {
            width: 6%;
            z-index: 2;
            i {
                font-weight: 400;
            }
        }

        .quote {
            width: 94%;
            font-size: 2rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            p {
                font-weight: 700;
            }

            #name-categ {
                font-size: 1.2rem;
                font-weight: 300;
                margin-top: 2rem;
                color: $secondary-color;
                letter-spacing: $letter-spacing-text;
            }
        }
 
        }
       
    }

    #dots {
        width: 70%;
        margin: auto;
        display: flex;
        padding-left: 5rem;
        column-gap: 10px;
        div {
            height: 18px;
            width: 18px;
            border: 2px solid grey;
            border-radius: 50%;
            cursor: pointer;
            transition: ease-in-out 0.6s;

            &:hover {
               background-color: $main-white-color;
               border: $main-white-color; 
            }
        }
    }

    .dot.active {
        background-color: $main-white-color; 
        border: 2px solid $main-white-color!important;
    }

  

    #pattern {
        background-color: $main-black-color;
        height: 7rem;
        width: 100%;
        background-image: url("../images/visuals/01.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1;

    }

}


#calendar {
    height: 100%;
    display: flex;
    background-color: $main-white-color;
    padding: 6rem;
    #left {
        width:50%; 
           
    }

    #right {
        width: 50%;
        padding: 8rem;
        background-image: url("../images/visuals/home_pattern.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        p:nth-child(1) {
            font-size: 2.8rem;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        p:nth-child(3) {
            font-size: 1.2rem;
            font-weight: 600;
            margin: 1rem 0 2rem 0;

        }

        button {
            background-color: $main-black-color;
            border: 1px solid $main-black-color;
            color: $main-white-color;
            padding : 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            transition: ease-in-out 0.3s;

            &:hover {
                background-color: transparent;
                border: 1px solid $main-black-color;
                color: $main-black-color;
            }
        }
       
    }
}

#homepage-map {
    div {
        // background-color: red;
        // width: 100%;
        // padding: 3rem;

        #map {
            background-color: white;
        }
    }
}

.separator-space {
    width: 100%;
    height: 3rem;
    background-color: $main-black-color;
}

#map {
    height: 40rem;
    z-index: 20;
    // width: 35rem;
    // box-shadow: 7px 7px rgb(240, 189, 47),-7px -7px #737373 ;
    // transition: ease-in-out 0.3s;
    
    // &:hover {
    //     box-shadow: -7px 7px #737373 ,7px -7px rgb(240, 189, 47) ;
    // }
}

.leaflet-popup-content-wrapper {
    border-bottom: 2px solid rgb(37, 149, 177);
    transition: ease-in-out 0.3s;
    &:hover {
        border-color: rgb(240, 189, 47);
    }

    &:hover + .leaflet-popup-tip-container .leaflet-popup-tip {
        background-color: rgb(240, 189, 47);
    }
}

.leaflet-popup-tip-container {
    .leaflet-popup-tip {
        background-color:  rgb(37, 149, 177);
        transition: ease-in-out 0.3s;
    }
}


.leaflet-popup-content {
    div a {
        color: rgb(240, 189, 47);
        font-weight: 600;
        font-size: 18px;
        transition: ease-in-out 0.3s;

        &:hover {
            color: rgb(37, 149, 177);
        }
    }
}

#section-contact {
    background-color: $main-black-color;
    width: 100%;
    height: 100vh;
    
    
}



