@import 'settings';
@import 'component';

/*  ---------------------------------- */
//  ███████ ██      ██ ██████  ███████ ███████ 
//  ██      ██      ██ ██   ██ ██      ██      
//  ███████ ██      ██ ██   ██ █████   ███████ 
//       ██ ██      ██ ██   ██ ██           ██ 
//  ███████ ███████ ██ ██████  ███████ ███████  
/* ---------------------------------- */
#slides-container {
    background-color: $main-black-color;
    position: relative;
}
#slides {
    width: 100%;
    height: calc(100vh - (6rem));
    @include center-flexbox();
    padding-bottom: 2rem;
    padding-top: 1rem;
    overflow: hidden;
    position: relative;

    .slide {
        background-color: $main-black-color;
        width: 75%;
        height: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 23% 65% 38%;
        color: $main-white-color;
        position: absolute;
        .slide-picture {
            width: 300px;
            height: 100%;
            img {
               height: 100%
            }
        }
        .slide-text {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin: 2rem 2rem;
        
            .highlight-text {
                color: $secondary-color;
            }
            .title-text {
                font-size: 5.9rem;
                font-weight: $extra-bold;
                line-height: 5.5rem;

                &::first-letter {
                    color: $secondary-color;
                }
                span {
                    font-weight: $medium;
                    font-size: 140px;
                }
            }
            p {
                font-size: 1.4rem;
                font-style: italic;
                text-align: center;
                margin: 3rem 20rem 3rem 0;
                letter-spacing: $letter-spacing-text;
            }
        }
    }
}   

.slides-arrow {
    color: red;
    position: absolute;
    cursor: pointer;
}

.left {
    left:3rem;
}
.right {
    right: 3rem;
}

#quote {
    background-color: $main-black-color;
    position: relative;

    > div:nth-child(1) {
        height: 10px;
        width: 100%;
        background-color: $secondary-color;
    }

    #wrapper {
        display: flex;
        color: $main-white-color;
        width: 70%;
        margin: auto;
        padding: 4rem 0 3rem 0;
        font-size: 2.3rem;
        > div:nth-child(1) {
            width: 6%;
            z-index: 2;
            i {
                font-weight: 400;
            }
        }
        > div:nth-child(2) {
            width: 94%;
            font-size: 2.8rem;
            z-index: 2;
            h3 {
                font-weight: 500;
                line-height: 4rem;
            }
        }
    }
    #pattern {
        background-color: $main-black-color;
        height: 7rem;
        width: 100%;
        background-image: url("../images/visuals/01.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1;
    }
}

#carousel {
    padding: 10rem 0 ;
    #top {
        width: 70%;
        margin: auto;
        h4 {
            font-size: 2.8rem;
            font-weight: 700;
        }
    }
    .accent-color {
        color: $secondary-color3;
    }
    #quote-text {
        visibility: hidden;
        font-size:  2.5rem;
        font-weight: 600;
    }

    #content {
        width: 100%;
        padding: 2rem 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .image {
            width: 28rem;
            figure {
                width: 28rem;
                height: 28rem;
                background-color: grey;
                cursor: pointer;
                overflow: hidden;
                img {
                    max-width: 120%;
                    min-height: 120%;
                    transition: ease-in-out 0.6s;
                    &:hover {
                        transform: translateX(-5px);

                    }
                }
            }
        }
        .infos {
            margin-top: 1.4rem;
            font-weight: 600;
            letter-spacing: $letter-spacing-medium ;
            div {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                p {
                   font-weight: 500; 
                }
            }
            h4 {
                font-size: 1.8rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-top: 0.3rem;
                margin-bottom: 1.3rem;
                span {
                    color: $secondary-color;
                }
            }
            button {
                border: 1px solid $secondary-color;
                font-weight: 600;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 1rem;
                color: $secondary-color;
                transition: ease-in-out 0.3s;
                &:hover {
                    background-color: $main-black-color;
                    border: 1px solid $secondary-color;
                }
            }
        }
    }
}

#quote-artist {
    background-color: $main-black-color;
    width: 100%;
    position: relative;
    margin-bottom: 10rem;
    > div:nth-child(1) {
        height: 10px;
        width: 100%;
        background-color: $secondary-color;
    }
    #wrapper {
        
        div {
            display: flex;
            color: $main-white-color;
            width: 70%;
            margin: 0 auto;
            padding: 3rem 0 2rem 0;
            font-size: 2.8rem;
            min-height: 15rem;
            > div:nth-child(1) {
                width: 6%;
                z-index: 2;
                i {
                    font-weight: 400;
                }
            }
            .quote {
                width: 94%;
                font-size: 2rem;
                z-index: 2;
                display: flex;
                flex-direction: column;
                p {
                    font-weight: 700;
                }
                #name-categ {
                    font-size: 1.2rem;
                    font-weight: 300;
                    margin-top: 2rem;
                    color: $secondary-color;
                    letter-spacing: $letter-spacing-text;
                }
            }
        }
    }

    #dots {
        width: 70%;
        margin: auto;
        display: flex;
        padding-left: 5rem;
        column-gap: 10px;
        div {
            height: 18px;
            width: 18px;
            border: 2px solid grey;
            border-radius: 50%;
            cursor: pointer;
            transition: ease-in-out 0.6s;
            &:hover {
               background-color: $main-white-color;
               border: $main-white-color; 
            }
        }
    }

    .dot.active {
        background-color: $main-white-color; 
        border: 2px solid $main-white-color!important;
    }
    #pattern {
        background-color: $main-black-color;
        height: 7rem;
        width: 100%;
        background-image: url("../images/visuals/01.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1;
    }
}
#calendar {
    height: 100%;
    display: flex;
    background-color: $main-white-color;
    padding: 0rem 6rem 0rem 6rem;
    #left {
        width:50%; 
        figure {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    #right {
        width: 50%;
        background-image: url("../images/visuals/home_pattern.webp");
        background-repeat: no-repeat;
        background-size: auto;
        div {
            background-color: transparent;
            z-index: 2;
            padding: 8rem;
        }
        figure {
            width: 100%;
            height: 100%;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        p:nth-child(1) {
            font-size: 2.8rem;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        p:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }
        p:nth-child(3) {
            font-size: 1.4rem;
            color: $secondary-color3;
            font-weight: 600;
            margin: 1rem 0 2rem 0;
        }
        button {
            background-color: $main-black-color;
            border: 1px solid $main-black-color;
            color: $main-white-color;
            padding : 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            transition: ease-in-out 0.3s;
            &:hover {
                background-color: transparent;
                border: 1px solid $main-black-color;
                color: $main-black-color;
            }
        }
    }
}

#homepage-map {
    div {
        #map {
            background-color: white;
        }
    }
}
.separator-space {
    width: 100%;
    height: 3rem;
    background-color: $main-black-color;
}
#map {
    height: 40rem;
}

.leaflet-popup-content-wrapper {
    border-bottom: 2px solid rgb(37, 149, 177);
    transition: ease-in-out 0.3s;
    &:hover {
        border-color: rgb(240, 189, 47);
    }
    &:hover + .leaflet-popup-tip-container .leaflet-popup-tip {
        background-color: rgb(240, 189, 47);
    }
}

.leaflet-popup-tip-container {
    .leaflet-popup-tip {
        background-color:  rgb(37, 149, 177);
        transition: ease-in-out 0.3s;
    }
}

.leaflet-popup-content {
    div a {
        color: rgb(240, 189, 47);
        font-weight: 600;
        font-size: 18px;
        transition: ease-in-out 0.3s;
        &:hover {
            color: rgb(37, 149, 177);
        }
    }
}

#section-contact {
    background-color: $main-black-color;
    width: 100%;
    height: 100vh;
}

// ------------------- 
//   ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
//  ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
//  ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
//  ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
//   ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
//      ▀▀                                               
//------------------- 

// ^ MEDIA QUERIES 
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:800px) { 
    #quote #wrapper > div:nth-child(2) {
        font-size: 1.4rem;
    }
    #quote #wrapper {
        width: 90%;
        padding: 2rem 0 2rem 0;
        font-size: 0.8rem;
        height: 5rem;
    }

    #quote #wrapper > div:nth-child(2) h3 {
        font-weight: 500;
        line-height: 2.6rem;
    }

    
    #quote #pattern {
        background-size: auto 136%;
    }
    #carousel {
        padding: 3rem 0;
    }
    #carousel #top {
        width: 90%;
    }
    #carousel #top h4 {
        font-size: 2.3rem;
    }
    #carousel #quote-text {
        font-size: 1.7rem;
    }
    #carousel #content .infos {
        margin-top: 1rem;
        letter-spacing: 0.15rem;
    }
    #carousel #content .infos {
        margin-top: 0.4rem;
        padding: 0rem 1.6rem 0 1.6rem;
    }

    #carousel #content .infos h4 {
        font-size: 1.4rem;
    }
    #carousel #content .infos button {
        font-size: 1.1rem;
        padding: 0.8rem;
        margin-bottom: 3rem;
    }
    #quote-artist #wrapper div .quote {
        width: 100%;
        font-size: 1.4rem;
    }
    #quote-artist #wrapper div {
        width: 90%;
        padding: 1rem 0 1rem 0;
        font-size: 1.8rem;
    }
    #quote-artist #wrapper div > div:nth-child(1) i {
        display: none;
    }
    #quote-artist #pattern {
        background-size: auto 136%;
    }
    #calendar {
        display: flex;
        padding: 3rem 1rem 3rem 1rem;
        flex-direction: column;
        align-items: center;
    }
    #calendar #left {
        width:100%;
    }
    #calendar #right {
        width: 100%; 
        background-size: 100% 100%; 
        background-size: auto;
    }
    #calendar #right div {
        padding: 2rem;
    }
    #calendar #right p:nth-child(1) {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    #calendar #right button {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
    #slides {
        width: 100%;
        height: calc(80vh - 6rem);
        display: flex;
        align-items: flex-start;
    }
    #slides .slide {
        display: flex;
        width: 90%;
        height: 100%;
    }
    #slides .slide .slide-text .title-text span {
        font-size: 80px;
    }
    #slides .slide .slide-picture {
        height: 76%;
    }
    #slides .slide .slide-text p {
        font-size: 18px;
        margin: 3rem 0rem 3rem 0;
    }
    #slides .slide .slide-text .title-text {
        font-size: 3.15rem;
        line-height: 3.25rem;
    }

    #slides .slide .slide-text {
        margin: 0rem 0rem; 
    }
}

@media screen and (min-width:800px) and (max-width:1200px) { 

    #slides .slide .slide-text .title-text {
        font-size: 4.25rem;
        line-height: 4.25rem;
    }
    #slides .slide {
        grid-template-columns: 45% 62% 21%;
    }

    #slides .slide .slide-text p {
        margin: 3rem 4rem 0rem 0;
    }


    #slides .slide .slide-text .title-text span {
        font-size: 65px;
    }
    #quote #pattern {
        background-size: auto 160%;
        height: 8rem;
    }
    #quote #wrapper {
        width: 80%;
        padding: 3rem 0 3rem 0;
        font-size: 2.8rem;
    }
    #quote #wrapper > div:nth-child(2) {
        font-size: 2.3rem;
    }
    #carousel #content .infos h4 {
        font-size: 1.6rem;
    }
    #carousel #content .infos button {
        font-size: 1rem;
        padding: 0.9rem;
        margin-bottom: 2.6rem;
    }
    #carousel #top h4 {
        font-size: 2.7rem;
    }
    #carousel #quote-text {
        font-size: 2rem;
    }
    #carousel {
        padding: 5rem 0;
    }
    #quote-artist #pattern {
        background-size: auto 160%;
        height: 8rem;
    }
    #quote-artist #wrapper div {
        width: 80%;
        padding: 2rem 0 1rem 0;
        font-size: 1.8rem;
    }
    #quote-artist #wrapper div .quote {
        font-size: 1.7rem;
    }
    #calendar {
        display: flex;
        padding: 3rem 4rem 3rem 4rem;
        flex-direction: column;
        align-items: center;
    }
    #calendar #left {
        width:100%;
    }
    #calendar #right {
        width: 100%; 
        background-size: 100% 100%; 
        background-size: auto;
    }
    #calendar #right div {
        padding: 2rem;
    }
    #calendar #right p:nth-child(1) {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    #calendar #right button {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width:1000px) and (max-width:1200px) { 
    #carousel #content {
        padding: 2rem 0rem;
    }
}

@media screen and (min-width:1000px) and (max-width:1500px) { 
    #calendar {
        display: flex;
        flex-direction: row;
    }
    #calendar #right div {
        padding: 4rem;
    }
}

