@import 'settings';
@import 'component';

// ---------------------------------
//  ███████ ██    ██ ███████ ███    ██ ████████
//  ██      ██    ██ ██      ████   ██    ██   
//  █████   ██    ██ █████   ██ ██  ██    ██   
//  ██       ██  ██  ██      ██  ██ ██    ██ 
//  ███████   ████   ███████ ██   ████    ██ 
// ---------------------------------


#events-index {
    .container-event {
        display: grid;
        grid-template-columns: 55% 45%;
        height: 26rem;
        position: relative;
        margin-bottom: 7rem;
        opacity: 0; 
        transition: opacity 0.6s ease; 
        
        #picture-event {
                padding-right: 3rem;
                width: 100%;
                height: 26rem;

            figure {
                background-color: grey;
                width: 100%;
                height: 100%;
                position: relative;
                cursor: pointer;
                overflow: hidden;

                // &:after {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     width: 100%;
                //     height: 100%;
                //     background-color: black;
                //     opacity: 0;
                //     transition: ease-in-out 0.6s;
                // }

                // &:hover:after {
                //     opacity: 0.3;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    transition: ease-in-out 0.6s;
                    cursor: pointer;


                    &:hover {
                        transform: scale(1.1);
                        
                    }
                }
            }
        }
        #infos-event {
            h2 {
                color: $secondary-color;
                text-transform: uppercase;
                padding-bottom: 2rem;
                span {
                    color: $secondary-color3;
                }
            }

            #resume-event {
                padding-bottom: 2rem;
                text-align: justify;
            }

            #details-event {
                display: grid;
                row-gap: 1rem;
                span {
                    font-weight: $bold;
                }

                #pipe-separator {
                    color: $secondary-color;
                }
            }

            #btn-event {
                bottom: 0;
                position: absolute;
            }
        }
    }
}

//&  ---------------------------------
//&   ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
//~  ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
//~  ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
//~  ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
//?   ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
//?     ▀▀                                                
//?  ---------------------------------

// ^ MEDIA QUERIES - INDEX
@media screen and (min-width:320px) and (max-width:480px) { 
    #events-index .container-event {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #events-index .container-event #infos-event {
        width: 80%;
        margin: auto;
    }

    #resume-event {
        line-height: 1.4rem;
    }

    #events-index .container-event #infos-event #details-event {
        row-gap: .6rem;
    }

    #events-index .container-event #picture-event {
        height: 18rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    #events-index .container-event #picture-event {
        padding-right: 0;
        width: 100%;
    }

    #events-index .container-event #picture-event figure {
        width: 100%;
        height: 21rem;
        margin-bottom: 2rem;
    }

    #events-index .container-event #infos-event #resume-event {
        padding-bottom: 2rem;
        text-align: justify;
    }

    #events-index .container-event #infos-event #btn-event {
        bottom: 0;
        position:inherit; 
        margin-top: 2rem;
    }  
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    #events-index .container-event {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #events-index .container-event #infos-event {
        width: 100%;
    }

    #resume-event {
        line-height: 1.4rem;
    }

    #events-index .container-event #infos-event #details-event {
        row-gap: .6rem;
    }

    #events-index .container-event #picture-event {
        height: 22rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    #events-index .container-event #picture-event {
        padding-right: 0;
        width: 100%;
    }

    #events-index .container-event #picture-event figure {
        width: 100%;
        height: 21rem;
        margin-bottom: 2rem;
    }

    #events-index .container-event #infos-event #resume-event {
        padding-bottom: 2rem;
        text-align: justify;
    }

    #events-index .container-event #infos-event #btn-event {
        bottom: 0;
        position:inherit; 
        margin-top: 2rem;
    }  
}

