@import 'settings';
@import 'component';


/*  ---------------------------------- */
//  ██████   ██████  ██████  ██    ██ 
//  ██   ██ ██    ██ ██   ██  ██  ██  
//  ██████  ██    ██ ██   ██   ████   
//  ██   ██ ██    ██ ██   ██    ██    
//  ██████   ██████  ██████     ██    
/* ---------------------------------- */

/* set up the body */
body {
    font-family: $main-font;
    background-color: $main-white-color;
    overflow-x: hidden;
    height: 100%; 
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

#back-top-btn {
    display: inline-block;
    background-color: $secondary-color;
    width: 35px;
    height: 35px;
    text-align: center;
    // border-radius: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    @include center-flexbox();

    &:hover {
        cursor: pointer;
        background-color: #333;        
    }
    &.active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &:hover:after {
        color: $secondary-color;
    }
    &:after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.6em;
        line-height: 50px;
        color: $main-white-color;
    }
}


.banner {
    // background-color: rgb(167, 167, 167);
    background-image: url('../images/banner.webp'); 
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 12rem;
    @include center-flexbox();
    margin-bottom: 9rem;
    // padding-left: $padding-border;
    

    .content {
        width: $content-width;
        margin: auto;
    
        h1, p {
            font-size: 2.3rem;
            font-weight: $bold;
        }
    
        p {
            color: $secondary-color3;
        }

        .subtitle {
            
            display: flex;
        }
    } 

}

    .banner-title {
        opacity: 0;
        transform: translateX(-80px); 
        transition: opacity 2s ease, transform 2s ease; 
        text-transform: uppercase;
        // letter-spacing: 0.2rem;
       
    }

    .banner-text {
        opacity: 0;
        transition: opacity 2s ease 1s; 
        // letter-spacing: 0.2rem;
    }

    .banner-title.visible {
        opacity: 1;
        transform: translateX(0); 
    }

    .banner-text.visible {
        opacity: 1;
    }


    .underscore-blink {
        margin-left: 0.3rem;
        width: 1.7rem;
        height: 45px;
        border-bottom: 6px solid $secondary-color;
        opacity: 0;
        transition: ease 0.3s;
    }


    .underscore-blink.visible {
        opacity: 1;
    }

    .underscore-blink.animate {
        animation: blink 1s 5;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


.content {
    width: $content-width;
    margin: auto;
}

.breadcrumb {
    width: $content-width;
    margin: auto;
    margin-bottom: .9rem;
}

.breadcrumb-light {
    color: $main-white-color;
    a {
        transition: $transition-basic;
        &:hover {
            color: $secondary-color;
        }
    }
}

.breadcrumb-dark {
    color: $main-black-color;
    a {
        transition: $transition-basic;
        &:hover {
            color: $secondary-color3;
        }
    }
}
  

/*  ---------------------------------- */
//  ███    ██  █████  ██    ██ ██████   █████  ██████  
//  ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//  ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████  
//  ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
//  ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██ 
/*  ---------------------------------- */


nav {
    // position: absolute;
    // margin-bottom: 2rem;
    width: 100%;
    height: $nav-size;
    background-color: $main-black-color;
    color: $main-white-color;
    padding: 0 1.8rem;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 45% 30%;
    letter-spacing: $letter-spacing-title;
    z-index: 2000;
    
    // gap: 2rem;
    // padding: 0 2rem ;
    .name-app {
        font-size: 2rem;
        letter-spacing: $letter-spacing-title;
        position: relative;
        background-image: linear-gradient(
            to right,
            $secondary-color,
            $secondary-color 50%,
            $main-white-color 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        animation: colorChange 2s forwards;
        animation-delay: 2s;

        a {
            transition: 5s ease-in-out;
            
            &:hover {
                background-image: linear-gradient(
                to right,
                $secondary-color,
                $secondary-color 50%,
                $secondary-color 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

       

    }

    @keyframes colorChange {
        0% {
            background-position: 100%; /* Position initiale du dégradé */
        }
        50% {
            background-position: 0%; /* Position intermédiaire du dégradé */
        }
        100% {
            background-position: 100%; /* Position finale du dégradé */
        }
    }

    .nav-links {
        font-size: $fs-text;
        justify-content: space-between;
        display: flex;

        a {
            transition: ease-in-out 0.3s;
            position: relative;

            &:hover {
                color: $secondary-color;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 97%;
            }
        }
        
       
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        z-index: 2;

        a {
            display: flex;
            height: 1.1rem;
            width: 1.8rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            font-size: 10px;

            div {
                width: 1.8rem;
                height: 0.05rem;
                background-color: $main-white-color;
                transition: transform ease-in-out 0.2s;
            }

        }
        a:hover {
            div:nth-child(2) {
                background-color: $secondary-color;
                transform: rotate(90deg);
                // height: 0.1rem;
            }

            div:nth-child(1) {
                background-color: $secondary-color;
                transform: translateY(0.55rem);
            }
            div:nth-child(3) {
                background-color: $secondary-color;
                transform: translateY(-0.5rem);
            }
            
        }
    }
}



// div:nth-child(1), div:nth-child(3), div:nth-child(2)

/*  ---------------------------------- */
//   █████  ███████ ██ ██████  ███████ 
//  ██   ██ ██      ██ ██   ██ ██      
//  ███████ ███████ ██ ██   ██ █████   
//  ██   ██      ██ ██ ██   ██ ██      
//  ██   ██ ███████ ██ ██████  ███████
/*  ---------------------------------- */

aside {
    background-color: $main-black-color;
    position: fixed;
    top:0; 
    right: -28rem;
    // right: 0;
    // z-index: 1000;
    height: 100vh;
    width: 28rem;
    z-index: 2;
    color: $main-white-color;
    text-align: justify;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    padding: 20rem 4rem 5rem 4rem;

    div {
        height: 100%;

        h3 {
            font-size: 2.25rem;
            font-weight: $extra-bold;
            letter-spacing: $letter-spacing-title;
            margin-bottom: 30px;
            span {
                font-weight: 400;
                font-size: 50px;
                color: $secondary-color;
            }
        }
        p {
            font-size: $fs-text;
            font-family: $secondary-font;
            letter-spacing: $letter-spacing-text;
            line-height: $line-height-text;
            margin-bottom: 2rem;
        }

    }
}

.socials {
    // background-color: red;
    // bottom: 0;
    height: 14rem;
    display: flex;
    align-items: flex-end;
    column-gap: 35px;
    // margin: 0;

    i {
        font-size: 18px;
        color: $main-white-color;
        transition: all $transition-len cubic-bezier($transition-bezier);

        &:hover {
            color:$secondary-color;
            transform: translateY(-5px);
        }
    }

}

/*  ---------------------------------- */
//  ███████  ██████   ██████  ████████ ███████ ██████     
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  █████   ██    ██ ██    ██    ██    █████   ██████        
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  ██       ██████   ██████     ██    ███████ ██   ██       
// 
//  ██████  ███████     ███    ███ ███████ ██████  ██████  ███████ 
//  ██   ██ ██          ████  ████ ██      ██   ██ ██   ██ ██      
//  ██   ██ █████       ██ ████ ██ █████   ██████  ██   ██ █████   
//  ██   ██ ██          ██  ██  ██ ██      ██   ██ ██   ██ ██      
//  ██████  ███████     ██      ██ ███████ ██   ██ ██████  ███████                                                                                                                      
/*  ---------------------------------- */

#top-footer {
    // margin-top: 15rem;
    width: 100%;
    z-index: 1; 
    height:561px;
    background-image: url('../images/motif-footer02.png'); 
    background-repeat: no-repeat; 
    // background-size: 100% auto; 
    // background-position: center; 
       
}

footer {
    background-color: $main-black-color;
    width: 100%;
    height: $footer-size;
    color: $main-white-color;
    position: absolute;
    z-index: 1;
    @include center-flexbox();

    #image {
        position: absolute;
        background-image: url('../images/motif-footer01.png'); 
        width: 100%;
        height: $footer-size;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #footer-separator {
        background-color: $secondary-color;
        width: 85%;
        height: 7px;
        position: absolute;
        top: 0;
        transform: translateY(-4px);
    }

    #footer-content {
        // background-color: red;
        @include center-flexbox();
        flex-direction: column;
        padding-top: 1rem ;
    }

    #name-nav {
        letter-spacing: $letter-spacing-title;
        font-size: $fs-medium;
        font-weight: $regular;
        margin-bottom: 1rem;
    }

    #footer-links {
        display: flex;
        column-gap: 7rem;
        letter-spacing: $letter-spacing-title;
        font-weight: $regular;
        font-size: $fs-text;
        margin-bottom: 6rem;
    }

    #footer-rights {
        letter-spacing: $letter-spacing-medium;
        
    }

    #footer-socials {
        margin-top: 3rem;
        height: 1rem;
        column-gap: 3rem;
        i {
            font-size: 25px;
        }
    }
    a {
        color:$main-white-color;
        &:hover {
            color:$secondary-color;
        }
    }

    #name-rights {
        color: $secondary-color;
    }

}

/* ---------------------------------- */
//  ███████ ██████  ██████   ██████  ██████      ██   ██  ██████  ██   ██ 
//  ██      ██   ██ ██   ██ ██    ██ ██   ██     ██   ██ ██  ████ ██   ██ 
//  █████   ██████  ██████  ██    ██ ██████      ███████ ██ ██ ██ ███████ 
//  ██      ██   ██ ██   ██ ██    ██ ██   ██          ██ ████  ██      ██ 
//  ███████ ██   ██ ██   ██  ██████  ██   ██          ██  ██████       ██                                    
/* ---------------------------------- */

// .error404 div {
//     width: 500px;
//     height: 500px;
// }  
// .error404 div img {
//     width: 100%;
// }   

#error404-page {
    background-color: $main-black-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    #content {
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        padding: 7rem 10rem 0rem 10rem ;
    }

    h1 {
        color: #eeaf42;
        // text-transform: uppercase;
        font-size: 4rem;
    }

    picture {
        background-color: grey;
        width: 500px;
        height: 500px;
        margin: 3rem 0;
    }

    p {
        color: $main-white-color ;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: $letter-spacing-medium ;

        a {
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 1rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 95%;
            }
        }
    }

    #background-img {
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(-100%);
        z-index: -1;
        display: flex;
        overflow: hidden;

        div {
            height: 290px;
            width: 1300px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}




