@import 'settings';
@import 'component';


/*  ---------------------------------- */
//  ██████   ██████  ██████  ██    ██ 
//  ██   ██ ██    ██ ██   ██  ██  ██  
//  ██████  ██    ██ ██   ██   ████   
//  ██   ██ ██    ██ ██   ██    ██    
//  ██████   ██████  ██████     ██    
/* ---------------------------------- */

/* set up the body */
body {
    font-family: $main-font;
    background-color: $main-white-color;
    // font-family: var(--ff-sans-normal);
    // font-size: var(--fs-400);
    // background-color: hsl(var(--clr-dark));
    // color: hsl(var(--clr-white));
    // line-height: 1.5; /* defaut is 1.4*/
    // min-height: 100vh; /* recherche à faire*/ 
    // display: grid; /* help all the items here to stretch out*/
    // grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    height: 100%;
    // position: relative;
    // padding-bottom: 500px;
    // margin-bottom: 500px;
    
}

.main {
    // background-color: red;
    height: 100%;
    width: 100%;
    // margin-top: 6rem;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 7rem;
    // width: 70%;
    // margin-bottom: 500px;
    position: relative;
}

#back-top-btn {
    display: inline-block;
    background-color: $secondary-color;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    @include center-flexbox();

    &:hover {
        cursor: pointer;
        background-color: #333;        
    }
    &.active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &:hover:after {
        color: $secondary-color;
    }
    &:after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: $main-white-color;
    }
}


.banner {
    // background-color: rgb(167, 167, 167);
    background-image: url('../images/banner.png'); 
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 12rem;
    @include center-flexbox();
    margin-bottom: 9rem;
    // padding-left: $padding-border;
    

    div {
        width: $content-width;
        // background-color: red;
        margin: auto;
    
        h1, p {
            font-size: 2.3rem;
            font-weight: $bold;
        }
    
        p {
            color: $secondary-color3;
        }
    } 

}

    .banner-title {
        opacity: 0;
        transform: translateX(-80px); // Transformation initiale

        transition: opacity 2s ease, transform 2s ease; 
        text-transform: uppercase;
    }

    .banner-text {
        opacity: 0;
        transition: opacity 2s ease 1s; // add 1s of delay
    }

    .banner-title.visible {
        opacity: 1;
        transform: translateX(0); // Transformation finale
    }

    .banner-text.visible {
        opacity: 1;
    }



    .underscore-static {
        font-size: 24px;
        animation: blink 1s 5; 
    }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.content {
    // background-color: red;
    width: $content-width;
    margin: auto;
}

  

/*  ---------------------------------- */
//  ███    ██  █████  ██    ██ ██████   █████  ██████  
//  ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//  ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████  
//  ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
//  ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██ 
/*  ---------------------------------- */


nav {
    // position: absolute;
    // margin-bottom: 2rem;
    width: 100%;
    height: $nav-size;
    background-color: $main-black-color;
    color: $main-white-color;
    padding: 0 1.8rem;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 45% 30%;
    letter-spacing: $letter-spacing-title;
    z-index: 2000;
    
    // gap: 2rem;
    // padding: 0 2rem ;
    .name-app {
        font-size: 2rem;
        letter-spacing: $letter-spacing-title;
    }

    .nav-links {
        font-size: $fs-text;
        // background-color: red;
        justify-content: space-between;
        display: flex;
       
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        z-index: 2;

        a {
            display: flex;
            height: 1.1rem;
            width: 1.8rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            font-size: 10px;

            div {
                width: 1.8rem;
                height: 0.05rem;
                background-color: $main-white-color;
                transition: transform ease-in-out 0.2s;
            }

        }
        a:hover {
            div:nth-child(2) {
                background-color: $secondary-color;
                transform: rotate(90deg);
                // height: 0.1rem;
            }

            div:nth-child(1) {
                background-color: $secondary-color;
                transform: translateY(0.55rem);
            }
            div:nth-child(3) {
                background-color: $secondary-color;
                transform: translateY(-0.5rem);
            }
            
        }
    }
}



// div:nth-child(1), div:nth-child(3), div:nth-child(2)

/*  ---------------------------------- */
//   █████  ███████ ██ ██████  ███████ 
//  ██   ██ ██      ██ ██   ██ ██      
//  ███████ ███████ ██ ██   ██ █████   
//  ██   ██      ██ ██ ██   ██ ██      
//  ██   ██ ███████ ██ ██████  ███████
/*  ---------------------------------- */

aside {
    background-color: $main-black-color;
    position: fixed;
    top:0; 
    right: -28rem;
    // right: 0;
    // z-index: 1000;
    height: 100vh;
    width: 28rem;
    z-index: 2;
    color: $main-white-color;
    text-align: justify;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    padding: 20rem 4rem 5rem 4rem;

    div {
        height: 100%;

        h3 {
            font-size: 2.25rem;
            font-weight: $extra-bold;
            letter-spacing: $letter-spacing-title;
            margin-bottom: 30px;
            span {
                font-weight: 400;
                font-size: 50px;
                color: $secondary-color;
            }
        }
        p {
            font-size: $fs-text;
            font-family: $secondary-font;
            letter-spacing: $letter-spacing-text;
            line-height: $line-height-text;
            margin-bottom: 2rem;
        }

    }
}

.socials {
    // background-color: red;
    // bottom: 0;
    height: 14rem;
    display: flex;
    align-items: flex-end;
    column-gap: 35px;
    // margin: 0;

    i {
        font-size: 18px;
        color: $main-white-color;
        transition: all $transition-len cubic-bezier($transition-bezier);

        &:hover {
            color:$secondary-color;
            transform: translateY(-5px);
        }
    }

}

/*  ---------------------------------- */
//  ███████  ██████   ██████  ████████ ███████ ██████     
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  █████   ██    ██ ██    ██    ██    █████   ██████        
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  ██       ██████   ██████     ██    ███████ ██   ██       
// 
//  ██████  ███████     ███    ███ ███████ ██████  ██████  ███████ 
//  ██   ██ ██          ████  ████ ██      ██   ██ ██   ██ ██      
//  ██   ██ █████       ██ ████ ██ █████   ██████  ██   ██ █████   
//  ██   ██ ██          ██  ██  ██ ██      ██   ██ ██   ██ ██      
//  ██████  ███████     ██      ██ ███████ ██   ██ ██████  ███████                                                                                                                      
/*  ---------------------------------- */

footer {
    background-color: $main-black-color;
    width: 100%;
    height: $footer-size;
    margin-top: 15rem;
    // bottom: 0;
    // left: 0;
    color: $main-white-color;
    position: absolute;

    @include center-flexbox();
    
    #footer-separator {
        // background-color: $secondary-color;
        background-color: #E49E4B;
        width: 85%;
        height: 7px;
        position: absolute;
        top: 0;
        transform: translateY(-4px);
    }

    #footer-content {
        // background-color: red;
        @include center-flexbox();
        flex-direction: column;
        padding-top: 1rem ;
    }

    #name-nav {
        letter-spacing: $letter-spacing-title;
        font-size: $fs-medium;
        font-weight: $regular;
        margin-bottom: 1rem;
    }

    #footer-links {
        display: flex;
        column-gap: 7rem;
        letter-spacing: $letter-spacing-title;
        font-weight: $regular;
        font-size: $fs-text;
        margin-bottom: 6rem;
    }

    #footer-rights {
        letter-spacing: $letter-spacing-medium;
        
    }

    #footer-socials {
        margin-top: 3rem;
        height: 1rem;
        column-gap: 3rem;
        i {
            font-size: 25px;
        }
    }
    a {
        color:$main-white-color;
        &:hover {
            color:$secondary-color;
        }
    }

    #name-rights {
        color: $secondary-color;
    }

}

