@import 'settings';
@import 'component';

//&  ---------------------------------- */
//&  ██████   ██████  ██████  ██    ██ 
//~  ██   ██ ██    ██ ██   ██  ██  ██  
//~  ██████  ██    ██ ██   ██   ████   
//~  ██   ██ ██    ██ ██   ██    ██    
//?  ██████   ██████  ██████     ██    
//? ---------------------------------- */

body {
    font-family: $main-font;
    background-color: $main-white-color;
    overflow-x: hidden;
    height: 100%; 
}
.main {
    height: 100%;
    width: 100%;
    position: relative;
}
#back-top-btn {
    display: inline-block;
    background-color: $secondary-color;
    width: 35px;
    height: 35px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    @include center-flexbox();

    &:hover {
        cursor: pointer;
        background-color: #333;        
    }
    &.active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &:hover:after {
        color: $secondary-color;
    }
    &:after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.6em;
        line-height: 50px;
        color: $main-white-color;
    }
}

.content {
    width: $content-width;
    margin: auto;
}

.alert {
    padding: 1rem;
    position: absolute;
    z-index: 100;
    right: 50%;
    transform: translate(50%, 0%);
    top: -8rem;
    margin: 0;
    @include center-flexbox();
    height: 7rem;
    box-shadow: $box-shadow ;
    min-width: 25rem;
    transition: ease-in-out 1s;
    i {
        margin-right: 1.3rem;
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
}

.alert-success {
    background-color: $secondary-color;
    color: $main-black-color;   
}
  
.alert-error {
    background-color: $main-black-color;
    color: $main-white-color; 
    
}

//&  ---------------------------------- */
//&  ██████   █████  ███    ██ ███    ██ ███████ ██████  
//~  ██   ██ ██   ██ ████   ██ ████   ██ ██      ██   ██ 
//~  ██████  ███████ ██ ██  ██ ██ ██  ██ █████   ██████  
//~  ██   ██ ██   ██ ██  ██ ██ ██  ██ ██ ██      ██   ██ 
//?  ██████  ██   ██ ██   ████ ██   ████ ███████ ██   ██ 
//?  ---------------------------------- */

.banner {
    background-image: url('../images/banner.webp'); 
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 12rem;
    @include center-flexbox();
    z-index: -500;
    margin-bottom: 9rem;

    .content {
        width: $content-width;
        margin: auto;
        .subtitle {
            display: flex;
        }
    } 
}

.banner-title {
    font-size: clamp(1.4rem, calc(1.4rem + 0.7vw), 2.3rem);
    font-weight: $bold;
    opacity: 0;
    transform: translateX(-80px); 
    text-transform: uppercase; 
    transition: opacity 2s ease, transform 2s ease;      
}

.banner-text {
    color: $secondary-color3;
    font-size: clamp(1.4rem, calc(1.4rem + 0.7vw), 2.3rem);
    font-weight: $bold;
    opacity: 0;
    transition: opacity 2s ease 1s; 
}

.banner-title.visible {
    opacity: 1;
    transform: translateX(0); 
}

.banner-text.visible {
    opacity: 1;
}

// ^ MEDIA QUERIES
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    .banner {
        margin-bottom: 5rem;
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    .banner {
        margin-bottom: 7rem;
    }
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1200px) { 
    .banner {
        margin-bottom: 8rem;
    }
}

// ^ ANIMATION underscore
.underscore-blink {
    margin-left: 0.3rem;
    width: clamp(1.2rem, calc(1.2rem + 0.7vw), 1.7rem);
    height: clamp(30px, calc(30px + 0.7vw), 45px);
    border-bottom: clamp(3px, calc(3px + 0.7vw), 6px) solid $secondary-color;
    opacity: 0;
    transition: ease 0.3s;
}

.underscore-blink.visible {
    opacity: 1;
}

.underscore-blink.animate {
    animation: blink 1s 5;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// & --------------------------------------------------
// ~ --------------------------------------------------
// ? --------------------------------------------------

.breadcrumb {
    width: $content-width;
    margin: auto;
    margin-bottom: .9rem;
}

.breadcrumb-light {
    color: $main-white-color;
    a {
        transition: $transition-basic;
        &:hover {
            color: $secondary-color;
        }
    }
}

.breadcrumb-dark {
    color: $main-black-color;
    a {
        transition: $transition-basic;
        &:hover {
            color: $secondary-color3;
        }
    }
}

@media screen and (min-width:320px) and (max-width:480px) { 
    .breadcrumb {
        font-size: .9rem;
    }
}

 
#popup-role-artist {
    position: fixed;
    right: -18rem;
    width: 17rem;
    height: 7rem;
    background-color: $main-black-color;
    color: white; 
    padding: 1rem 1rem 1rem 1.8rem ;
    font-size: 1rem;
    z-index: 1;
    opacity: 1;
    // display: block;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    transition: box-shadow $transition-basic;

        &:hover {
            box-shadow: 0 4px 0 $secondary-color;
        }

    div {
        display: flex;
        column-gap: 1rem;
        margin-top: 0.5rem; 
        
        p {
            cursor: pointer;
            font-size: 1rem;
        
            &:hover {
                color: $secondary-color;
                transform: scale(1.05);

            }
        }
        
    }

    #star {
        position: absolute;
        left: -9px; 
        top: 45%; 
        transform: translateY(-50%); 
        background-color: $main-black-color;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        @include center-flexbox();
        cursor: pointer;
        transition: $transition-basic;
        opacity: 0;

        &:hover {
            color: $secondary-color;
        }
    }

}

@keyframes scaleOnce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#star:hover i {
    animation: scaleOnce 1s forwards;
}


.status {
    color: white;
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.open {
    background-color: $secondary-color3;
}
.closed {
    background-color: $secondary-color;
}
.pending {
    background-color:$grey-light;
}
.archived {
    background-color: $grey-medium;
}
.default {
    /* Styles par défaut si le statut n'est aucun des cas ci-dessus */
    background-color: black;
}

  

/*  ---------------------------------- */
//  ███    ██  █████  ██    ██ ██████   █████  ██████  
//  ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//  ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████  
//  ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██ 
//  ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██ 
/*  ---------------------------------- */


nav {
    position: relative;
    width: 100%;
    height: $nav-size;
    background-color: $main-black-color;
    color: $main-white-color;
    padding: 0 1.8rem;
    display: grid;
    align-items: center;
    grid-template-columns: 15% 77% 4% 4%;
    letter-spacing: $letter-spacing-title;
    z-index: 10;
    justify-items: start;

    .name-app {
        font-size: 2rem;
        letter-spacing: $letter-spacing-title;
        position: relative;
        background-image: linear-gradient(
            to right,
            $secondary-color,
            $secondary-color 50%,
            $main-white-color 50%,
        );
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // animation: colorChange 2s forwards;
        // animation-delay: 2s;

        a {
            transition: 5s ease-in-out;
            
            &:hover {
                background-image: linear-gradient(
                to right,
                $secondary-color,
                $secondary-color 50%,
                $secondary-color 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    #burger-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        z-index: 2;

        a {
            display: flex;
            height: 1.1rem;
            width: 1.8rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            font-size: 10px;

            div {
                width: 1.8rem;
                height: 0.05rem;
                background-color: $main-white-color;
                transition: transform ease-in-out 0.2s;
            }

        }
        a:hover {
            div:nth-child(2) {
                background-color: $secondary-color;
                transform: rotate(90deg);
                // height: 0.1rem;
            }

            div:nth-child(1) {
                background-color: $secondary-color;
                transform: translateY(0.55rem);
            }
            div:nth-child(3) {
                background-color: $secondary-color;
                transform: translateY(-0.5rem);
            }
            
        }
    }
}

.nav-links {
    font-size: $fs-text;
    // justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    margin-right: 9rem;

    a {
        transition: ease-in-out 0.3s;
        position: relative;

        &:hover {
            color: $secondary-color;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -3px; 
            left: 0;
            width: 0; 
            height: 1px; 
            background-color: $secondary-color; 
            transition: width 0.3s ease; 
        }

        &:hover:before {
            color: $secondary-color;
            width: 97%;
        }
    }

    div {

        display: flex;
        justify-content: space-evenly;
        column-gap: 1.3rem;
    }
   
}

#user-interface {
    @include center-flexbox();
    span {
        
        .ri-user-4-fill {
            font-size: 1.8rem;
            cursor: pointer;
            transition: $transition-basic;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 2.1rem;
        cursor: pointer;
        z-index: 2;   
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $main-black-color;
        width: 15rem;
        // min-width: 10rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 2;
        transform: translateX(-6rem);    

        p {
            transition: $transition-basic;
            letter-spacing: 0.15rem;
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
        }
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a:hover {
        color: $secondary-color;
    }

    .ri-login-circle-line {
        font-size: 1.8rem;
        transition: $transition-basic;
        &:hover {
            color: $secondary-color;
        }
    }
    

}



#mobile-header{
    display: none;
    .nav-links {
        div {
            display: flex;
            flex-direction: column;
        }
    }
}

.highlight {
    color: $secondary-color;
}



// ^ MEDIA QUERIES - NAVBAR

// & LARGE SCREEN


@media (min-width: 340px) and (max-width: 678px) {
    nav {
        grid-template-columns: 58% 21% 13% 8%!important;
    }

    .banner {
        background-image:  url('../images/visuals/banner_small.webp');
    }
}

@media (min-width: 678px) and (max-width: 965px) {
    nav {
        grid-template-columns: 77% 9% 9% 5%;
    }
    .banner {
        background-image: url('../images/visuals/banner_medium.webp');
    }
}

@media (min-width: 965px) and (max-width: 1200px) {
    nav {
        grid-template-columns: 81% 7% 7% 5%;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {
    nav .nav-links {
        margin-right: 5rem; 
    }
}



@media (min-width: 1401px) {
    nav  {
        grid-template-columns: 39% 55% 3% 3%;
        
    }
}


@media screen and (max-width:1200px) { 

    nav #burger-menu {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        &:hover {
            color: $secondary-color;
        }
    }

    nav .nav-links {
        display: none;
    }

    nav .nav-links div {
        display: flex;
        flex-direction: column;
        row-gap: .8rem;
        z-index: -1000;
    }

    #mobile-header {
        font-size: 0.9rem;
        display: flex;
        padding-left: 4rem;
        background-color: $main-black-color;
        width: 100%;
        height: 22rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: ease-in-out 0.6s;
        transform: translateY(-360px);
        position: absolute;
        z-index: 1;
        border-bottom:1px solid $secondary-color;

        a {
            color: $main-black-color;

            &:hover {
                color: $secondary-color!important;
            }
        }
    }

    .nav-active {
        transform: translateY(0px)!important;
    }

    nav {
        grid-template-columns:  77% 9% 9% 5%;

        
    }

    #mobile-header .nav-links div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.6rem;
    }
}

/*  ---------------------------------- */
//   █████  ███████ ██ ██████  ███████ 
//  ██   ██ ██      ██ ██   ██ ██      
//  ███████ ███████ ██ ██   ██ █████   
//  ██   ██      ██ ██ ██   ██ ██      
//  ██   ██ ███████ ██ ██████  ███████
/*  ---------------------------------- */

aside {
    background-color: $main-black-color;
    position: fixed;
    top:0; 
    right: -28rem;
    z-index: 3000;
    height: 100vh;
    width: 28rem;
    z-index: 2;
    color: $main-white-color;
    text-align: justify;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    padding: 20rem 4rem 5rem 4rem;

    div {
        height: 100%;

        h3 {
            font-size: 2.25rem;
            font-weight: $extra-bold;
            letter-spacing: $letter-spacing-title;
            margin-bottom: 30px;
            span {
                font-weight: 400;
                font-size: 50px;
                color: $secondary-color;
            }
        }
        p {
            font-size: $fs-text;
            font-family: $secondary-font;
            letter-spacing: $letter-spacing-text;
            line-height: $line-height-text;
            margin-bottom: 2rem;
        }
    }
}

.socials {
    height: 14rem;
    display: flex;
    align-items: flex-end;
    column-gap: 35px;

    i {
        font-size: 18px;
        color: $main-white-color;
        transition: all $transition-len cubic-bezier($transition-bezier);

        &:hover {
            color:$secondary-color;
            transform: translateY(-5px);
        }
    }

}

@media (min-width: 320px) and (max-width: 450px) {
    aside {
        width: 100%;
        padding: 20rem 2rem 5rem 2rem;
    }
}
    

/*  ---------------------------------- */
//  ███████  ██████   ██████  ████████ ███████ ██████     
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  █████   ██    ██ ██    ██    ██    █████   ██████        
//  ██      ██    ██ ██    ██    ██    ██      ██   ██         
//  ██       ██████   ██████     ██    ███████ ██   ██       
// 
//  ██████  ███████     ███    ███ ███████ ██████  ██████  ███████ 
//  ██   ██ ██          ████  ████ ██      ██   ██ ██   ██ ██      
//  ██   ██ █████       ██ ████ ██ █████   ██████  ██   ██ █████   
//  ██   ██ ██          ██  ██  ██ ██      ██   ██ ██   ██ ██      
//  ██████  ███████     ██      ██ ███████ ██   ██ ██████  ███████                                                                                                                      
/*  ---------------------------------- */

#top-footer {
    width: 100%;
    z-index: 1; 
    height:561px;
    background-repeat: no-repeat; 
    background-size: 2000px 100%;
    opacity: 0.5;

}
footer {
    background-color: $main-black-color;
    width: 100vw;
    height: $footer-size;
    color: $main-white-color;
    position: absolute;
    z-index: 500;
    @include center-flexbox();
    padding: 0 4rem;

        #image-footer {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 2000px;
            overflow: hidden;
            
            img {
                position: absolute;
                width: 2000px;
                opacity: 0;
            }
        }


    #footer-separator {
        background-color: $secondary-color;
        width: 85%;
        height: 7px;
        position: absolute;
        top: 0;
        transform: translateY(-4px);
    }

    #footer-content {
        // background-color: red;
        @include center-flexbox();
        flex-direction: column;
        padding: 1rem 2rem 2rem 2rem;
    }

    #name-nav {
        letter-spacing: $letter-spacing-title;
        font-size: $fs-medium;
        font-weight: $regular;
        margin-bottom: 1rem;
    }

    #footer-links {
        display: flex;
        column-gap: 7rem;
        letter-spacing: $letter-spacing-title;
        font-weight: $regular;
        font-size: $fs-text;
        margin-bottom: 1rem;
        
    }

    #footer-links-conditions {
        display: flex;
        column-gap: 7rem;
        letter-spacing: $letter-spacing-title;
        font-weight: $regular;
        font-size: $fs-text;
        margin-bottom: 6rem;
    }

    #footer-rights {
        letter-spacing: $letter-spacing-medium;
        
    }

    #footer-socials {
        margin-top: 3rem;
        height: 1rem;
        column-gap: 3rem;
        i {
            font-size: 25px;
        }
    }
    a {
        color:$main-white-color;
        &:hover {
            color:$secondary-color;
        }
    }

    #name-rights {
        color: $secondary-color;
    }

}


// ^  MEDIA QUERIES - LAYOUT
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    .banner {
        margin-bottom: 6rem;
    }
    footer {
        #footer-links {
            column-gap: 3rem;
        }
        #footer-links-conditions {
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
        }
        #footer-rights {
            text-align: center;
        }
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    footer {
        #image {
            // display: none;
        }
    }

    .content {
        width: 80% !important;
    }
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1200px) { 

    .content {
        width: 90%;
    }
}




@media screen and (min-width:1200px) and (max-width:1300px) { 
    .content {
        width: 85%;
    }
}

// & 4k SCREEN
@media screen and (min-width:2000px){ 
    footer {
        #image {
            display: none;
        }
    }
}



/* ---------------------------------- */
//  ███████ ██████  ██████   ██████  ██████      ██   ██  ██████  ██   ██ 
//  ██      ██   ██ ██   ██ ██    ██ ██   ██     ██   ██ ██  ████ ██   ██ 
//  █████   ██████  ██████  ██    ██ ██████      ███████ ██ ██ ██ ███████ 
//  ██      ██   ██ ██   ██ ██    ██ ██   ██          ██ ████  ██      ██ 
//  ███████ ██   ██ ██   ██  ██████  ██   ██          ██  ██████       ██                                    
/* ---------------------------------- */

// .error404 div {
//     width: 500px;
//     height: 500px;
// }  
// .error404 div img {
//     width: 100%;
// }   

#error404-page {
    background-color: $main-black-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    #content {
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        padding: 7rem 10rem 0rem 10rem ;
    }

    h1 {
        color: #eeaf42;
        // text-transform: uppercase;
        font-size: 4rem;
    }

    picture {
        background-color: grey;
        width: 500px;
        height: 500px;
        margin: 3rem 0;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: relative;
        }
        #test02 {
            position: absolute;
            top: 0;
            left: 0;
           
        }

    }

    p {
        color: $main-white-color ;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: $letter-spacing-medium ;

        a {
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 1rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 95%;
            }
        }
    }

    #background-img {
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(-100%);
        z-index: -1;
        display: flex;
        overflow: hidden;

        div {
            height: 290px;
            width: 1300px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}




