@import 'settings';
@import 'component';

//&  ---------------------------------- */
//&  ██████   █████  ███████ ██   ██ ██████   ██████   █████  ██████  ██████  
//~  ██   ██ ██   ██ ██      ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//~  ██   ██ ███████ ███████ ███████ ██████  ██    ██ ███████ ██████  ██   ██ 
//~  ██   ██ ██   ██      ██ ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//?  ██████  ██   ██ ███████ ██   ██ ██████   ██████  ██   ██ ██   ██ ██████  
//? ---------------------------------- */

//?  ---------------------------------- */
//?  ███    ███  █████  ██ ███    ██ 
//?  ████  ████ ██   ██ ██ ████   ██ 
//?  ██ ████ ██ ███████ ██ ██ ██  ██ 
//?  ██  ██  ██ ██   ██ ██ ██  ██ ██ 
//?  ██      ██ ██   ██ ██ ██   ████ 
//? ---------------------------------- */

.dashboard {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    color: $main-black-color;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 13rem;

    .separator-line {
        width: 100%;
        height: 1px;
        background-color: $secondary-color3;
        margin-top: 0.5rem;
    }

    #menu-left {
        background-color: $main-black-color;
        color: $main-white-color;
        text-transform: capitalize;
        width: 500px;
        padding: 2rem 3rem 3rem 3rem;

        #logo-name {
            display: flex;
            align-items: center;
            height: 90px;
            figure {
                width: 70px;
                height: 70px;
                margin-right: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                letter-spacing: $letter-spacing-title;
            }
        }

       
        #list-menu {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            row-gap: 1.2rem;

            div {
                display: flex;
                // background-color: blue;
                padding:1rem ;
                font-size: 1.2rem;
                transition: ease 0.3s;

                i {
                    margin-right: 0.3rem;
                }

                &:hover {
                    background-color: $secondary-color;
                    color: $main-black-color;
                    cursor: pointer;
                }
            }
        }

        #bottom {
            height: 150px;
        }
    }

    #content {
        width: 100%;

        #top-title {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 2.6rem 3rem 0rem 3rem;
            background-image: url("../images/banner.webp");


            p {
                text-transform: uppercase;
                height: 70px;
                display: flex;
                align-items: center;

                span {
                    color: $secondary-color;
                }
            }

            .separator-line {
                margin-top: 1.1rem;
            }
        }

        .container-all {
            padding: 3rem;
            // margin: 1px solid black;

            .container {
                margin-bottom: 3rem;
                .table-user {
                    display: grid;
                    grid-template-columns: 20% 20% 20% 30% 10%;
                    width: 100%;
                    border: 1px solid $main-black-color;
                    p {
                        padding: 0.6rem 0.3rem;
                    }

                    
                }

                .head {
                    background-color: $main-black-color;
                    color: $main-white-color;
                    p {
                        border-right: 1px solid $secondary-color;
                    }
                }

                .body {
                    p {
                        border-right: 1px solid $main-black-color;
                    }

                    .even:nth-child(even) {
                        background-color: #e5e5e5;
                    }

                    .odd:nth-child(odd) {
                        background-color: #e5e5e5;
                    }
                  

                    .actions {
                        display: flex;
                        p {
                           border: none !important; 
                        }
                        
                    }
                }

                
            }
        }
    }

    .is-active {
        background-color: $secondary-color;
        color: $main-black-color;
    }
    
}

#dashboard-main {

    .separator {
        background-color: $grey-light;
        width: 60%;
        height: 2px;
        margin: 1.7rem 0;
    }

    #events,#expos, #workshop, #studios {
        h2 {
            margin: 3rem 0 .5rem 0;
        }

        .ongoing , .past-ones {
            border-left: 4px solid #207E93;
            padding: 1.5rem 0rem 1.5rem 1rem;
            display: none;
        
        }
    }
}

// ^ MEDIA QUERIES 
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1200px) { 
}

@media screen and (min-width:1200px) and (max-width:1560px) { 
}

//~  ---------------------------------- */
//~  ██    ██ ███████ ███████ ██████  ███████     ██      ██ ███████ ████████ 
//~  ██    ██ ██      ██      ██   ██ ██          ██      ██ ██         ██    
//~  ██    ██ ███████ █████   ██████  ███████     ██      ██ ███████    ██    
//~  ██    ██      ██ ██      ██   ██      ██     ██      ██      ██    ██    
//~   ██████  ███████ ███████ ██   ██ ███████     ███████ ██ ███████    ██    
//~ ---------------------------------- */

.dashboard-communauty {
    .roles-user {
        display: flex;
        column-gap: 0.6rem;
        border-right: 1px solid $main-black-color;
        p {
            border: none !important;
        }
    }
}


.dashboard-communauty {
    #search {
        margin: 0rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        h3 {
            margin-bottom: 0.8rem;
            span {
                color: $secondary-color;
            }
        }
        #by-username {
            form {
                display: flex;
                div {
                    display: flex;
                }
            }
        }
        .btn6 {
            margin-left: 2rem;
        }
    }

    .separator {
        background-color: $grey-light;
        width: 40%;
        height: 2px;
        margin: 1.7rem 0;
    }

   

    .btn-blue, .btn-red {
        margin: 0;
        padding: 0.2rem;
    }
}

//~  ---------------------------------- */
//~ ---------EVENT LIST --------------------- */ 
//~ ---------------------------------- */
//~ ---------------------------------- */
//~ ---------------------------------- */



#dashboard-events .container-all .container .table-user {
    display: grid;
    grid-template-columns: 32% 30% 8% 20% 10% !important;
    width: 100%;
    border: 1px solid #151515;
}

#dashboard-events #content .container-all .container {
    margin-bottom: 0rem; 
}

//&  ---------------------------------- */
//&  ██    ██ ███████ ███████ ██████  
//&  ██    ██ ██      ██      ██   ██      
//&  ██    ██ ███████ █████   ██████  
//&  ██    ██      ██ ██      ██   ██    
//&   ██████  ███████ ███████ ██   ██    
//& ---------------------------------- */

.dashboard-user {
    #info-user {
        margin-top: 1rem;
        display: flex;
        column-gap: 3rem;
        margin-bottom: 3rem;

        #infos {
            width: 25rem;
            p {
                margin-bottom: 0.2rem;
            }
            #moderate {
                display: flex;

                button {
                    padding: 0.2rem;
                    margin: 0rem 0 0 0.3rem;
                }
            }
        }

        #avatar {
            picture {
                width: 12rem;
                height: 12rem;
                object-fit: cover;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    

    }
    
    #delete-confirmation {
        width: 50%;
        margin: 1rem 0 ;
        padding: 0.5rem;
        border: 1px solid $secondary-color4;

        #actions {
            display: flex;
            flex-direction: row;
            margin: 0.6rem 0 ;

            div {
                @include center-flexbox();
                margin-right: 1rem;
                width: 10rem;
                i {
                    margin-right: 0.3rem;
                }

            }
        }
    }

    .container-activity {
       h3 {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        margin-top: 1rem;
       }
       
       .table {
        width: 70%;
        display: grid;
        grid-template-columns: 30% 30% 30% 10%;        
       }
       .table-head {
        background-color: $main-black-color;
        color: $main-white-color;
        p{
            border-right: 1px solid $secondary-color;
            padding: 0.3rem;
        }
        }

        .table-body {
        background-color: $main-white-color;
        color: $main-black-color;
        width: 70%;

        .lines {

            border-left: 1px solid $main-black-color;
            display: grid;
            grid-template-columns: 30% 30% 30% 10%;  
            
            p{
                border-right: 1px solid $main-black-color;
                padding: 0 0.3rem  0.3rem 0.3rem;
           
            }
        }

        .lines:nth-child(even) {
            background-color: #e5e5e5;
        }
        
        }
        .table-body:last-child {
            border-bottom: 1px solid $main-black-color;

        }
    }
}


//~  ---------------------------------- */
//~   ██████ ██████  ███████  █████  ████████ ███████ 
//~  ██      ██   ██ ██      ██   ██    ██    ██      
//~  ██      ██████  █████   ███████    ██    █████   
//~  ██      ██   ██ ██      ██   ██    ██    ██      
//~   ██████ ██   ██ ███████ ██   ██    ██    ███████    
//~ ---------------------------------- */

.create-event {
    margin: auto;
    margin-top: 0!important;
    width: $content-width;
    display: block;
    padding: 3rem;

    h1 {
        span {
            color: $secondary-color;
        }
    }

    .admin-form {
        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;

            .description, .detail {
                div {
                    display: flex;
                    flex-direction: column;

                     textarea {
                        width: 60%;
                        resize: vertical;
                     }
                }
            }

            .description{
                div {
                     textarea {
                        width: 60%;
                        min-height: 7rem; 
                        resize: vertical; 
                     }
                }
            }
        }

        .btn-edit-event {
            width: 10rem;
        }
    }

    .event-images {
        div {
            background-color: grey;
            width: 25rem;
            height: 15rem;
            
            overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
        }
    }
}

#dashboard-create-workshop {
    .add-another-collection-widget {
        border: 1px solid $secondary-color;
        letter-spacing: 0.1rem;
    }
}

//?   ---------------------------------- */
//?  ██████  ███████ ████████  █████  ██ ██      
//?  ██   ██ ██         ██    ██   ██ ██ ██      
//?  ██   ██ █████      ██    ███████ ██ ██      
//?  ██   ██ ██         ██    ██   ██ ██ ██      
//?  ██████  ███████    ██    ██   ██ ██ ███████ 
//?  ---------------------------------- */

#dashboard-detail {
    h1, h2 {
        margin-bottom: 0.6rem;
        span {
            color: $secondary-color;
        }
    }

    #info {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 4px solid #207E93;
        padding: 1.5rem 0rem 1.5rem 1rem;
        row-gap: 0.6rem;
        margin-bottom: 2rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        p:nth-child(2) {
            background-color: #e0e0e0;
            padding: .6rem;
            text-align: justify;
        }
    }

    #actions {
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;

        i {
            margin-right: 0.1rem;
        }
    }

    
}

