@import 'settings';
@import 'component';

//&  ---------------------------------- */
//&  ██████   █████  ███████ ██   ██ ██████   ██████   █████  ██████  ██████  
//~  ██   ██ ██   ██ ██      ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//~  ██   ██ ███████ ███████ ███████ ██████  ██    ██ ███████ ██████  ██   ██ 
//~  ██   ██ ██   ██      ██ ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██ 
//?  ██████  ██   ██ ███████ ██   ██ ██████   ██████  ██   ██ ██   ██ ██████  
//? ---------------------------------- */

//?  ---------------------------------- */
//?  ███    ███  █████  ██ ███    ██ 
//?  ████  ████ ██   ██ ██ ████   ██ 
//?  ██ ████ ██ ███████ ██ ██ ██  ██ 
//?  ██  ██  ██ ██   ██ ██ ██  ██ ██ 
//?  ██      ██ ██   ██ ██ ██   ████ 
//? ---------------------------------- */

.dashboard {
    color: #F9F9F9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    color: $main-black-color;
    padding: 3rem;
    
}

#dashboard-main {

    .separator {
        background-color: $grey-light;
        width: 60%;
        height: 2px;
        margin: 1.7rem 0;
    }

    #events,#expos, #workshop, #studios {
        h2 {
            margin: 3rem 0 .5rem 0;
        }

        .ongoing , .past-ones {
            border-left: 4px solid #207E93;
            padding: 1.5rem 0rem 1.5rem 1rem;
            display: none;
        
        }
    }
}

//~  ---------------------------------- */
//~  ██    ██ ███████ ███████ ██████  ███████     ██      ██ ███████ ████████ 
//~  ██    ██ ██      ██      ██   ██ ██          ██      ██ ██         ██    
//~  ██    ██ ███████ █████   ██████  ███████     ██      ██ ███████    ██    
//~  ██    ██      ██ ██      ██   ██      ██     ██      ██      ██    ██    
//~   ██████  ███████ ███████ ██   ██ ███████     ███████ ██ ███████    ██    
//~ ---------------------------------- */

#dashboard-users-list {
    #search {
        margin: 0rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        h3 {
            margin-bottom: 0.8rem;
            span {
                color: $secondary-color;
            }
        }
        #by-username {
            form {
                display: flex;
                div {
                    display: flex;
                }
            }
        }
        .btn6 {
            margin-left: 2rem;
        }
    }

    .separator {
        background-color: $grey-light;
        width: 40%;
        height: 2px;
        margin: 1.7rem 0;
    }

    .roles-user {
        display: flex;
        column-gap: 0.6rem;
    }
}

//&  ---------------------------------- */
//&  ██    ██ ███████ ███████ ██████  
//&  ██    ██ ██      ██      ██   ██      
//&  ██    ██ ███████ █████   ██████  
//&  ██    ██      ██ ██      ██   ██    
//&   ██████  ███████ ███████ ██   ██    
//& ---------------------------------- */

#dashboard-user-detail {
    picture {
        width: 8rem;
        height: 8rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


//~  ---------------------------------- */
//~   ██████ ██████  ███████  █████  ████████ ███████ 
//~  ██      ██   ██ ██      ██   ██    ██    ██      
//~  ██      ██████  █████   ███████    ██    █████   
//~  ██      ██   ██ ██      ██   ██    ██    ██      
//~   ██████ ██   ██ ███████ ██   ██    ██    ███████    
//~ ---------------------------------- */

.create-event {
    h1 {
        span {
            color: $secondary-color;
        }
    }

    .admin-form {
        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;

            .description, .detail {
                div {
                    display: flex;
                    flex-direction: column;

                     textarea {
                        width: 60%;
                        resize: vertical;
                     }
                }
            }

            .description{
                div {
                     textarea {
                        width: 60%;
                        min-height: 7rem; 
                        resize: vertical; 
                     }
                }
            }
        }

        .btn-edit-event {
            width: 10rem;
        }
    }

    .event-images {
        div {
            background-color: grey;
            width: 25rem;
            height: 15rem;
            
            overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
        }
    }
}

#dashboard-create-workshop {
    .add-another-collection-widget {
        border: 1px solid $secondary-color;
        letter-spacing: 0.1rem;
    }
}

//?   ---------------------------------- */
//?  ██████  ███████ ████████  █████  ██ ██      
//?  ██   ██ ██         ██    ██   ██ ██ ██      
//?  ██   ██ █████      ██    ███████ ██ ██      
//?  ██   ██ ██         ██    ██   ██ ██ ██      
//?  ██████  ███████    ██    ██   ██ ██ ███████ 
//?  ---------------------------------- */

#dashboard-detail {
    h1, h2 {
        margin-bottom: 0.6rem;
        span {
            color: $secondary-color;
        }
    }

    #info {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-left: 4px solid #207E93;
        padding: 1.5rem 0rem 1.5rem 1rem;
        row-gap: 0.6rem;
        margin-bottom: 2rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        p:nth-child(2) {
            background-color: #e0e0e0;
            padding: .6rem;
            text-align: justify;
        }
    }

    #actions {
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;

        i {
            margin-right: 0.1rem;
        }
    }

    
}

