
/* ---------------------------------- */
//  ██████   ██████   ██████  ████████ 
//  ██   ██ ██    ██ ██    ██    ██    
//  ██████  ██    ██ ██    ██    ██    
//  ██   ██ ██    ██ ██    ██    ██    
//  ██   ██  ██████   ██████     ██                                       
/* ---------------------------------- */



@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-display: swap;
	src: url(('../fonts/Raleway-VariableFont_wght.ttf'));
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: swap;
  font-weight: 300;
	src: url(('../fonts/Poppins-Light.ttf'));
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: swap;
  font-weight: 400;
	src: url(('../fonts/Poppins-Regular.ttf'));
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: swap;
  font-weight: 500;
	src: url(('../fonts/Poppins-Medium.ttf'));
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: swap;
  font-weight: 600;
	src: url(('../fonts/Poppins-SemiBold.ttf'));
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-display: swap;
  font-weight: 700;
	src: url(('../fonts/Poppins-Bold.ttf'));
}




// ^ COLORS
$main-black-color: #151515; 
$main-white-color: #F9F9F9;
// $secondary-color: #f0bd2f;
$secondary-color: #eeaf42;
$secondary-color2: #E49E4B;

$secondary-color3: #207E93;

// $secondary-color4: #ED1313;
$secondary-color4: #F14D4C;
$test01 : #ee145e;

$grey-dark: #272727;
$grey-medium: #4c4545;
$grey-light: #c3b5b5;

$box-shadow : rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

// ^ FONT
$main-font: "Poppins", sans-serif;
$secondary-font:  "Raleway", sans-serif;

$extra-bold: 700;
$bold: 600;
$semi-bold: 500;
$medium: 400;
$regular: 300;

$letter-spacing-title : 0.3rem;
$letter-spacing-medium : 0.25rem;
$letter-spacing-text : 0.05rem;
$line-height-text: 1.3rem;

@mixin text-l1() {
  font-weight: $extra-bold;
  font-size: $fs-medium;
  letter-spacing: $letter-spacing-title;
  color : $main-black-color;
}

@mixin text-l2() {
  font-weight: $extra-bold;
  font-size: $fs-regular;   
  letter-spacing: $letter-spacing-medium;
  color: $secondary-color2;
}

// $fs-text: clamp(0.6rem, 2vw, 0.9rem);
// $fs-regular: clamp(1.2rem, 3vw, 1.5rem);
// $fs-medium: clamp(2.5rem, 5vw, 3rem);
// $fs-big: clamp(3rem, 7vw, 4rem);

$fs-text: 0.9rem;
$fs-regular: 1.5rem;
$fs-medium: 3rem;
$fs-big: 4rem;

// SIZING PROPERTIES
$nav-size: 6rem ; 
$footer-size: 28rem;
$content-width: 70%;


// ^ TRANSITIONS
$transition-bezier: 0.800, 1.000, 0.000, 1.000;
$transition-len: 0.35s;
$transition-basic: ease-in-out 0.3s; 


// ^ UTILITY CLASSES
.text-n1 {
    font-weight: $extra-bold;
    font-size: 1.85rem;
    letter-spacing: $letter-spacing-text;
}

.text-n2 {
    font-weight: $extra-bold;
    font-size: 1.5rem;        
}

.text-n3 {
    font-size: 1.2rem;
    font-weight: 300 !important;
}

@mixin center-flexbox() {
    display: flex;
    align-items: center;
    justify-content: center;
}




// ^ MEDIA QUERIES 
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
}

// & LARGE SCREEN
@media screen and (min-width:768px) and (max-width:1200px) { 
}

@media screen and (min-width:1200px) and (max-width:1560px) { 
}

/*  ---------------------------------- */
//  ██████  ███████ ███████ ███████ ████████ 
//  ██   ██ ██      ██      ██         ██    
//  ██████  █████   ███████ █████      ██    
//  ██   ██ ██           ██ ██         ██    
//  ██   ██ ███████ ███████ ███████    ██       
/* ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
//margin-block-end: 0;
}

h1,h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: $letter-spacing-text;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* Smooth scrolling on the whole document */
 html {
	scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
    background-color: $secondary-color; 
    color: $main-black-color;
}

/* Reset selection color for elements other than text */
::-moz-selection {
    background-color: $secondary-color; 
    color: $main-black-color; 
}