@import 'settings';
@import 'component';

// ---------------------------------
//  ██ ███    ██ ██████  ███████ ██   ██ 
//  ██ ████   ██ ██   ██ ██       ██ ██  
//  ██ ██ ██  ██ ██   ██ █████     ███   
//  ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------



#studios-index {
    margin-bottom: 10rem;

    #planning-container {
        width: 50%;
        // height: 600px;
        margin: 0rem auto 3rem auto;
    }


    #studio-links {
        @include center-flexbox();
        column-gap: 3rem;
        margin-bottom: 3rem;
        cursor: pointer;
        text-transform: uppercase;
        p {
            transition: ease-in-out 0.3s;
            font-weight: 400;

            &:hover {
                color: $secondary-color3;
                transform: translateY(-5px);
            }
        }
    }
    
    #studios-container {
        
        .odd {
            .studio-content {
                grid-template-columns: 34% 17% 49%;
            }
        }

        .even {
            .studio-content {
                grid-template-columns: 49% 17% 34%;
            }
        }
    
        .studio {
            // opacity: 0;
            transition: ease-in-out 0.3s;
        }
        
        .studio-container {
            padding: 5rem 0;
            width: 100%;

            .studio-content {
                width: 65%;
                display: grid;
                margin: auto;
                color: $main-white-color;
                position: relative;
                z-index: 1;

                figure {
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: ease-in-out 0.4s;
                        cursor: pointer;

                        &:hover {
                            // transform: scale(1.1) translateX(20px);
                            // filter: grayscale(0.5);
                        }
                    }
                }

                .info-studio {
                    .subtitle {
                        margin-bottom: 3rem;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        position: relative;
                        text-transform: uppercase;
                        
                        .separator {
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border-bottom: 1px solid $main-white-color;
                        }
                    }
                    .text-studio{
                        text-align: justify;
                        margin-bottom: 2rem;
                    }

                    h2 {
                        margin-bottom: 2rem;

                        span {
                            color: $secondary-color;
                        }
                    }

                    .btn6 {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
        .color01, .color02, .color03 {
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                background-size: 100%;
                opacity: 0.4;
            }
        }

        .color01 {
            position: relative;
                &:after {
                        background-image: url("../images/visuals/studio02.webp");
                        background-repeat: no-repeat;
                        background-size: auto 100%;
                    }
            .info-studio {
                color: $main-black-color!important;
                .separator {
                    border-bottom: 1px solid $main-black-color!important;
                }
                .underscore {
                    color: $main-white-color!important;
                }
            }
            .button {
                background-color: $main-black-color;
                border: 1px solid $main-black-color;
                color: $secondary-color;
                &:hover {
                    background-color: $secondary-color;
                    border: 1px solid $main-black-color;
                    color:  $main-black-color;;
                }
            }
        }

        .color02 {
            position: relative;
                &:after {
                    background-image: url("../images/visuals/studio01.webp");
                    transform: scaleX(-1);
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                }
                
        }

        .color03 {
            position: relative;
                &:after {
                    background-image: url("../images/visuals/studio03.webp");
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                }
                
        }
    }
}

#background-studio {
    position: relative;
    &:after {
        background-image: url("../images/visuals/studio01.webp");
        background-repeat: no-repeat;
        background-size: auto 100%;
        position: relative;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        opacity: 0.4;
    }


}

//&  ---------------------------------
//&   ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
//~  ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
//~  ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
//~  ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
//?   ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
//?     ▀▀                                                
//?  ---------------------------------

// ^ MEDIA QUERIES - STUDIO - INDEX
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:900px) { 
    #studios-index #studio-links {
        display: flex;
        column-gap: 1.7rem;
        row-gap: 1rem;
        padding: 0rem 2rem;
        flex-wrap: wrap;
    }

    
    #studios-index  #studios-container .odd .studio-container .studio-content {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    #studios-index  #studios-container .even .studio-container .studio-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    #studios-index #studios-container .studio-container .studio-content .info-studio .subtitle {
        margin-bottom: 2rem;
    }
    

    #studios-index #studios-container .studio-container {
        padding: 3rem 0;
        width: 100%;
    }

    #studios-index #studios-container .studio-container .studio-content .info-studio .text-studio {
        text-align: left;
        margin-bottom: 2rem;
        line-height: 1.4rem;
        font-size-adjust: 0.5;
    }

    #studios-index #studios-container .studio-container .studio-content .info-studio .btn6 {
        position: relative;
        
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:768px) { 
    
}

// & LARGE SCREEN
@media screen and (min-width:900px) and (max-width:1200px) { 
    #studios-index #studios-container .studio-container .studio-content {
        width: 85%;
    }

    #studios-index #studios-container .studio-container {
        padding: 3rem 0;
    }

    #studios-index #studios-container .odd .studio-content {
        grid-template-columns: 41% 10% 49%;
        margin-bottom: 2rem;
    }

    #studios-index #studios-container .even .studio-content {
        grid-template-columns: 49% 10% 41%;
    }

    #studios-index #studios-container .studio-container .studio-content .info-studio .subtitle {
        margin-bottom: 1rem;
    }

    #studios-index #studios-container .studio-container .studio-content .info-studio h2 {
        margin-bottom: 1rem;
    }

    #studios-index #studios-container .studio-container .studio-content .info-studio .btn6 {
        position: relative;

    }

}

@media screen and (min-width:1200px) and (max-width:1560px) { 

}

// ---------------------------------
//  ███████ ██   ██  ██████  ██     ██ 
//  ██      ██   ██ ██    ██ ██     ██ 
//  ███████ ███████ ██    ██ ██  █  ██ 
//       ██ ██   ██ ██    ██ ██ ███ ██ 
//  ███████ ██   ██  ██████   ███ ███ 
// ---------------------------------

#studio-show {
    // background-color:grey;
    .expo-participate {
        margin-top: 3rem!important;

        .btn-event {
            margin-bottom: 1rem;
        }
    }

    #timeslots-list {
        width: $content-width;
        margin: auto;
        margin-top: 2rem;
        border-left: 4px solid $secondary-color3;
        div {
            margin-left: 1rem;
        }
    }

    header {
        background-color: $main-black-color;
        height: 40rem;
        padding: 3rem 0rem 6rem 0rem;

        figure {
            // background-color: grey;
            width: $content-width;
            height: 100%;
            margin: auto;

            img {
                width: 65%;
                height: 100%;
                background-color: grey;
                z-index: 1;
                position: relative;
            }
        }
    }

    #details-studio {
        // background-color: red;
        display: grid;
        grid-template-columns: 60% 40%;
        width: $content-width;
        margin: auto;
        margin-top: 5rem;

        #about-studio {
            text-align: justify;

            h3 {
                margin-bottom: 2.5rem;
            }
        }
        #info {
            margin-left: 6rem;

            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;
                height: 100%;

                #list-info {
                    div {
                        display: grid;
                        grid-template-columns: 40% 10% 50%;
                        justify-content: space-between;
                        width: 70%;
                    }
                }
            }
        }
        #btn-studio {
            margin-top: 3rem;
            div {
                margin-right: 2rem;
                color: $main-white-color;
            }
        }
    }
}

//&  ---------------------------------
//&   ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
//~  ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
//~  ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
//~  ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
//?   ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
//?     ▀▀                                                
//?  ---------------------------------


// ^ MEDIA QUERIES - STUDIO - SHOW
// & SMALL SCREEN
@media screen and (min-width:320px) and (max-width:480px) { 
    #studio-show header {
        height: 30rem;
        padding: 3rem 0rem 3rem 0rem;
    }

    #studio-show header figure {
        width: 100%;
        height: 100%;
    }

    #studio-show header figure img {
        width: 100%;
        height: 100%;;
    }
    #studio-show #details-studio {
        display: flex;
        width: 84%;
        margin: auto;
        margin-top: 4rem;
        flex-direction: column;
    }
    
    #studio-show #details-studio #about-studio {
        text-align:left;
    }

    #studio-show #details-studio #about-studio p {
        text-align: justify;
    }

    #studio-show .text-n1 {
        text-align: left!important;
    }

    #studio-show #details-studio #info {
        margin-left: 0rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    #studio-show #details-studio #info #list-infos {
        line-height: 1.4rem;
    }

    #studio-show #details-studio #info #list-infos #list-info div {
        width: 100%;
    }

    #studio-show #details-studio #btn-studio {
        margin: 1rem 0rem;
    }

    #studio-show #details-studio #btn-studio div {
        margin-bottom: 2rem;
        display: inline-block;
        width: 100%;
    }
}

// & MEDIUM SCREEN
@media screen and (min-width:480px) and (max-width:900px) { 
    #studio-show header {
        height: 30rem;
        padding: 3rem 0rem 3rem 0rem;
    }

    #studio-show header figure {
        width: 100%;
        height: 100%;
    }

    #studio-show header figure img {
        width: 100%;
        height: 100%;;
    }
    #studio-show #details-studio {
        display: flex;
        width: 84%;
        margin: auto;
        margin-top: 4rem;
        flex-direction: column;
    }
    
    #studio-show #details-studio #about-studio {
        text-align:left;
    }

    #studio-show #details-studio #about-studio p {
        text-align: justify;
    }

    #studio-show .text-n1 {
        text-align: left!important;
    }

    #studio-show #details-studio #info {
        margin-left: 0rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    #studio-show #details-studio #info #list-infos {
        line-height: 1.4rem;
    }

    #studio-show #details-studio #info #list-infos #list-info div {
        width: 100%;
    }

    #studio-show #details-studio #btn-studio {
        margin: 1rem 0rem;
    }

    #studio-show #details-studio #btn-studio div {
        margin-bottom: 2rem;
        display: block;
        width: 15rem;
    }
}

// & LARGE SCREEN
@media screen and (min-width:900px) and (max-width:1200px) { 
    #studio-show #details-studio #btn-studio div {
        margin-bottom: 2rem;
        display: block;
    }

    #studio-show header {
        background-color: #151515;
        height: 30rem;
        padding: 3rem 0rem 3rem 0rem;
    }    

    #studio-show header figure img {
        width: 100%;
        height: 100%;
        background-color: grey;
    }
    #studio-show #details-studio {
        display: grid;
        grid-template-columns: 55% 45%;
        width: 87%;
        margin: auto;
        margin-top: 4rem;
    }

    #studio-show #details-studio #info {
        margin-left: 3rem;
    }

    #studio-show #details-studio #info #list-infos #list-info div {
        justify-content: space-between;
        width: 100%;
    }

}

@media screen and (min-width:1200px) and (max-width:1560px) { 

}