@import 'settings';
@import 'component';

// ---------------------------------
//  ██ ███    ██ ██████  ███████ ██   ██ 
//  ██ ████   ██ ██   ██ ██       ██ ██  
//  ██ ██ ██  ██ ██   ██ █████     ███   
//  ██ ██  ██ ██ ██   ██ ██       ██ ██  
//  ██ ██   ████ ██████  ███████ ██   ██
// ---------------------------------

#studios-index {
    margin-bottom: 10rem;

    #studio-links {
    @include center-flexbox();
    column-gap: 3rem;
    margin-bottom: 3rem;
    }

    #studios-container {

        .studio {
            // opacity: 0;
            transition: ease-in-out 0.3s;
        }
        
        .studio-container {
            // background-color: $main-black-color;
            padding: 5rem 0;
            width: 100%;

            .studio-content {
                width: $content-width;
                // background-color: $main-black-color;
                display: grid;
                grid-template-columns: 45% 10% 45%;
                margin: auto;
                color: $main-white-color;
                position: relative;
                // height: 20rem;

                figure {
                    width: 36rem;
                    height: 27rem;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info-studio {
                    .subtitle {
                        margin-bottom: 3rem;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        position: relative;
                        

                        .separator {
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border-bottom: 1px solid $main-white-color;
                        }
                    }
                    .text-studio{
                        text-align: justify;
                        margin-bottom: 2rem;
                    }

                    h2 {
                        margin-bottom: 2rem;

                        span {
                            color: $secondary-color;
                        }
                    }

                    .btn6 {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

// ---------------------------------
//  ███████ ██   ██  ██████  ██     ██ 
//  ██      ██   ██ ██    ██ ██     ██ 
//  ███████ ███████ ██    ██ ██  █  ██ 
//       ██ ██   ██ ██    ██ ██ ███ ██ 
//  ███████ ██   ██  ██████   ███ ███ 
// ---------------------------------

#studio-show {
    // background-color:grey;

    header {
        background-color: $main-black-color;
        height: 40rem;
        padding: 3rem 0rem 6rem 0rem;

        figure {
            // background-color: grey;
            width: $content-width;
            height: 100%;
            margin: auto;

            img {
                width: 65%;
                height: 100%;
                background-color: grey;
            }
        }
    }

    #details-studio {
        // background-color: red;
        display: grid;
        grid-template-columns: 60% 40%;
        width: $content-width;
        margin: auto;
        margin-top: 5rem;

        #about-studio {
            text-align: justify;

            h3 {
                margin-bottom: 2.5rem;
            }
        }
        #info {
            margin-left: 6rem;

            #list-infos {
                border-left: 4px solid $secondary-color3;
                padding: 1.5rem 0rem 0rem 1rem;
                line-height: 2.5rem;
                height: 100%;

                #list-info {
                    div {
                        display: grid;
                        grid-template-columns: 40% 10% 50%;
                        justify-content: space-between;
                        width: 70%;
                    }
                }
            }
        }
        #btn-studio {
            margin-top: 3rem;
            div {
                margin-right: 2rem;
                color: $main-white-color;
            }
        }
    }
}