@import 'settings';
@import 'component';

// ---------------------------------
//  ██████  ██████   ██████  ███████ ██ ██      
//  ██   ██ ██   ██ ██    ██ ██      ██ ██      
//  ██████  ██████  ██    ██ █████   ██ ██      
//  ██      ██   ██ ██    ██ ██      ██ ██      
//  ██      ██   ██  ██████  ██      ██ ███████
// ---------------------------------

#profil-user {
        color: $main-white-color;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        position: relative;
        


        #separator-profil{
            background-color: $secondary-color;
            width: 80%;
            height: 5px;
            position: absolute;
            left: 50%; 
            top: 1px; 
            transform: translate(-50%, -50%);
            z-index: 1 !important;
        }

        #top {
            background-color: $main-black-color;
            height: 18rem;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            justify-items: center;
            align-items: end;
            position: relative;
            // overflow: hidden;
            

            #pattern {
                position: absolute;
                background-image: url('../images/patternProfile.png'); 
                width:100%;
                height: 100%;
                z-index: 0;
                background-repeat: repeat;
                animation: moveLeftRight 5s linear infinite;
                background-size: auto 100%;
                background-position: 0 0;
                /*adjust s value for speed*/
                // animation: animatedBackground 100s linear infinite;
            }

            @keyframes animatedBackground {
                from {
                  background-position: 0 0;
                }
                /*use negative width if you want it to flow right to left else and positive for left to right*/
                to {
                  background-position: -10000px 0;
                }
            }
                        
            h2 {
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                z-index: 1;
                span {
                    color: $secondary-color3;
                    font-size: 45px;
                    font-weight: 500;
                }
            }

            #avatar {

                div:first-child{
                    width: 15rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 116px;
                        left: -24px;
                        width: 18rem;
                        height: 9rem;
                        border-radius: 0 0 140px 140px; 
                        border: 4px $secondary-color solid;
                        z-index: -20 !important;
                    }

                    picture {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                  
                }
                div:nth-child(2) {
                    z-index: 500;
                    position: absolute;
                    transform: translate(120px , -20px);
                    background-color: $secondary-color;
                    border: 2px solid $secondary-color;
                    border-radius: 50%;
                    width: 2.5rem;
                    height: 2.5rem;
                    @include center-flexbox();
                    cursor: pointer;
                    transition: ease-in-out 0.3s;

                    &:hover {
                        color: $secondary-color;
                        border: 2px solid $secondary-color;
                        background-color: $main-white-color !important;
                    }
                }

            }

            #roles {
                display: flex;
                flex-direction: row;
                column-gap: 2rem;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: -20px;
                margin-right: 10rem;

                div {
                    background-color: $main-white-color;
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: relative;
                    color: $main-black-color;
                    @include center-flexbox();
                   
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -4px;
                        width: 3rem;
                        aspect-ratio: 1;
                        border-radius: inherit; 
                        border: 2px $secondary-color solid;
                        z-index: -1;
                    }

                    i {
                        transition: ease-in-out 0.3s;
                        // font-size: 1.6rem;
                        cursor: pointer;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }

                #role-artist {
                    i {
                        // color: red;
                    }
                    
                }
                #not-artist {
                    i {
                        color: $grey-medium;
                        transition: ease-in-out 0.3s;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                    
                }
            }
        }

        #upload-avatar {
            // background-color: red;
            color: black;
            display: flex;
            justify-content: flex-end;
            margin-top: 4rem;
            margin-right: 4rem;
            

            #form-avatar {
                box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                padding: 1rem;
                width: 26rem;
                display: none;
                // form-avatar
                // upload-avatar-btn
            }
        }

        #middle {
            color: $main-black-color;
            display: flex;
            justify-content: space-between;
            margin: 8rem 4rem 6rem 4rem;

            #left {
                #infos {
                    margin-bottom: 0.3rem;
                   
                    span {
                        color: $secondary-color;
                    }
                }
                #info{
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    border-left: 4px solid $secondary-color3;
                    padding: 1.5rem 0rem 1.5rem 1rem;
                    p {
                        line-height: 2.5rem;
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-weight: 500;
                        }
                    }
                }
                .logo-profile {
                    display: flex;
                    column-gap: 1rem;
                    padding-top: 1.5rem;

                    div {
                        @include center-flexbox();

                        i {
                            color: $main-white-color;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 0.3rem;
                            @include center-flexbox();
                            cursor: pointer;
                        }
    
                        .fa-pen-to-square {
                            background-color: $secondary-color3;
                            transition: ease-in-out 0.3;
    
                            &:hover {
                                background-color: $secondary-color;
                            }
                        }
    
                        .fa-x  {
                            background-color: $main-black-color;
                        }
    
                        .fa-unlock-keyhole {
                            background-color: $secondary-color3;
                            transition: ease-in-out 0.3;
    
                            &:hover {
                                background-color: $secondary-color;
                            }
                        }
                    }
                }
            }

            #right {
                #activities {
                    margin-bottom: 0.3rem;
                    text-align: right;
                    span {
                        color: $secondary-color;
                    }
                }
                #activity {
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    border-right: 4px solid $secondary-color3;
                    padding: 1.5rem 1rem 1.5rem 0rem;

                    div {
                        line-height: 2.5rem;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        
                        p {
                            font-weight: 500;
                            cursor: pointer;
                            transition: ease-in-out 0.3s;

                            &:hover {
                                color: $secondary-color3;

                            }
                        }

                        i {
                            margin-right: 0.6rem;
                            opacity: 0;
                            transition: ease-in-out 0.3s;
                            color: $secondary-color3;
                        }
                    }
                }
               
                .logo-profile {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    column-gap: 1rem;
                    padding-top: 1.5rem;

                    i {
                        color: $main-white-color;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        @include center-flexbox();
                        cursor: pointer;
                    }

                    p {
                        font-size: 1.1rem;
                        color: $grey-medium;
                    }
                }
            }
        }

        #bottom {
            width: 100%;
            // height: 12rem;
            padding: 0 4rem;

            #content {
                display: grid;
                grid-template-columns: 50% 50%;
                color: $main-black-color;
                font-size: 1.1rem;

                #edit-form {
                    display: none;

                    div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.6rem;
                        column-gap: 0.6rem;
                    }

                    .field {

                        div {
                            input, label {
                                transition: ease-in-out 0.3s; 
                            }
                        }
                    }
                }



                #delete-account {
                    display: none;

                    .confirm {
                        a {    
                                       
                            &:hover {
                                color: $secondary-color3; 
                                i, p {
                                    color: inherit; 
                                }
                            }
                        }
                    }

                    .cancel {
                        a {    
                                       
                      
                            &:hover {
                                color: $secondary-color4; 
                                i, p {
                                    color: inherit; 
                                }
                            }
                        }
                    }


                    div {
                        a {
                            display: flex;
                            align-items: center;

                            i {
                                margin-right: .6rem;

                            }


                            .fa-circle-check {
                                color: $grey-medium;
                            }

                            .fa-circle-xmark {
                                color: $grey-medium;
                            }
                        }
                    }
                }
            }

            input {
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid $grey-medium;
            }
        }
    }

    #subscription-inactive {
        background-color: $grey-light !important;
        transition: ease-in-out 0.2s;
    
        &:hover {
            background-color: $secondary-color!important;
            transform: scale(1.1);
        }
    }
    
    #subscription-active {
        background-color: $secondary-color !important;
    }

                    
    #actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: .9rem;
    }

 #actions {
    .fa-x {
        transition: ease-in-out 0.3s;
        &:hover {
            background-color: $secondary-color4 !important;
        }
    }
    .fa-right-from-bracket {
        transition: ease-in-out 0.3s;
        background-color: $secondary-color;

        &:hover {
            background-color: $grey-medium !important;
        }
    }
}

#activity-recap {
    // background-color: red;
    .recap {
        margin-bottom: 3rem;
        p {
            span {
                color: $secondary-color;
            }
        }

        .text-n2 {
            margin-bottom: 0.5rem;
        }
        div {
            p:nth-child(1) {
                color: $secondary-color;
                font-weight: 400;
                font-size: 1.2rem;
            }

            p:nth-child(2) {
                color: $secondary-color3;
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    
        .fa-x {
            margin-top: 2rem;
            width: 25px;
            height: 25px;
            background-color: $main-black-color;
            border: 2px solid $main-black-color;
            border-radius: 50%;
            @include center-flexbox();
            color: $main-white-color;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            
    
            &:hover {
                background-color: $main-white-color ;
                color: $main-black-color;
                border: 2px solid $main-black-color;
            }
        }
    }
}

.see-more {
    margin-bottom: .6rem;
    color: $grey-medium;

    a {
        &:hover {
            color: $secondary-color;
        }
    }
}

.subscriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    row-gap: 0.9rem;

    div {
        display: flex;
        align-items: center;

        p {
            margin-right: 0.3rem;
        }

        .fa-magnifying-glass {
            background-color: $secondary-color3;
            @include center-flexbox();
            width: 30px;
            height: 30px;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}

#subscription-recap {
    .text-n2 {
        margin-bottom: 0.5rem;
        span {
            color: $secondary-color;
        }
    }

    #active, #inactive {
        span {
            color: $secondary-color3;
            font-weight: 400;
            font-size: 1.2rem;
        }

        div {
            border-bottom: 1px solid $secondary-color;
            width: 200px;
            margin: 0.6rem 0;
        }
    }

    #btn-subscription {
        margin: 2rem 0 ;
        display: flex;
        column-gap: 2rem;

        div {
            i {
                color: $secondary-color3;
                transition: ease-in-out 0.3s;
                cursor: pointer;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
        .fa-x {
            width: 25px;
            height: 25px;
            background-color: $main-black-color;
            border: 2px solid $main-black-color;
            border-radius: 50%;
            @include center-flexbox();
            color: $main-white-color;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            
    
            &:hover {
                background-color: $main-white-color ;
                color: $main-black-color;
                border: 2px solid $main-black-color;
            }
        }
    }
    
    
}


// ---------------------------------
//  ██████  ███████  ██████  ██ ███████ ████████ ███████ ██████  
//  ██   ██ ██      ██       ██ ██         ██    ██      ██   ██ 
//  ██████  █████   ██   ███ ██ ███████    ██    █████   ██████  
//  ██   ██ ██      ██    ██ ██      ██    ██    ██      ██   ██ 
//  ██   ██ ███████  ██████  ██ ███████    ██    ███████ ██   ██
// ---------------------------------


#register-user {
    background-color: $grey-dark;
    
    #register-container {
        display: grid;
        grid-template-columns: 50% 50%;
        color: $main-white-color;
        position: relative;
        

        #separator {
            background-color: $secondary-color;
            width: 80%;
            height: 5px;
            position: absolute;
            left: 50%; 
            top: 1px; 
            transform: translate(-50%, -50%);
            z-index: 1 !important;
        }

        .left-register {
            background-color: black;
            width:100%;
            height: 100%;
            
        }

        #l-register {
            background-image: url('../images/register.png'); 
            background-repeat: no-repeat;
            background-size: auto 100%;
            width:100%;
            height: 100%;
            
        }
    
        .right-register {
            background-color: $grey-dark;
            width:100%;
            height: 100%;
            padding: 5rem 5rem 3rem 5rem;

            #title-register {
                p {
                    color: $secondary-color;
                    padding-top: 0.2rem;
                    padding-bottom: 3rem;
                }
            }
        }

        #r-register {
            background-image: url('../images/register2.png'); 
            background-repeat: no-repeat;
            background-size: auto 100%;
            width:100%;
            height: 100%;
            padding: 5rem 5rem 3rem 5rem;

        }

        #form-register {
            padding-right: 12rem;
            div {
                display: flex;
                flex-direction: column;
                padding-bottom: 1.8rem;
                
            }
            label {
                text-transform: uppercase;
                padding-bottom: 1rem;
                transition: ease-in-out 0.6s;
            }
            input {
                background-color: transparent;
                border-bottom: 1px solid #939393;
                border-top: none;
                border-left: none;
                border-right: none;
                outline: none;
                transition: ease-in-out 0.6s;
            }

            #terms-register {
                display: flex;
                p {
                    display: flex;
                    align-items: center;
                    a {
                        transition: ease-in-out 0.6s;
                    }

                    span {
                        margin: 0rem 0.4rem;
                        color: $secondary-color;
                    }
                }
            }
        }

        #login {
            margin-top: 1rem;
            a {
                color: $secondary-color;
                position: relative;
                text-decoration: none; 
        
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -3px; 
                    left: 0;
                    width: 0; 
                    height: 1px; 
                    background-color: $secondary-color; 
                    transition: width 0.3s ease; 
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
    }
}



#btn-register {
    width: 61% !important;
    // margin-right: 12rem;

    &:hover {
        background-color: $grey-dark;
    }
}

#terms-register a:hover {
    color: $secondary-color !important;
}


// ---------------------------------
//  ███████ ██    ██ ██████  ███████  ██████ ██████  ██ ██████  ████████ ██  ██████  ███    ██ ███████ 
//  ██      ██    ██ ██   ██ ██      ██      ██   ██ ██ ██   ██    ██    ██ ██    ██ ████   ██ ██      
//  ███████ ██    ██ ██████  ███████ ██      ██████  ██ ██████     ██    ██ ██    ██ ██ ██  ██ ███████ 
//       ██ ██    ██ ██   ██      ██ ██      ██   ██ ██ ██         ██    ██ ██    ██ ██  ██ ██      ██ 
//  ███████  ██████  ██████  ███████  ██████ ██   ██ ██ ██         ██    ██  ██████  ██   ████ ███████
// ---------------------------------

$transition: ease-in-out 0.3s;
$grey-color: #272727; 

#subscription-page {
    // background-color: red;
    width: $content-width;
    margin: auto;
    
    p {
        color: $main-white-color;
        font-weight: $semi-bold;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .subscription-cards {
        display: flex;
        justify-content: space-evenly;
    }

    .ongoing-subscription {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $main-black-color;
            opacity: 0.8;
        }
    }
    
    .subscription-card {
        background-color: $grey-color;
        width: 21rem;
        border-left: 1px solid $grey-color;
        border-right: 1px solid $grey-color;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 2rem;
        cursor: pointer;
        transition: scale ease-in-out 0.3;
        opacity: 0;

        &:hover {
            background-color: $secondary-color;

            border-color: $secondary-color;

            h2,p {
                color: $main-black-color;
            }

            .btn {
                background-color: $grey-color;
                color: $secondary-color;
                border-color: $grey-color;
            }
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 1.8rem;
            margin-bottom: 2rem;
            color: $main-white-color;
            letter-spacing: 0.2rem;
            transition: $transition;
        }

        .image {
            border: 1px solid grey;
            width: 50%;
            height: 14rem;
            margin: auto;
            margin-bottom: 2rem;
        }

        p {
            color: $secondary-color;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        p:nth-child(3) {
            font-weight: $extra-bold;
            font-size: 1.2rem;
        }

        p:nth-child(4) {
            font-size: 1rem;
        }

        .subscription-btn {
            margin-top: 1.3rem;
            display: flex;
            justify-content: center;
            

            div {
                
                text-align: center;
                background-color: $grey-color;
                color: $grey-color;
                border-color: $grey-color;
                transition: $transition;
                width: 11rem;
                
                &:hover {
                    transform: scale((1.1));
                }
            }
        }
    }
}

// ---------------------------------
//  ██       ██████   ██████  ██ ███    ██ 
//  ██      ██    ██ ██       ██ ████   ██ 
//  ██      ██    ██ ██   ███ ██ ██ ██  ██ 
//  ██      ██    ██ ██    ██ ██ ██  ██ ██ 
//  ███████  ██████   ██████  ██ ██   ████
// ---------------------------------


.login-user {
    #new-password {
        text-align: right;
        margin-bottom: 2rem;
        color: $grey-light;
        transition: ease-in-out 0.3s;

        &:hover {
            color: $secondary-color; 
        }
    }

    #create-account {
        a {
            color: $grey-light;
            transition: ease-in-out 0.3s;
            position: relative;

            &:hover {
                color: $secondary-color;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: -3px; 
                left: 0;
                width: 0; 
                height: 1px; 
                background-color: $secondary-color; 
                transition: width 0.3s ease; 
            }

            &:hover:before {
                color: $secondary-color;
                width: 100%;
            }
        }
    }

    button {
        width: 100%;
        margin-bottom: 3rem;

        &:hover {
            background-color: $grey-dark;
        }
    }
}

#l-login {
    background-image: url('../images/login.png'); 
    background-repeat: no-repeat;
    background-size: auto 100%;
    width:100%;
    height: 100%;
    
}


#r-login {
    background-image: url('../images/login2.png'); 
    background-repeat: no-repeat;
    background-size: auto 100%;
    width:100%;
    height: 100%;
    padding: 5rem 5rem 3rem 5rem;

}