@import 'settings';
@import 'component';

// ---------------------------------
//  ██████  ██████   ██████  ███████ ██ ██      
//  ██   ██ ██   ██ ██    ██ ██      ██ ██      
//  ██████  ██████  ██    ██ █████   ██ ██      
//  ██      ██   ██ ██    ██ ██      ██ ██      
//  ██      ██   ██  ██████  ██      ██ ███████
// ---------------------------------

#profil-user {

        color: $main-white-color;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        position: relative;

        #separator-profil{
            background-color: $secondary-color;
            width: 80%;
            height: 5px;
            position: absolute;
            left: 50%; 
            top: 1px; 
            transform: translate(-50%, -50%);
            z-index: 1 !important;
        }

        #top {
            background-color: $main-black-color;
            height: 18rem;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            justify-items: center;
            align-items: end;
            position: relative;
            
            h2 {
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                span {
                    color: $secondary-color3;
                    font-size: 45px;
                    font-weight: 500;
                }
            }

            #avatar {

                div:first-child{
                    width: 15rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 116px;
                        left: -24px;
                        width: 18rem;
                        height: 9rem;
                        border-radius: 0 0 140px 140px; 
                        border: 4px $secondary-color solid;
                        z-index: -20 !important;
                    }

                    picture {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                  
                }
                div:nth-child(2) {
                    z-index: 500;
                    position: absolute;
                    transform: translate(120px , -20px);
                    background-color: $secondary-color;
                    border-radius: 50%;
                    width: 2.5rem;
                    height: 2.5rem;
                    @include center-flexbox();
                }
            }

            #roles {
                display: flex;
                flex-direction: row;
                column-gap: 2rem;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: -20px;
                margin-right: 10rem;

                div {
                    background-color: $main-white-color;
                    width: 2.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    position: relative;
                   
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -4px;
                        width: 3rem;
                        aspect-ratio: 1;
                        border-radius: inherit; 
                        border: 2px $secondary-color solid;
                        z-index: -1;
                        
                    }
                }
            }
        }

        #middle {
            color: $main-black-color;
            display: flex;
            justify-content: space-between;
            margin: 8rem 4rem 6rem 4rem;

            #left {
                #infos {
                    margin-bottom: 0.3rem;
                   
                    span {
                        color: $secondary-color;
                    }
                }
                #info{
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    border-left: 4px solid $secondary-color3;
                    padding: 1.5rem 0rem 1.5rem 1rem;
                    p {
                        line-height: 2.5rem;
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-weight: 500;
                        }
                    }
                }
                .logo-profile {
                    display: flex;
                    column-gap: 1rem;
                    padding-top: 1.5rem;

                    div {
                        @include center-flexbox();

                        i {
                            color: $main-white-color;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 0.3rem;
                            @include center-flexbox();
                            cursor: pointer;
                        }
    
                        .fa-pen-to-square {
                            background-color: $secondary-color3;
                            transition: ease-in-out 0.3;
    
                            &:hover {
                                background-color: $secondary-color;
                            }
                        }
    
                        .fa-x  {
                            background-color: $main-black-color;
                        }
    
                        .fa-unlock-keyhole {
                            background-color: $secondary-color3;
                            transition: ease-in-out 0.3;
    
                            &:hover {
                                background-color: $secondary-color;
                            }
                        }
                    }
                }
            }

            #right {
                #activities {
                    margin-bottom: 0.3rem;
                    text-align: right;
                    span {
                        color: $secondary-color;
                    }
                }
                #activity {
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    border-right: 4px solid $secondary-color3;
                    padding: 1.5rem 1rem 1.5rem 0rem;
                    p {
                        line-height: 2.5rem;
                        display: flex;
                        justify-content: flex-end;
                        span {
                            font-weight: 500;
                        }
                    }
                }

                .logo-profile {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    column-gap: 1rem;
                    padding-top: 1.5rem;

                    i {
                        color: $main-white-color;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        @include center-flexbox();
                        cursor: pointer;
                    }

                    p {
                        font-size: 1.1rem;
                        color: $grey-medium;
                    }
                }
            }
        }

        #bottom {
            width: 100%;
            height: 12rem;
            padding: 0 4rem;

            #content {
                display: grid;
                grid-template-columns: 50% 50%;
                color: $main-black-color;
                font-size: 1.1rem;

                #edit-form {
                    display: none;
                    div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.6rem;
                        column-gap: 0.6rem;
                    }

                    .field {

                        div {
                            

                            input, label {
                                transition: ease-in-out 0.3s; 
                            }
                        }
                    }
                }

                #right {
                    background-color: pink;
                }

                #delete-account {
                    background-color: red;
                }
            }

            input {
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid $grey-medium;
            }
        }
    }

    #subscription-inactive {
        background-color: $grey-light !important;
        transition: ease-in-out 0.2s;
    
        &:hover {
            background-color: $secondary-color!important;
            transform: scale(1.1);
        }
    }
    
    #subscription-active {
        background-color: $secondary-color !important;
    }

                    
    #actions {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        row-gap: .9rem;
    }


// ---------------------------------
//  ██████  ███████  ██████  ██ ███████ ████████ ███████ ██████  
//  ██   ██ ██      ██       ██ ██         ██    ██      ██   ██ 
//  ██████  █████   ██   ███ ██ ███████    ██    █████   ██████  
//  ██   ██ ██      ██    ██ ██      ██    ██    ██      ██   ██ 
//  ██   ██ ███████  ██████  ██ ███████    ██    ███████ ██   ██
// ---------------------------------


#register-user {
    background-color: red;
    
    #register-container {
        display: grid;
        grid-template-columns: 50% 50%;
        color: $main-white-color;
        position: relative;
        

        #separator {
            background-color: $secondary-color;
            width: 80%;
            height: 5px;
            position: absolute;
            left: 50%; 
            top: 1px; 
            transform: translate(-50%, -50%);
            z-index: 1 !important;
        }

            #left-register {
                background-color: black;
            }
        
            #right-register {
                background-color: #272727;
                padding: 5rem;

                #title-register {
                    p {
                        color: $secondary-color;
                        padding-top: 0.2rem;
                        padding-bottom: 3rem;
                    }
                }
            }

            #form-register {
                padding-right: 12rem;
                div {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 1.8rem;
                    
                }
                label {
                    text-transform: uppercase;
                    padding-bottom: 1rem;
                    transition: ease-in-out 0.6s;
                }
                input {
                    background-color: transparent;
                    border-bottom: 1px solid #939393;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    outline: none;
                    transition: ease-in-out 0.6s;
                }

                #terms-register {
                    display: flex;

                    a {
                        transition: ease-in-out 0.6s;
                    }
                }
            }
    }
}

#btn-register {
    width: 61% !important;
    // margin-right: 12rem;
}

#terms-register a:hover {
    color: $secondary-color !important;
}


// ---------------------------------
//  ███████ ██    ██ ██████  ███████  ██████ ██████  ██ ██████  ████████ ██  ██████  ███    ██ ███████ 
//  ██      ██    ██ ██   ██ ██      ██      ██   ██ ██ ██   ██    ██    ██ ██    ██ ████   ██ ██      
//  ███████ ██    ██ ██████  ███████ ██      ██████  ██ ██████     ██    ██ ██    ██ ██ ██  ██ ███████ 
//       ██ ██    ██ ██   ██      ██ ██      ██   ██ ██ ██         ██    ██ ██    ██ ██  ██ ██      ██ 
//  ███████  ██████  ██████  ███████  ██████ ██   ██ ██ ██         ██    ██  ██████  ██   ████ ███████
// ---------------------------------

$transition: ease-in-out 0.3s;
$grey-color: #272727; 

#subscription-page {
    // background-color: red;
    width: $content-width;
    margin: auto;
    
    p {
        color: $main-white-color;
        font-weight: $semi-bold;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .subscription-cards {
        display: flex;
        justify-content: space-evenly;
    }

    .ongoing-subscription {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $main-black-color;
            opacity: 0.8;
        }
    }
    
    .subscription-card {
        background-color: $grey-color;
        width: 21rem;
        border-left: 1px solid $grey-color;
        border-right: 1px solid $grey-color;
        border-top: 1px solid $grey-color;
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 2rem;
        cursor: pointer;
        transition: scale ease-in-out 0.3;
        opacity: 0;

        &:hover {
            background-color: $secondary-color;

            border-color: $secondary-color;

            h2,p {
                color: $main-black-color;
            }

            .btn {
                background-color: $grey-color;
                color: $secondary-color;
                border-color: $grey-color;
            }
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 1.8rem;
            margin-bottom: 2rem;
            color: $main-white-color;
            letter-spacing: 0.2rem;
            transition: $transition;
        }

        .image {
            border: 1px solid grey;
            width: 50%;
            height: 14rem;
            margin: auto;
            margin-bottom: 2rem;
        }

        p {
            color: $secondary-color;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        p:nth-child(3) {
            font-weight: $extra-bold;
            font-size: 1.2rem;
        }

        p:nth-child(4) {
            font-size: 1rem;
        }

        .subscription-btn {
            margin-top: 1.3rem;
            display: flex;
            justify-content: center;
            

            div {
                
                text-align: center;
                background-color: $grey-color;
                color: $grey-color;
                border-color: $grey-color;
                transition: $transition;
                width: 11rem;
                
                &:hover {
                    transform: scale((1.1));
                }
            }
        }
    }
}

// ---------------------------------
//  ██       ██████   ██████  ██ ███    ██ 
//  ██      ██    ██ ██       ██ ████   ██ 
//  ██      ██    ██ ██   ███ ██ ██ ██  ██ 
//  ██      ██    ██ ██    ██ ██ ██  ██ ██ 
//  ███████  ██████   ██████  ██ ██   ████
// ---------------------------------


.login-user {
    #new-password {
        text-align: right;
        margin-bottom: 2rem;
        color: $grey-light;
        transition: ease-in-out 0.3s;

        &:hover {
            color: $secondary-color; 
        }
    }

    #create-account {
        a {
            color: $grey-light;
            transition: ease-in-out 0.3s;

            &:hover {
                color: $secondary-color;
            }
        }
    }
    button {
        width: 100%;
        margin-bottom: 3rem;
    }
}

