/* ---------------------------------- */
/* ---------------------------------- */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.ttf");
}
.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/* ---------------------------------- */
/* ---------------------------------- */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.ttf");
}
.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.button {
  padding: 0.2rem 1.3rem;
  height: 2.5rem;
  display: inline-block;
  line-height: 2.1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.25rem;
}

.btn4 {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn4:hover {
  border: 1px solid #151515;
  background-color: #eeaf42;
  color: #151515;
}

.btn6 {
  border: 1px solid #eeaf42;
  background-color: #eeaf42;
  color: #151515;
  font-weight: 600;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: pointer;
}
.btn6:hover {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
}

.btn-off {
  border: 1px solid #eeaf42;
  background-color: #c3b5b5;
  color: #151515;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: default;
}

.btn-red {
  border: 1px solid #eeaf42;
  background-color: #F14D4C;
  color: #F9F9F9;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn-red:hover {
  border: 1px solid #151515;
  background-color: #151515;
}

.btn-blue {
  border: 1px solid #eeaf42;
  background-color: #207E93;
  color: #F9F9F9;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn-blue:hover {
  border: 1px solid #151515;
  background-color: #151515;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.underscore {
  animation: blink 1s infinite;
  color: #eeaf42;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.underscore-static {
  color: #eeaf42;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
/* HOVER #2 --------------------------*/
#hover2 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#hover2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hover2 img {
  transition: all ease-in-out 0.3s;
}

#hover2:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

#hover2 #text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

#hover2:hover #text2 {
  opacity: 1;
  top: 50%;
}

#hover2 #text2 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #207E93;
}

.hover2 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.hover2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hover2 img {
  transition: all ease-in-out 0.3s;
}

.hover2:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

.hover2 #text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

.hover2:hover #text2 {
  opacity: 1;
  top: 50%;
  display: flex;
}

.hover2 #text2 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #207E93;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*________________________ */
.component {
  font-size: 0.9rem;
}
.component .space {
  background-color: transparent;
  height: 15px;
  width: 100%;
}

.btn2 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem 1.3rem;
  border: 1px solid rgb(240, 189, 47);
  z-index: 20;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn2:hover {
  color: rgb(240, 189, 47);
  border: 1px solid #242424;
}

.btn-color {
  border-color: rgb(240, 189, 47);
  color: rgb(240, 189, 47);
}
.btn-color::before, .btn-color::after {
  background: #242424;
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-l-r:hover::after {
  width: 100%;
}

.btn-l-r::after {
  left: 0;
}

.btn3 {
  border: 1px solid rgb(240, 189, 47);
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn3:hover {
  border: 1px solid #242424;
  background-color: #242424;
  color: rgb(240, 189, 47);
}

.btn5 {
  border: 1px solid rgb(240, 189, 47);
  background-color: black;
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn5:hover {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}

#hover1 {
  background-color: rgb(0, 0, 0);
}

.component-hover {
  display: flex;
  column-gap: 50px;
}
.component-hover div {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.component-hover div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity ease-in-out 0.3s;
}
.component-hover div img:hover {
  opacity: 0.3;
}
.component-hover div p {
  font-size: 20px;
}
.component-hover div #text:after {
  content: " _";
  font-weight: bold;
  color: #F44C4C;
  visibility: hidden;
  animation: blink 1s infinite;
}
.component-hover div img:hover + #text::after {
  visibility: visible;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

#hover3 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: opacity ease-in-out 0.8s;
}
#hover3:hover {
  border: 1px #F44C4C solid;
}
#hover3 img {
  transition: opacity ease-in-out 0.3s;
}
#hover3 img:hover {
  opacity: 0.3;
}
#hover3 #text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}
#hover3 #text3 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #F44C4C;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover3:hover #text3 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover4 {
  color: white;
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: border ease-in-out 0.8;
}
#hover4:hover {
  border: 1px rgb(240, 189, 47) solid;
}
#hover4 img {
  transition: opacity ease-in-out 0.5s;
}
#hover4 img:hover {
  opacity: 0;
}
#hover4 #text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover4 #text4 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover4:hover #text4 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover5 {
  position: relative;
  cursor: pointer;
  border: 1px white solid;
}
#hover5 #text5 {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 150px;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover5 #text5 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover5:hover #text5 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

.results-search-calendar {
  color: #151515;
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  position: relative;
}
.results-search-calendar h4 {
  position: absolute;
  transform: translate(0px, -30px);
}
.results-search-calendar h4 span {
  color: #eeaf42;
}
.results-search-calendar div {
  margin-top: 1rem;
}
.results-search-calendar div span {
  color: #eeaf42;
}
.results-search-calendar div .name {
  font-size: 1.2rem;
  font-weight: 500;
}
.results-search-calendar .content .text-n2 {
  transition: ease-in-out 0.3s;
}
.results-search-calendar .content .text-n2:hover {
  color: #207E93;
}

.event-container-calendar {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 17rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.event-container-calendar:hover .type {
  right: 0;
  transition: right 0.4s ease-in-out;
}
.event-container-calendar:hover img {
  transform: translateX(5px);
}
.event-container-calendar figure {
  width: 105%;
  height: 14rem;
  overflow: hidden;
}
.event-container-calendar figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.6s;
}
.event-container-calendar .content {
  width: 17rem;
  padding: 0.6rem;
  margin: 0.6rem 0rem;
}
.event-container-calendar .content span {
  color: #eeaf42;
  font-weight: 600;
}
.event-container-calendar .content div {
  margin-top: 0rem;
  display: flex;
  justify-content: space-between;
}
.event-container-calendar .type {
  background-color: #eeaf42;
  display: inline-block;
  width: 8rem;
  padding-right: 0.6rem;
  text-align: right;
  position: absolute;
  top: 14px;
  right: -130px;
  transition: right 0.6s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}

.event-container-calendar-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.event-container-calendar-animation.visible {
  opacity: 1;
  transform: translateY(0);
}

.event-container {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 18rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.event-container:hover .type {
  right: 0;
  transition: right 0.4s ease-in-out;
}
.event-container:hover img {
  transform: translateX(5px);
}
.event-container figure {
  width: 105%;
  height: 14rem;
  background-color: red;
  overflow: hidden;
}
.event-container figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.6s;
}
.event-container .content {
  width: 18rem;
  height: 6rem;
  padding: 0.6rem;
}
.event-container .content span {
  color: #eeaf42;
  font-weight: 600;
}
.event-container .type {
  background-color: #eeaf42;
  display: inline-block;
  width: 8rem;
  padding-right: 0.6rem;
  text-align: right;
  position: absolute;
  top: 14px;
  right: -130px;
  transition: right 0.6s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}

.event-container-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.event-container-animation.visible {
  opacity: 1;
  transform: translateY(0);
}

#list-info-workshop div {
  display: grid;
  grid-template-columns: 40% 10% 80%;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
#list-info-workshop .status {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

#modules-workshop {
  margin: auto;
  margin-top: 3rem;
  font-size: 1.1rem;
  opacity: 0;
  width: 70% !important;
}
#modules-workshop p span {
  color: #eeaf42;
}
#modules-workshop #modules-list {
  margin-top: 1rem;
}
#modules-workshop #modules-list .module-details {
  display: grid;
  grid-template-columns: 18% minmax(auto, 1fr) 74%;
  align-items: end;
  margin-bottom: 0.8rem;
}
#modules-workshop #modules-list .module-details div p:nth-child(1) {
  color: #eeaf42;
  font-weight: 400;
  font-size: 1.2rem;
}
#modules-workshop #modules-list .module-details div p:nth-child(3) {
  color: #207E93;
  font-weight: 400;
  font-size: 1.2rem;
}

#link-subscription {
  background: linear-gradient(to right, #eeaf42, rgb(238, 132, 34), #eeaf42);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: #eeaf42;
  transition: color 0.2s ease-in-out;
}

#link-subscription:hover {
  color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
#calendar-page {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#calendar-page #calendar-container {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 100%;
  min-height: 60rem;
}
#calendar-page #calendar-container #calendar-content {
  height: 100%;
}
#calendar-page #calendar-container #calendar {
  height: 40rem;
  display: flex;
  background-color: #F9F9F9;
  padding: 0rem 2rem 0rem 2rem;
}
#calendar-page #calendar-container #aside {
  background-color: #F9F9F9;
  color: #F9F9F9;
  height: 100%;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.03), -1px 0px 2px rgba(0, 0, 0, 0.08);
}
#calendar-page #calendar-container #aside #top-aside {
  background-color: #151515;
}
#calendar-page #calendar-container #aside #bottom-aside {
  background-color: #eeaf42;
}
#calendar-page #calendar-container #aside #research-nav {
  background-color: #151515;
  padding: 1rem 1rem;
}
#calendar-page #research h3 {
  margin-bottom: 1rem;
}
#calendar-page #research h3 span {
  color: #eeaf42;
}
#calendar-page #research #wrapper {
  display: flex;
  flex-direction: column;
}
#calendar-page #research #wrapper form {
  display: grid;
  grid-template-columns: 20% 20% 40%;
  align-items: center;
  margin-bottom: 0.6rem;
}
#calendar-page #research #wrapper button {
  padding: 0.1rem;
  margin: 0 0 0rem 1rem;
  width: 8rem;
  text-transform: uppercase;
}
#calendar-page #research #wrapper select option {
  color: #151515;
}
#calendar-page #research #wrapper select {
  color: #151515 !important;
}
#calendar-page #research #wrapper input[type=text] {
  color: #151515;
}
#calendar-page .event-class {
  background-color: #151515;
  border: 1px solid #151515;
  cursor: pointer;
}
#calendar-page .workshop-class {
  background-color: #207E93;
  border: 1px solid #207E93;
  cursor: pointer;
}
#calendar-page .expo-class {
  background-color: #F14D4C;
  border: 1px solid #F14D4C;
  cursor: pointer;
}
#calendar-page #calendar {
  align-items: normal;
}

#calendar-page .fc .fc-button-primary:disabled {
  display: none;
}
#calendar-page .fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#calendar-page .fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0px;
  text-transform: uppercase;
}
#calendar-page .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}
#calendar-page .fc .fc-button-group {
  display: inline-flex;
  vertical-align: middle;
  column-gap: 10rem;
  transform: translate(20px 20px);
}
#calendar-page .fc .fc-button-primary {
  background-color: #eeaf42;
  border: none;
  color: #F9F9F9;
}
#calendar-page .fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: 500;
  color: #207E93;
}
#calendar-page .fc .fc-scrollgrid-section, #calendar-page .fc .fc-scrollgrid-section table, #calendar-page .fc .fc-scrollgrid-section > td {
  height: 1px;
}
#calendar-page .fc .fc-scrollgrid-section-footer > *, #calendar-page .fc .fc-scrollgrid-section-header > * {
  border-bottom-width: 0px;
  margin-top: 10rem;
}
#calendar-page .fc-theme-standard td, #calendar-page .fc-theme-standard th {
  border: none;
}
#calendar-page .fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
}
#calendar-page .fc .fc-daygrid-day-top {
  display: flex;
  justify-content: flex-end;
}
#calendar-page .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 1500px) {
  #calendar-page {
    width: 90%;
  }
  #calendar-page #calendar-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  #calendar-page #calendar-container #calendar {
    height: 40rem;
    display: flex;
    background-color: #F9F9F9;
    padding: 0rem 2rem 0rem 2rem;
    flex-direction: column;
  }
  #calendar-page #research #wrapper button {
    width: 5rem;
  }
  #calendar-page #research #wrapper form {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
#archives {
  column-gap: 3rem;
  margin-bottom: 25rem;
}
#archives h2 {
  margin-bottom: 1rem;
  transition: ease-in-out 0.3s;
}
#archives h2:hover {
  color: #207E93;
}
#archives .categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  padding-bottom: 2.5rem;
}
#archives .categories p {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}
#archives .categories p:hover {
  color: #207E93;
  transform: translateY(-5px);
}
#archives #reset-btn {
  text-transform: uppercase;
  border: 1px solid #eeaf42;
  font-weight: 500;
  padding: 0 0.6rem;
  transition: ease-in-out 0.3s;
}
#archives #reset-btn:hover {
  background-color: #eeaf42;
}

#container-last-events, #results-archives {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #archives .categories {
    width: 90%;
    margin: auto;
  }
  #archives .categories p {
    margin-bottom: 0.6rem;
  }
  #container-last-events, #results-archives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-container {
    width: 22rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 765px) {
  #container-last-events, #results-archives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-container {
    width: 27rem;
  }
  .event-container figure {
    height: 19rem;
  }
  #archives .categories {
    row-gap: 1rem;
  }
}
@media screen and (min-width: 765px) and (max-width: 1200px) {
  #archives {
    width: 85%;
  }
  #archives .categories {
    row-gap: 1rem;
  }
}
.dashboard-studios #studios .studio-details {
  margin-bottom: 2rem;
}
.dashboard-studios #studios .studio-details .name-studio {
  font-size: 1.2rem;
  font-weight: 500;
}
.dashboard-studios #studios .studio-details .name-studio span {
  font-size: 1.2rem;
  font-weight: 400;
}
.dashboard-studios #studios .studio-details .wrapper {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 35rem;
}
.dashboard-studios #studios .ri-arrow-down-s-line, .dashboard-studios #studios .ri-add-circle-line {
  cursor: pointer;
}
.dashboard-studios #studios .timeslot {
  background-color: #c3b5b5;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-studios #studios .participants {
  padding: 0.3rem;
}

#actions-planning {
  padding: 0 3rem 3rem 3rem;
}
#actions-planning #action p {
  font-style: 1.2rem;
  margin: 1rem 0;
}
#actions-planning #action p i {
  transition: ease-in-out 0.3s;
}
#actions-planning #action p i:hover {
  color: #207E93;
}
#actions-planning form a {
  background-color: #eeaf42;
  margin-left: 0.6rem;
  padding: 0.2rem 0.6rem;
  border: 1px solid #eeaf42;
  transition: ease-in-out 0.3s;
}
#actions-planning form a:hover {
  background-color: #151515;
  color: #eeaf42;
}

#filters {
  padding: 0 3rem 0rem 3rem;
  display: flex;
}
#filters form {
  margin-left: 0.6rem;
}

#interactive-planning {
  padding: 0 3rem 3rem 3rem;
}
#interactive-planning .fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 2em;
}
#interactive-planning element.style {
  height: 787.444px;
}
#interactive-planning .fc-timegrid-event .fc-event-main {
  padding: 2px 2px 2px 8px;
}

.timeslots-case {
  background-color: #151515;
  border: 1px solid #eeaf42;
}

#supervisor-planning .container-all .container .head, #supervisor-planning .container-all .container .table-user {
  grid-template-columns: 34% 18% 20% 18% 10% !important;
}

.new-timeslot button {
  text-transform: uppercase;
  font-weight: 600;
}

/*# sourceMappingURL=events.css.map */
