@charset "UTF-8";
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 3rem;
  width: 100%;
  background-color: rgb(32, 32, 32);
}
footer a {
  color: white;
}
footer a:hover {
  color: rgb(37, 149, 177);
}

/**
 * Smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
nav {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  height: 5rem;
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: 20% 50% 30%;
  gap: 2rem;
  align-items: center;
  padding: 0 6rem;
}
nav .home i {
  font-size: 1.7rem;
}
nav .active a {
  -webkit-text-fill-color: rgb(37, 149, 177) !important;
}
nav .links {
  display: flex;
}
nav .links a {
  position: relative;
  margin-left: 2rem;
  background-image: linear-gradient(to right, rgb(37, 149, 177), rgb(37, 149, 177) 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
nav .links a:before {
  content: "";
  background: rgb(37, 149, 177);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
nav .links a:hover {
  background-position: 0;
}
nav .links a:hover::before {
  width: 100%;
}
nav .roles {
  display: flex;
  column-gap: 1.2rem;
}
nav .roles .ri-bard-fill {
  -webkit-text-fill-color: rgb(240, 189, 47);
}
nav .roles .ri-bard-fill:hover {
  box-shadow: rgba(240, 189, 47, 0.4) 0px 5px 15px;
}
nav .roles a {
  position: relative;
  background-image: linear-gradient(to right, rgb(37, 149, 177), rgb(37, 149, 177) 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
nav .roles a:hover {
  background-position: 0;
}
nav .roles a:hover::before {
  width: 100%;
}
nav a {
  color: white;
}
nav a:hover {
  color: rgb(37, 149, 177);
}
nav i {
  font-size: 1.3rem;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: "Acme", serif;
}

.content {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  width: 70%;
}

#avatar-profil {
  width: 150px;
  height: 150px;
}
#avatar-profil img {
  width: 100%;
}

.artists-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}
.artists-container .artist-container {
  width: 12rem;
  height: 16rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-container .artist-container div {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.artist-works {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ri-eye-close-fill {
  transition: ease-in-out 0.2s;
}

.ri-eye-close-fill:hover {
  color: rgb(105, 180, 230);
}

.btn {
  margin: 0.8rem 0 0.8rem 0;
  background-color: rgb(240, 189, 47);
  display: inline-block;
  padding: 0.5rem;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  color: rgb(240, 189, 47);
  background-color: rgb(25, 24, 27);
}

#edit_artist_submit button {
  background-color: rgb(240, 189, 47);
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  transition: ease-in-out 0.3s;
  margin: 0.6rem 0 0.6rem 0;
}
#edit_artist_submit button:hover {
  color: rgb(240, 189, 47);
  background-color: rgb(25, 24, 27);
}

.edit-infos label {
  line-height: 1.8rem;
}
.edit-infos input {
  border: none;
  border-bottom: 1px solid rgb(25, 24, 27);
}

.alert-success {
  background-color: #8abe8c;
  margin-top: 5rem;
  padding: 1rem;
}

.carousel {
  position: relative;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.carousel .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
}
.carousel .button i {
  font-size: 50px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.carousel .button i:hover {
  color: rgb(240, 189, 47);
}
.carousel .nav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.carousel .nav .indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 6px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.carousel .nav .indicator:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel .nav .current-slide {
  background: rgb(240, 189, 47);
}
.carousel .button--left {
  left: -50px;
}
.carousel .button--right {
  right: -50px;
}
.carousel .track-container {
  background-color: green;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel .track-container .track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 250ms ease-in-out;
}
.carousel .track-container .track .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel .track-container .track .slide .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.is-hidden {
  display: none;
}

.cross-full {
  width: 12px;
  height: 12px;
}
.cross-full div {
  background-color: rgb(240, 189, 47);
  width: 14px;
  height: 3px;
  transform: rotate(45deg);
  position: relative;
  border: 1px solid rgb(240, 189, 47);
}
.cross-full div::before {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  background-color: rgb(240, 189, 47);
  width: 14px;
  height: 3px;
  border: 1px solid rgb(240, 189, 47);
  translate: -1px -1px;
}

.cross-line {
  width: 12px;
  height: 12px;
}
.cross-line div {
  background-color: white;
  width: 14px;
  height: 4px;
  transform: rotate(45deg);
  position: relative;
  border: 1px solid black;
}
.cross-line div::before {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  background-color: white;
  width: 14px;
  height: 4px;
  border: 1px solid black;
  translate: -1px -1px;
}
.cross-line div::after {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  background-color: white;
  width: 4px;
  height: 6.9px;
  translate: 5.4px -1.5px;
}

.cross2 {
  width: 15px;
  height: 15px;
  transform-origin: center center;
  transform: rotate(45deg);
}
.cross2 div {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
}
.cross2 div div {
  background-color: white;
  box-shadow: 10px 10px white, 0px 10px white, 10px 0px white;
  backdrop-filter: blur(1px);
}

.arrow {
  background-color: white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.arrow-right {
  border-top: 4px solid rgba(0, 0, 0, 0.8);
  border-right: 4px solid rgba(0, 0, 0, 0.8);
}
.arrow-right:hover {
  box-shadow: 3px -3px rgb(240, 189, 47);
}

.arrow-left {
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  border-left: 4px solid rgba(0, 0, 0, 0.8);
}
.arrow-left:hover {
  box-shadow: -3px 3px rgb(240, 189, 47);
}

.past-event-title h2 {
  transition: color 0.3s ease-in-out;
}

.past-event-btn {
  margin: 0.8rem 0 0.8rem 0;
  background-color: rgb(240, 189, 47);
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.past-event-btn:hover {
  background-color: rgb(25, 24, 27);
}
.past-event-btn .ri-eye-fill {
  color: white;
}

.ongoing-events, .past-events {
  line-height: 1.4;
}
.ongoing-events div, .past-events div {
  margin-bottom: 1.5rem;
  padding: 0.3rem;
  border-left: 2px solid rgb(240, 189, 47);
}
.ongoing-events .name, .past-events .name {
  font-size: 1.2rem;
}

.status {
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.open {
  background-color: #71b7c0;
}

.closed {
  background-color: orange;
}

.pending {
  background-color: #8181a2;
}

.archived {
  background-color: gray;
}

.default {
  /* Styles par défaut si le statut n'est aucun des cas ci-dessus */
  background-color: black;
}

.past-event-title {
  display: flex;
  margin-top: 0.6rem;
  align-items: center;
  column-gap: 0.3rem;
}

.dahsboard-container-events div:nth-child(1),
.dashboard-container-expos div:nth-child(1),
.dashboard-container-workshop div:nth-child(1),
.dashboard-container-studio div:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.dahsboard-container-events .ongoing,
.dashboard-container-expos .ongoing,
.dashboard-container-workshop .ongoing,
.dashboard-container-studio .ongoing {
  line-height: 1.4;
}
.dahsboard-container-events .ongoing .element,
.dashboard-container-expos .ongoing .element,
.dashboard-container-workshop .ongoing .element,
.dashboard-container-studio .ongoing .element {
  border-left: 2px solid rgb(240, 189, 47);
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

.delete-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 2px 2px -2px;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.3rem;
}
.delete-container div {
  display: flex;
  column-gap: 0.6rem;
}
.delete-container div p {
  cursor: pointer;
}
.delete-container div p:hover {
  color: rgb(240, 189, 47);
}

#map {
  height: 35rem;
  box-shadow: 7px 7px rgb(240, 189, 47), -7px -7px #737373;
  transition: ease-in-out 0.3s;
}
#map:hover {
  box-shadow: -7px 7px #737373, 7px -7px rgb(240, 189, 47);
}

.leaflet-popup-content-wrapper {
  border-bottom: 2px solid rgb(37, 149, 177);
  transition: ease-in-out 0.3s;
}
.leaflet-popup-content-wrapper:hover {
  border-color: rgb(240, 189, 47);
}
.leaflet-popup-content-wrapper:hover + .leaflet-popup-tip-container .leaflet-popup-tip {
  background-color: rgb(240, 189, 47);
}

.leaflet-popup-tip-container .leaflet-popup-tip {
  background-color: rgb(37, 149, 177);
  transition: ease-in-out 0.3s;
}

.leaflet-popup-content div a {
  color: rgb(240, 189, 47);
  font-weight: 600;
  font-size: 18px;
  transition: ease-in-out 0.3s;
}
.leaflet-popup-content div a:hover {
  color: rgb(37, 149, 177);
}

.studios-container .studio {
  width: 25rem;
  height: 20rem;
  background-color: #737373;
  overflow: hidden;
}
.studios-container .studio img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.6s;
  filter: grayscale(0.6);
}
.studios-container .studio img:hover {
  transform: scale(1.08);
  filter: none;
}

/*# sourceMappingURL=general.css.map */
