/* ---------------------------------- */
/* ---------------------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.3rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
}

.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

@media (min-width: 35em) { /*560px*/
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem; /*20px*/
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) { /*720*/
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem; /* base size = body text size */
  }
}
/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/*  ---------------------------------- */
/* ---------------------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* .flex.even-columns > * {
    width: 100%;
    outline: solid 2px green;
} */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) { /*select every div that has a sibling before*/
  margin-top: var(--flow-space, 1rem); /*undefined custom property so the 1rem become the default*/
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 2em; /*logical property, modern css*/
  margin-inline: auto;
  max-width: 60rem;
}

.sr-only { /*screen reader only*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* .call-to-action {
    --gap: 5rem;
    background: pink;
    padding: 2rem;
    border-radius: 1rem;
} */
/* Colors*/
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* .example-component {
    background-color: hsl( var(--clr-light) /.2);
} */
/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  color: hsl(var(--clr-white)/0.25);
  font-weight: 700;
  padding-right: 0.5em;
}

/* ---------------------------------- */
/* ---------------------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.3rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
}

.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

@media (min-width: 35em) { /*560px*/
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem; /*20px*/
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) { /*720*/
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem; /* base size = body text size */
  }
}
/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/*  ---------------------------------- */
/* ---------------------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* .flex.even-columns > * {
    width: 100%;
    outline: solid 2px green;
} */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) { /*select every div that has a sibling before*/
  margin-top: var(--flow-space, 1rem); /*undefined custom property so the 1rem become the default*/
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 2em; /*logical property, modern css*/
  margin-inline: auto;
  max-width: 60rem;
}

.sr-only { /*screen reader only*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* .call-to-action {
    --gap: 5rem;
    background: pink;
    padding: 2rem;
    border-radius: 1rem;
} */
/* Colors*/
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* .example-component {
    background-color: hsl( var(--clr-light) /.2);
} */
/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  color: hsl(var(--clr-white)/0.25);
  font-weight: 700;
  padding-right: 0.5em;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.button {
  padding: 0.2rem 1.3rem;
  height: 2.5rem;
  display: inline-block;
  line-height: 2.1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.25rem;
}

.btn4 {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn4:hover {
  border: 1px solid #151515;
  background-color: #eeaf42;
  color: #151515;
}

.btn6 {
  border: 1px solid #eeaf42;
  background-color: #eeaf42;
  color: #F9F9F9;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: pointer;
}
.btn6:hover {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
}

.btn-off {
  border: 1px solid #eeaf42;
  background-color: #c3b5b5;
  color: #151515;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: default;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.underscore {
  animation: blink 1s infinite;
  color: #eeaf42;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.underscore-static {
  color: #eeaf42;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
/* HOVER #2 --------------------------*/
#hover2 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#hover2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hover2 img {
  transition: all ease-in-out 0.3s;
}

#hover2:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

#hover2 #text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

#hover2:hover #text2 {
  opacity: 1;
  top: 50%;
}

#hover2 #text2 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #207E93;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*________________________ */
.component {
  font-size: 0.9rem;
}
.component .space {
  background-color: transparent;
  height: 15px;
  width: 100%;
}

.btn2 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem 1.3rem;
  border: 1px solid rgb(240, 189, 47);
  z-index: 20;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn2:hover {
  color: rgb(240, 189, 47);
  border: 1px solid #242424;
}

.btn-color {
  border-color: rgb(240, 189, 47);
  color: rgb(240, 189, 47);
}
.btn-color::before, .btn-color::after {
  background: #242424;
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-l-r:hover::after {
  width: 100%;
}

.btn-l-r::after {
  left: 0;
}

.btn3 {
  border: 1px solid rgb(240, 189, 47);
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn3:hover {
  border: 1px solid #242424;
  background-color: #242424;
  color: rgb(240, 189, 47);
}

.btn5 {
  border: 1px solid rgb(240, 189, 47);
  background-color: black;
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn5:hover {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}

#hover1 {
  background-color: rgb(0, 0, 0);
}

.component-hover {
  display: flex;
  column-gap: 50px;
}
.component-hover div {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.component-hover div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity ease-in-out 0.3s;
}
.component-hover div img:hover {
  opacity: 0.3;
}
.component-hover div p {
  font-size: 20px;
}
.component-hover div #text:after {
  content: " _";
  font-weight: bold;
  color: #F44C4C;
  visibility: hidden;
  animation: blink 1s infinite;
}
.component-hover div img:hover + #text::after {
  visibility: visible;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

#hover3 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: opacity ease-in-out 0.8s;
}
#hover3:hover {
  border: 1px #F44C4C solid;
}
#hover3 img {
  transition: opacity ease-in-out 0.3s;
}
#hover3 img:hover {
  opacity: 0.3;
}
#hover3 #text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}
#hover3 #text3 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #F44C4C;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover3:hover #text3 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover4 {
  color: white;
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: border ease-in-out 0.8;
}
#hover4:hover {
  border: 1px rgb(240, 189, 47) solid;
}
#hover4 img {
  transition: opacity ease-in-out 0.5s;
}
#hover4 img:hover {
  opacity: 0;
}
#hover4 #text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover4 #text4 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover4:hover #text4 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover5 {
  position: relative;
  cursor: pointer;
  border: 1px white solid;
}
#hover5 #text5 {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 150px;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover5 #text5 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover5:hover #text5 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

/*  ---------------------------------- */
/* ---------------------------------- */
/* set up the body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #F9F9F9;
  overflow-x: hidden;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

#back-top-btn {
  display: inline-block;
  background-color: #eeaf42;
  width: 35px;
  height: 35px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-top-btn:hover {
  cursor: pointer;
  background-color: #333;
}
#back-top-btn.active {
  background-color: #555;
}
#back-top-btn.show {
  opacity: 1;
  visibility: visible;
}
#back-top-btn:hover:after {
  color: #eeaf42;
}
#back-top-btn:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  line-height: 50px;
  color: #F9F9F9;
}

.banner {
  background-image: url("../images/banner.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9rem;
}
.banner .content {
  width: 70%;
  margin: auto;
}
.banner .content .subtitle {
  display: flex;
}

.banner-title {
  font-size: clamp(1.6rem, 2.5vw, 2.3rem);
  font-weight: 600;
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease, transform 2s ease;
  text-transform: uppercase;
}

.banner-text {
  color: #207E93;
  font-size: clamp(1.6rem, 2.5vw, 2.3rem);
  font-weight: 600;
  opacity: 0;
  transition: opacity 2s ease 1s;
}

.banner-title.visible {
  opacity: 1;
  transform: translateX(0);
}

.banner-text.visible {
  opacity: 1;
}

.underscore-blink {
  margin-left: 0.3rem;
  width: clamp(1.2rem, 2.5vw, 1.7rem);
  height: 45px;
  border-bottom: 6px solid #eeaf42;
  opacity: 0;
  transition: ease 0.3s;
}

@media (min-width: 320px) and (max-width: 480px) {
  .underscore-blink {
    border-bottom: 4px solid #eeaf42;
    height: 33px;
  }
}
@media screen and (max-width: 768px) {
  .underscore-blink {
    border-bottom: 4px solid #eeaf42;
    height: 34px;
  }
}
@media screen and (max-width: 1200px) {
  .underscore-blink {
    border-bottom: 4px solid #eeaf42;
    height: 34px;
  }
}
.underscore-blink.visible {
  opacity: 1;
}

.underscore-blink.animate {
  animation: blink 1s 5;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content {
  width: 70%;
  margin: auto;
}

.breadcrumb {
  width: 70%;
  margin: auto;
  margin-bottom: 0.9rem;
}

.breadcrumb-light {
  color: #F9F9F9;
}
.breadcrumb-light a {
  transition: ease-in-out 0.3s;
}
.breadcrumb-light a:hover {
  color: #eeaf42;
}

.breadcrumb-dark {
  color: #151515;
}
.breadcrumb-dark a {
  transition: ease-in-out 0.3s;
}
.breadcrumb-dark a:hover {
  color: #207E93;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
nav {
  width: 100%;
  height: 6rem;
  background-color: #151515;
  color: #F9F9F9;
  padding: 0 1.8rem;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 45% 30%;
  letter-spacing: 0.3rem;
  z-index: 2000;
}
nav .name-app {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  position: relative;
  background-image: linear-gradient(to right, #eeaf42, #eeaf42 50%, #F9F9F9 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .name-app a {
  transition: 5s ease-in-out;
}
nav .name-app a:hover {
  background-image: linear-gradient(to right, #eeaf42, #eeaf42 50%, #eeaf42 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .nav-links {
  font-size: 0.9rem;
  justify-content: space-between;
  display: flex;
}
nav .nav-links a {
  transition: ease-in-out 0.3s;
  position: relative;
}
nav .nav-links a:hover {
  color: #eeaf42;
}
nav .nav-links a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #eeaf42;
  transition: width 0.3s ease;
}
nav .nav-links a:hover:before {
  color: #eeaf42;
  width: 97%;
}
nav .nav-menu {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
nav .nav-menu a {
  display: flex;
  height: 1.1rem;
  width: 1.8rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 10px;
}
nav .nav-menu a div {
  width: 1.8rem;
  height: 0.05rem;
  background-color: #F9F9F9;
  transition: transform ease-in-out 0.2s;
}
nav .nav-menu a:hover div:nth-child(2) {
  background-color: #eeaf42;
  transform: rotate(90deg);
}
nav .nav-menu a:hover div:nth-child(1) {
  background-color: #eeaf42;
  transform: translateY(0.55rem);
}
nav .nav-menu a:hover div:nth-child(3) {
  background-color: #eeaf42;
  transform: translateY(-0.5rem);
}

/*  ---------------------------------- */
/*  ---------------------------------- */
aside {
  background-color: #151515;
  position: fixed;
  top: 0;
  right: -28rem;
  height: 100vh;
  width: 28rem;
  z-index: 2;
  color: #F9F9F9;
  text-align: justify;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  padding: 20rem 4rem 5rem 4rem;
}
aside div {
  height: 100%;
}
aside div h3 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-bottom: 30px;
}
aside div h3 span {
  font-weight: 400;
  font-size: 50px;
  color: #eeaf42;
}
aside div p {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.socials {
  height: 14rem;
  display: flex;
  align-items: flex-end;
  column-gap: 35px;
}
.socials i {
  font-size: 18px;
  color: #F9F9F9;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.socials i:hover {
  color: #eeaf42;
  transform: translateY(-5px);
}

/*  ---------------------------------- */
/*  ---------------------------------- */
#top-footer {
  width: 100%;
  z-index: 1;
  height: 561px;
  background-image: url("../images/motif-footer02.png");
  background-repeat: no-repeat;
}

footer {
  background-color: #151515;
  width: 100vw;
  height: 28rem;
  color: #F9F9F9;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}
footer #image {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 28rem;
  top: 0;
  left: 0;
  z-index: -1;
}
footer #image img {
  width: 100%;
  height: 100%;
}
footer #footer-separator {
  background-color: #eeaf42;
  width: 85%;
  height: 7px;
  position: absolute;
  top: 0;
  transform: translateY(-4px);
}
footer #footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
}
footer #name-nav {
  letter-spacing: 0.3rem;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
footer #footer-links {
  display: flex;
  column-gap: 7rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
footer #footer-links-conditions {
  display: flex;
  column-gap: 7rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 6rem;
}
footer #footer-rights {
  letter-spacing: 0.25rem;
}
footer #footer-socials {
  margin-top: 3rem;
  height: 1rem;
  column-gap: 3rem;
}
footer #footer-socials i {
  font-size: 25px;
}
footer a {
  color: #F9F9F9;
}
footer a:hover {
  color: #eeaf42;
}
footer #name-rights {
  color: #eeaf42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    margin-bottom: 6rem;
  }
  footer #footer-links {
    column-gap: 3rem;
  }
  footer #footer-links-conditions {
    row-gap: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  footer #footer-rights {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  footer #image {
    display: none;
  }
  .content {
    width: 80% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1560px) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 1900px) {
  footer #image {
    display: none;
  }
}
/* ---------------------------------- */
/* ---------------------------------- */
#error404-page {
  background-color: #151515;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#error404-page #content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7rem 10rem 0rem 10rem;
}
#error404-page h1 {
  color: #eeaf42;
  font-size: 4rem;
}
#error404-page picture {
  background-color: grey;
  width: 500px;
  height: 500px;
  margin: 3rem 0;
}
#error404-page p {
  color: #F9F9F9;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
}
#error404-page p a {
  color: #eeaf42;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
}
#error404-page p a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #eeaf42;
  transition: width 0.3s ease;
}
#error404-page p a:hover:before {
  color: #eeaf42;
  width: 95%;
}
#error404-page #background-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(-100%);
  z-index: -1;
  display: flex;
  overflow: hidden;
}
#error404-page #background-img div {
  height: 290px;
  width: 1300px;
}
#error404-page #background-img div img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=layout.css.map */
