/* ---------------------------------- */
/* ---------------------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.3rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
}

.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

@media (min-width: 35em) { /*560px*/
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem; /*20px*/
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) { /*720*/
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem; /* base size = body text size */
  }
}
/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/*  ---------------------------------- */
/* ---------------------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* .flex.even-columns > * {
    width: 100%;
    outline: solid 2px green;
} */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) { /*select every div that has a sibling before*/
  margin-top: var(--flow-space, 1rem); /*undefined custom property so the 1rem become the default*/
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 2em; /*logical property, modern css*/
  margin-inline: auto;
  max-width: 60rem;
}

.sr-only { /*screen reader only*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* .call-to-action {
    --gap: 5rem;
    background: pink;
    padding: 2rem;
    border-radius: 1rem;
} */
/* Colors*/
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* .example-component {
    background-color: hsl( var(--clr-light) /.2);
} */
/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  color: hsl(var(--clr-white)/0.25);
  font-weight: 700;
  padding-right: 0.5em;
}

/* ---------------------------------- */
/* ---------------------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.3rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.9rem;
}

.text-n1 {
  font-weight: 700;
  font-size: 1.85rem;
  letter-spacing: 0.05rem;
}

.text-n2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-n3 {
  font-size: 1.2rem;
  font-weight: 300 !important;
}

@media (min-width: 35em) { /*560px*/
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem; /*20px*/
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) { /*720*/
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem; /* base size = body text size */
  }
}
/*  ---------------------------------- */
/* ---------------------------------- */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset margins */
body, h1, h2, h3, h4, p,
figure, picture, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance; /*  hand-authoring line breaks for balanced text blocks*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Smooth scrolling on the whole document */
html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: #eeaf42;
  color: #151515;
}

/* Reset selection color for elements other than text */
::-moz-selection {
  background-color: #eeaf42;
  color: #151515;
}

/*  ---------------------------------- */
/* ---------------------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* .flex.even-columns > * {
    width: 100%;
    outline: solid 2px green;
} */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) { /*select every div that has a sibling before*/
  margin-top: var(--flow-space, 1rem); /*undefined custom property so the 1rem become the default*/
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 2em; /*logical property, modern css*/
  margin-inline: auto;
  max-width: 60rem;
}

.sr-only { /*screen reader only*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* .call-to-action {
    --gap: 5rem;
    background: pink;
    padding: 2rem;
    border-radius: 1rem;
} */
/* Colors*/
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* .example-component {
    background-color: hsl( var(--clr-light) /.2);
} */
/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  color: hsl(var(--clr-white));
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  color: hsl(var(--clr-white)/0.25);
  font-weight: 700;
  padding-right: 0.5em;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.button {
  padding: 0.2rem 1.3rem;
  height: 2.5rem;
  display: inline-block;
  line-height: 2.1rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn4 {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn4:hover {
  border: 1px solid #151515;
  background-color: #eeaf42;
  color: #151515;
}

.btn6 {
  border: 1px solid #eeaf42;
  background-color: #eeaf42;
  color: #F9F9F9;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: pointer;
}
.btn6:hover {
  border: 1px solid #eeaf42;
  background-color: #151515;
  color: #eeaf42;
}

.btn-off {
  border: 1px solid #eeaf42;
  background-color: #c3b5b5;
  color: #151515;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
  cursor: default;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
.underscore {
  animation: blink 1s infinite;
  color: #eeaf42;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.underscore-static {
  color: #eeaf42;
}

/*  ---------------------------------- */
/*  ---------------------------------- */
/* HOVER #2 --------------------------*/
#hover2 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#hover2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hover2 img {
  transition: all ease-in-out 0.3s;
}

#hover2:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

#hover2 #text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, top ease-in-out 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

#hover2:hover #text2 {
  opacity: 1;
  top: 50%;
}

#hover2 #text2 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #207E93;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/*________________________ */
.component {
  font-size: 0.9rem;
}
.component .space {
  background-color: transparent;
  height: 15px;
  width: 100%;
}

.btn2 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0.2rem 1.3rem;
  border: 1px solid rgb(240, 189, 47);
  z-index: 20;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn2:hover {
  color: rgb(240, 189, 47);
  border: 1px solid #242424;
}

.btn-color {
  border-color: rgb(240, 189, 47);
  color: rgb(240, 189, 47);
}
.btn-color::before, .btn-color::after {
  background: #242424;
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}

.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-l-r:hover::after {
  width: 100%;
}

.btn-l-r::after {
  left: 0;
}

.btn3 {
  border: 1px solid rgb(240, 189, 47);
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn3:hover {
  border: 1px solid #242424;
  background-color: #242424;
  color: rgb(240, 189, 47);
}

.btn5 {
  border: 1px solid rgb(240, 189, 47);
  background-color: black;
  display: inline-block;
  padding: 0.2rem 1.3rem;
  position: relative;
  cursor: pointer;
  color: rgb(240, 189, 47);
  transition: all 0.35s cubic-bezier(0.8, 1, 0, 1);
}
.btn5:hover {
  border: 1px solid black;
  background-color: yellow;
  color: black;
}

#hover1 {
  background-color: rgb(0, 0, 0);
}

.component-hover {
  display: flex;
  column-gap: 50px;
}
.component-hover div {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.component-hover div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity ease-in-out 0.3s;
}
.component-hover div img:hover {
  opacity: 0.3;
}
.component-hover div p {
  font-size: 20px;
}
.component-hover div #text:after {
  content: " _";
  font-weight: bold;
  color: #F44C4C;
  visibility: hidden;
  animation: blink 1s infinite;
}
.component-hover div img:hover + #text::after {
  visibility: visible;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

#hover3 {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: opacity ease-in-out 0.8s;
}
#hover3:hover {
  border: 1px #F44C4C solid;
}
#hover3 img {
  transition: opacity ease-in-out 0.3s;
}
#hover3 img:hover {
  opacity: 0.3;
}
#hover3 #text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}
#hover3 #text3 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: #F44C4C;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover3:hover #text3 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover4 {
  color: white;
  position: relative;
  cursor: pointer;
  border: 1px white solid;
  transition: border ease-in-out 0.8;
}
#hover4:hover {
  border: 1px rgb(240, 189, 47) solid;
}
#hover4 img {
  transition: opacity ease-in-out 0.5s;
}
#hover4 img:hover {
  opacity: 0;
}
#hover4 #text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover4 #text4 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover4:hover #text4 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#hover5 {
  position: relative;
  cursor: pointer;
  border: 1px white solid;
}
#hover5 #text5 {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 150px;
  transition: opacity ease-in-out 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}
#hover5 #text5 span {
  animation: blink 1s infinite;
  font-weight: bold;
  color: rgb(240, 189, 47);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#hover5:hover #text5 {
  opacity: 100%;
  transition: opacity ease-in-out 1s;
}

#profil-user {
  color: #F9F9F9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: relative;
}
#profil-user #separator-profil {
  background-color: #eeaf42;
  width: 80%;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
}
#profil-user #top {
  background-color: #151515;
  height: 18rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: end;
  position: relative;
}
#profil-user #top #pattern {
  position: absolute;
  background-image: url("../images/patternProfile.png");
  width: 100%;
  height: 100%;
  z-index: 0;
  background-repeat: repeat;
  animation: moveLeftRight 5s linear infinite;
  background-size: auto 100%;
  background-position: 0 0;
  /*adjust s value for speed*/
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
#profil-user #top h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  z-index: 1;
}
#profil-user #top h2 span {
  color: #207E93;
  font-size: 45px;
  font-weight: 500;
}
#profil-user #top #avatar div:first-child {
  width: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#profil-user #top #avatar div:first-child:before {
  content: "";
  position: absolute;
  top: 116px;
  left: -24px;
  width: 18rem;
  height: 9rem;
  border-radius: 0 0 140px 140px;
  border: 4px #eeaf42 solid;
  z-index: -20 !important;
}
#profil-user #top #avatar div:first-child picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
#profil-user #top #avatar div:first-child picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#profil-user #top #avatar div:nth-child(2) {
  z-index: 500;
  position: absolute;
  transform: translate(120px, -20px);
  background-color: #eeaf42;
  border: 2px solid #eeaf42;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
#profil-user #top #avatar div:nth-child(2):hover {
  color: #eeaf42;
  border: 2px solid #eeaf42;
  background-color: #F9F9F9 !important;
}
#profil-user #top #roles {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -20px;
  margin-right: 10rem;
}
#profil-user #top #roles div {
  background-color: #F9F9F9;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profil-user #top #roles div:before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: inherit;
  border: 2px #eeaf42 solid;
  z-index: -1;
}
#profil-user #top #roles div i {
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#profil-user #top #roles div i:hover {
  color: #eeaf42;
}
#profil-user #top #roles #not-artist i {
  color: #4c4545;
  transition: ease-in-out 0.3s;
}
#profil-user #top #roles #not-artist i:hover {
  color: #eeaf42;
}
#profil-user #upload-avatar {
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  margin-right: 4rem;
}
#profil-user #upload-avatar #form-avatar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 1rem;
  width: 26rem;
  display: none;
}
#profil-user #middle {
  color: #151515;
  display: flex;
  justify-content: space-between;
  margin: 8rem 4rem 6rem 4rem;
}
#profil-user #middle #left #infos {
  margin-bottom: 0.3rem;
}
#profil-user #middle #left #infos span {
  color: #eeaf42;
}
#profil-user #middle #left #info {
  width: 450px;
  display: flex;
  flex-direction: column;
  border-left: 4px solid #207E93;
  padding: 1.5rem 0rem 1.5rem 1rem;
}
#profil-user #middle #left #info p {
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
}
#profil-user #middle #left #info p span {
  font-weight: 500;
}
#profil-user #middle #left .logo-profile {
  display: flex;
  column-gap: 1rem;
  padding-top: 1.5rem;
}
#profil-user #middle #left .logo-profile div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#profil-user #middle #left .logo-profile div i {
  color: #F9F9F9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profil-user #middle #left .logo-profile div .fa-pen-to-square {
  background-color: #207E93;
  transition: ease-in-out 0.3;
}
#profil-user #middle #left .logo-profile div .fa-pen-to-square:hover {
  background-color: #eeaf42;
}
#profil-user #middle #left .logo-profile div .fa-x {
  background-color: #151515;
}
#profil-user #middle #left .logo-profile div .fa-unlock-keyhole {
  background-color: #207E93;
  transition: ease-in-out 0.3;
}
#profil-user #middle #left .logo-profile div .fa-unlock-keyhole:hover {
  background-color: #eeaf42;
}
#profil-user #middle #right #activities {
  margin-bottom: 0.3rem;
  text-align: right;
}
#profil-user #middle #right #activities span {
  color: #eeaf42;
}
#profil-user #middle #right #activity {
  width: 450px;
  display: flex;
  flex-direction: column;
  border-right: 4px solid #207E93;
  padding: 1.5rem 1rem 1.5rem 0rem;
}
#profil-user #middle #right #activity div {
  line-height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#profil-user #middle #right #activity div p {
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
#profil-user #middle #right #activity div p:hover {
  color: #207E93;
}
#profil-user #middle #right #activity div i {
  margin-right: 0.6rem;
  opacity: 0;
  transition: ease-in-out 0.3s;
  color: #207E93;
}
#profil-user #middle #right .logo-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
  padding-top: 1.5rem;
}
#profil-user #middle #right .logo-profile i {
  color: #F9F9F9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profil-user #middle #right .logo-profile p {
  font-size: 1.1rem;
  color: #4c4545;
}
#profil-user #bottom {
  width: 100%;
  padding: 0 4rem;
}
#profil-user #bottom #content {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #151515;
  font-size: 1.1rem;
}
#profil-user #bottom #content #edit-form {
  display: none;
}
#profil-user #bottom #content #edit-form div {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  column-gap: 0.6rem;
}
#profil-user #bottom #content #edit-form .field div input, #profil-user #bottom #content #edit-form .field div label {
  transition: ease-in-out 0.3s;
}
#profil-user #bottom #content #delete-account {
  display: none;
}
#profil-user #bottom #content #delete-account .confirm a:hover {
  color: #207E93;
}
#profil-user #bottom #content #delete-account .confirm a:hover i, #profil-user #bottom #content #delete-account .confirm a:hover p {
  color: inherit;
}
#profil-user #bottom #content #delete-account .cancel a:hover {
  color: #F14D4C;
}
#profil-user #bottom #content #delete-account .cancel a:hover i, #profil-user #bottom #content #delete-account .cancel a:hover p {
  color: inherit;
}
#profil-user #bottom #content #delete-account div a {
  display: flex;
  align-items: center;
}
#profil-user #bottom #content #delete-account div a i {
  margin-right: 0.6rem;
}
#profil-user #bottom #content #delete-account div a .fa-circle-check {
  color: #4c4545;
}
#profil-user #bottom #content #delete-account div a .fa-circle-xmark {
  color: #4c4545;
}
#profil-user #bottom input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #4c4545;
}

#subscription-inactive {
  background-color: #c3b5b5 !important;
  transition: ease-in-out 0.2s;
}
#subscription-inactive:hover {
  background-color: #eeaf42 !important;
  transform: scale(1.1);
}

#subscription-active {
  background-color: #eeaf42 !important;
}

#actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.9rem;
}

#actions .fa-x {
  transition: ease-in-out 0.3s;
}
#actions .fa-x:hover {
  background-color: #F14D4C !important;
}
#actions .fa-right-from-bracket {
  transition: ease-in-out 0.3s;
  background-color: #eeaf42;
}
#actions .fa-right-from-bracket:hover {
  background-color: #4c4545 !important;
}

#activity-recap .recap {
  margin-bottom: 3rem;
}
#activity-recap .recap p span {
  color: #eeaf42;
}
#activity-recap .recap .text-n2 {
  margin-bottom: 0.5rem;
}
#activity-recap .recap div p:nth-child(1) {
  color: #eeaf42;
  font-weight: 400;
  font-size: 1.2rem;
}
#activity-recap .recap div p:nth-child(2) {
  color: #207E93;
  font-weight: 400;
  font-size: 1.2rem;
}
#activity-recap .recap .fa-x {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
  background-color: #151515;
  border: 2px solid #151515;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#activity-recap .recap .fa-x:hover {
  background-color: #F9F9F9;
  color: #151515;
  border: 2px solid #151515;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  row-gap: 0.9rem;
}
.subscriptions div {
  display: flex;
  align-items: center;
}
.subscriptions div p {
  margin-right: 0.3rem;
}
.subscriptions div .fa-magnifying-glass {
  background-color: #207E93;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.subscriptions div .fa-magnifying-glass:hover {
  background-color: #eeaf42;
}

#subscription-recap .text-n2 {
  margin-bottom: 0.5rem;
}
#subscription-recap .text-n2 span {
  color: #eeaf42;
}
#subscription-recap #active span, #subscription-recap #inactive span {
  color: #207E93;
  font-weight: 400;
  font-size: 1.2rem;
}
#subscription-recap #active div, #subscription-recap #inactive div {
  border-bottom: 1px solid #eeaf42;
  width: 200px;
  margin: 0.6rem 0;
}
#subscription-recap #btn-subscription {
  margin: 2rem 0;
  display: flex;
  column-gap: 2rem;
}
#subscription-recap #btn-subscription div i {
  color: #207E93;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#subscription-recap #btn-subscription div i:hover {
  color: #eeaf42;
}
#subscription-recap #btn-subscription .fa-x {
  width: 25px;
  height: 25px;
  background-color: #151515;
  border: 2px solid #151515;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#subscription-recap #btn-subscription .fa-x:hover {
  background-color: #F9F9F9;
  color: #151515;
  border: 2px solid #151515;
}

#register-user {
  background-color: #272727;
}
#register-user #register-container {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #F9F9F9;
  position: relative;
}
#register-user #register-container #separator {
  background-color: #eeaf42;
  width: 80%;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
}
#register-user #register-container .left-register {
  background-color: black;
  width: 100%;
  height: 100%;
}
#register-user #register-container #l-register {
  background-image: url("../images/register.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}
#register-user #register-container .right-register {
  background-color: #272727;
  width: 100%;
  height: 100%;
  padding: 5rem 5rem 3rem 5rem;
}
#register-user #register-container .right-register #title-register p {
  color: #eeaf42;
  padding-top: 0.2rem;
  padding-bottom: 3rem;
}
#register-user #register-container #r-register {
  background-image: url("../images/register2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  padding: 5rem 5rem 3rem 5rem;
}
#register-user #register-container #form-register {
  padding-right: 12rem;
}
#register-user #register-container #form-register div {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.8rem;
}
#register-user #register-container #form-register label {
  text-transform: uppercase;
  padding-bottom: 1rem;
  transition: ease-in-out 0.6s;
}
#register-user #register-container #form-register input {
  background-color: transparent;
  border-bottom: 1px solid #939393;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  transition: ease-in-out 0.6s;
}
#register-user #register-container #form-register #terms-register {
  display: flex;
}
#register-user #register-container #form-register #terms-register p {
  display: flex;
  align-items: center;
}
#register-user #register-container #form-register #terms-register p a {
  transition: ease-in-out 0.6s;
}
#register-user #register-container #form-register #terms-register p span {
  margin: 0rem 0.4rem;
  color: #eeaf42;
}
#register-user #register-container #login {
  margin-top: 1rem;
}
#register-user #register-container #login a {
  color: #eeaf42;
  position: relative;
  text-decoration: none;
}
#register-user #register-container #login a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #eeaf42;
  transition: width 0.3s ease;
}
#register-user #register-container #login a:hover:before {
  width: 100%;
}

#btn-register {
  width: 61% !important;
}
#btn-register:hover {
  background-color: #272727;
}

#terms-register a:hover {
  color: #eeaf42 !important;
}

#subscription-page {
  width: 70%;
  margin: auto;
}
#subscription-page p {
  color: #F9F9F9;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}
#subscription-page .subscription-cards {
  display: flex;
  justify-content: space-evenly;
}
#subscription-page .ongoing-subscription {
  position: relative;
}
#subscription-page .ongoing-subscription:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0.8;
}
#subscription-page .subscription-card {
  background-color: #272727;
  width: 21rem;
  border-left: 1px solid #272727;
  border-right: 1px solid #272727;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #eeaf42;
  padding-bottom: 2rem;
  cursor: pointer;
  transition: scale ease-in-out 0.3;
  opacity: 0;
}
#subscription-page .subscription-card:hover {
  background-color: #eeaf42;
  border-color: #eeaf42;
}
#subscription-page .subscription-card:hover h2, #subscription-page .subscription-card:hover p {
  color: #151515;
}
#subscription-page .subscription-card:hover .btn {
  background-color: #272727;
  color: #eeaf42;
  border-color: #272727;
}
#subscription-page .subscription-card h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  color: #F9F9F9;
  letter-spacing: 0.2rem;
  transition: ease-in-out 0.3s;
}
#subscription-page .subscription-card .image {
  border: 1px solid grey;
  width: 50%;
  height: 14rem;
  margin: auto;
  margin-bottom: 2rem;
}
#subscription-page .subscription-card p {
  color: #eeaf42;
  text-align: center;
  letter-spacing: 0.2rem;
}
#subscription-page .subscription-card p:nth-child(3) {
  font-weight: 700;
  font-size: 1.2rem;
}
#subscription-page .subscription-card p:nth-child(4) {
  font-size: 1rem;
}
#subscription-page .subscription-card .subscription-btn {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
}
#subscription-page .subscription-card .subscription-btn div {
  text-align: center;
  background-color: #272727;
  color: #272727;
  border-color: #272727;
  transition: ease-in-out 0.3s;
  width: 11rem;
}
#subscription-page .subscription-card .subscription-btn div:hover {
  transform: scale(1.1);
}

.login-user #new-password {
  text-align: right;
  margin-bottom: 2rem;
  color: #c3b5b5;
  transition: ease-in-out 0.3s;
}
.login-user #new-password:hover {
  color: #eeaf42;
}
.login-user #create-account a {
  color: #c3b5b5;
  transition: ease-in-out 0.3s;
  position: relative;
}
.login-user #create-account a:hover {
  color: #eeaf42;
}
.login-user #create-account a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #eeaf42;
  transition: width 0.3s ease;
}
.login-user #create-account a:hover:before {
  color: #eeaf42;
  width: 100%;
}
.login-user button {
  width: 100%;
  margin-bottom: 3rem;
}
.login-user button:hover {
  background-color: #272727;
}

#l-login {
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
}

#r-login {
  background-image: url("../images/login2.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  padding: 5rem 5rem 3rem 5rem;
}

/*# sourceMappingURL=user.css.map */
