{% extends 'base.html.twig' %}

{% block title %}List Expositions{% endblock %}
{% block meta %}List Expositions{% endblock %}

{% block body %}

<h1>Expostions list (ongoing ones)</h1>


<p>Want to be the next artist to showcase your work?</p>
<p>Make a request : <a href="{{ path('new_exposition_proposal') }}">Make a request</a></p>

{% endblock %}
