{% extends 'base.html.twig' %}

{% block title %}Make a exposition request{% endblock %}
{% block meta %}Make a exposition request{% endblock %}

{% block body %}

<h1>Exposition request</h1>



{{ form_start(formAddExpoProposal) }}
    {{ form_errors(formAddExpoProposal) }}

    {{ form_row(formAddExpoProposal.Send) }}

{{ form_end(formAddExpoProposal) }}


{% endblock %}
