{% extends 'base.html.twig' %}

{% block title %}Make a exposition request{% endblock %}
{% block meta %}Submit an artist request for exhibition opportunities on our platform. Showcase your art and reach a broader audience. Join us in promoting creativity !{% endblock %}

{% block body %}

<h1>Exposition request</h1>



{{ form_start(formAddExpoProposal) }}
    {{ form_errors(formAddExpoProposal) }}

    {{ form_row(formAddExpoProposal.Send) }}

{{ form_end(formAddExpoProposal) }}


{% endblock %}
