{% extends 'base.html.twig' %}

{% block title %}Partipate to an exhibition{% endblock %}
{% block meta %}Partipate to an exhibition{% endblock %}

{% block body %}

<h1>Partipate to an exhibition</h1>



{% endblock %}
