{% extends 'base.html.twig' %}

{% block title %}List artists{% endblock %}

{% block body %}


    <h1>list artists</h1>

    {% for artist in artists %}
        
    <div class="artist-container">
        <p>Name/pseudo: {{ artist.artistName}}</p>
        <p>Art domain: {{artist.artistDiscipline}}</p>
        <div>
            <img src="" alt="picture of the artist">
        </div>

        <p><a href="{{ path('show_artist', {'id': artist.id }) }}">see more</a></p>
    </div>

    {% endfor %}

    <h2>Request:</h2>
{% endblock %}
