{% extends 'base.html.twig' %}

{% block title %}List artists{% endblock %}

{% block body %}


    <h1>list artists</h1>

    <h2>last artists added</h2>


    <h3>All artists </h3>

    {% for artist in artists %}
        

    <div class="artist-container">
        <p>Artist Name: {{ artist.artistInfos.artistName }}</p>
        {# {{ dump(artist)}} #}
        <p>Discipline: {{ artist.artistInfos.discipline }}</p>

        <div>
            <img src="" alt="picture of the artist">
        </div>

        <p><a href="{{ path('show_artist', {'id': artist.id }) }}">see more</a></p>
    </div>

    {% endfor %}

    <h2>Request:</h2>
{% endblock %}
