{% extends 'base.html.twig' %}

{% block title %}List artists{% endblock %}

{% block body %}


    <h1>list artists</h1>

    <div class="artist-container">
        <p>Name/pseudo:</p>
        <p>Art domain:</p>
        <div>
            <img src="#" alt="picture of the artist">
        </div>

        <p><a href=""></a>see more</p>
    </div>

    <h2>Request:</h2>
{% endblock %}
