{% extends 'base.html.twig' %}

{% block title %}Manage my page{% endblock %}

{% block body %}


    {# si pas encore de page mettre : en créer une
    sinon éditer #}

    <h1>My artist page (manage)</h1>


{% endblock %}
