{% extends 'base.html.twig' %}

{% block title %}Manage my page{% endblock %}

{% block body %}


    {# si pas encore de page mettre : en créer une
    sinon éditer #}

    <h1>My artist page (manage)</h1>

    <p>artist name: {{ user.artistName }}</p>
    <p>Discipline: {{user.artistDiscipline}}</p>

    <p><a href=" {{ path('edit_artist', {'id': app.user.id }) }}">Edit info</a></p>

   

    
{% endblock %}
