{% extends 'base.html.twig' %}

{% block title %}Detail artist{% endblock %}

{% block body %}


    <h1>Detail artist</h1>

    <p>name:</p>
    <p>description:</p>
    <p>quote</p>
    <p>bio</p>

    <div class="artist-works">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

    <div class="show-more-artist-work">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

    <h2>Request:</h2>
{% endblock %}
