{% extends 'base.html.twig' %}

{% block title %}Detail artist{% endblock %}

{% block body %}


    <h1>Detail artist</h1>

    {% for artistData in artist %}
        <p>ID: {{ artistData.id }}</p>
        <p>Name: {{ artistData.artistName }}</p>
        <p>Discipline: {{ artistData.artistDiscipline }}</p>
    {% endfor %}



    <div class="artist-works">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

    <div class="show-more-artist-work">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

   
{% endblock %}
