{% extends 'base.html.twig' %}

{% block title %}list of art studio {% endblock %}
{% block meta %}list of art studio {% endblock %}

{% block body %}

    <h1>List of Art Studios</h1>

    <div class="ongoing-events">

        {% for studio in studios %}
            <div>
                <p>
                    <span class="name">{{studio.name}}</span> 
                </p>
                 
                <p>{{studio.description}}</p>                
    
                <a href="{{ path('show_studio', {'id' : studio.id }) }}">See details <i class="fa-solid fa-plus"></i></a>
                <hr>
            </div>
            {% endfor %}

    </div>

    <div class="studios-container">
        <div class="studio">
            <img src="{{ asset('images/studios/woodStudio.jpg') }}" alt="">
        </div>
    </div>




{% endblock %}
